.DS_Store
build/
components/
node_modules/
app.yaml.tmp
lib/shaders/*.js
lib/geometry/*.js
!lib/shaders/index.js
!lib/geometry/index.js
lang/arbs/en.arb
lang/arbs/rv.arb
.sass-cache
!.jshintrc
report
public/*/*.min.*
public/lang/*.arb
server.conf
*.sublime-workspace
*.sublime-project