<!doctype html>
<html>
  <head>
    <meta charset='utf8'>
    <title>Boing</title>
    <style>
      {{.Styles}}
    </style>
    <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css' />
  </head>
  <body>

    <div id="wrapper">

      <div id="headBar" class="">
        <div class="headBarContent shareLink">
          Copy and share this link to play a friend:
          <span class="shareUrl"></span>
        </div>
        <div class="headBarContent friendArrived">
          <span>Your friend has arrived</span> <img src="/images/arrivalicon.png" />
        </div>
        <div class="headBarContent opponentPaddle">
          <span>Waiting for friend to choose paddle</span> <img src="/images/arrivalicon.png" />
        </div>
        <!-- LOGIN STUFF EXCLUDED FROM BETA 1
        <div class="active state MainMenu">
          {{ if .User }}
            <span class="userName">{{.User}}</span> <a class="button" id="signOutButton" href="{{.LoginLogoutLink}}">Sign out</a>
          {{ else }}
            <a class="button" id="signInButton" href="{{.LoginLogoutLink}}">Sign in</a>
          {{ end }}
        </div>
        -->
      </div>

      <div id="content">

        <!-- LOADING -->

        <div class="state Loading">
        </div>

        <!-- THE LOBBY -->

        <a id="chromeTechLink" href="http://google.com/" target="_blank">
          <small>About</small><br />
          Google Chrong<br />
          Technology
        </a>

        <a id="chromeExperimentLink" href="http://google.com/" target="_blank">
          <small>This is a</small>
          <p>
            Chrome<br />
            Experiment
          </p>
        </a>

        <div id="mainmenu" class='state MainMenu'>
          <div id="title">
            <h1 class="copy"><span>Pong Realtime Multiplayer test</span></h1>
          </div>

          {{ if .RoomFull }}
            <p>
              Your friend is playing against someone else right now.<br />
              Try out the single player game!
            </p>
          {{ else }}
            <p class="multi"><span class="slave">Your friend is waiting for you to join this Game Room!</span></p>
            <p class="single">
              {{ if .NotViaSlash }}
                Nobody is playing in this room right now.<br />
                Try out the single player game!
              {{ end }}
            </p>

          {{ end }}
          <div class="buttonWrapper">
            <button class='play'><span class="single">Start Game</span><span class="multi">Play friend</span></button>
          </div>


        </div>

        <!-- CAMERA REQUEST ATTENTION -->

        <div id="cameraRequestAttention" class="state WebcamActivation">
          <img src="/images/cameraRequestAttention.gif" />
        </div>


        <!-- CHOOSE PADDLE -->

        <div class="inactive state PaddleSetup" id="paddleSelection">
          <div class="dialog">
            <div class="content">
              <h2>Choose Paddle</h2>
              <p>Hold up your hand and press scan.</p>
              <p>Or even better: Find a <span class="green">colorful item</span> to scan and use as paddle :-)</p>
              <button id="scanButton" class="green">Start Scan</button>
              <p>
                Or use the <a class="alternative button">keyboard</a>for playing
              </p>
            </div>
          </div>
        </div>

        <!-- COUNTDOWN -->

        <div class="state GameStart">
          <span id="gamestartCountdown"></span>
        </div>

        <!-- INSTRUCTION FOR GAMEPLAY -->

        <!-- INVITE FRIEND BUTTON -->

        <!-- INVITE FRIEND / PAUSE DIALOG -->

        <!-- LEVEL MSG -->

        <!-- GAME OVER DIALOG -->

        <div class="inactive state GameOver">
          <div class="dialog">
            <div class="content">
              <h2>Game Over</h2>
              <p>
                Share this link with a friend: <input type="text" value="" class="shareUrl" />
              </p>
              <button class="play">Play Computer</button>
              <button class="paddleSetup">Paddle Setup</button>
              <button>Score Board</button>
            </div>
          </div>
        </div>

        <!-- FRIEND CHOOSING PADDLE PAUSE -->

        <!-- PLAY FRIEND BUTTON -->


        <!-- 2 PLAYER GAME OVER -->

        <!-- YOUR FRIEND LEFT THE ROOM -->



        <!-- GAME STUFF -->

        <div id="settingsGUIContainer">
          <div id="monitorFinalContainer"></div>
        </div>
        <div id="colorSelectContainer">
          <div id="colorSelectArea">
            <div id="colorSelectCenter"></div>
          </div>
          <div id="marker"></div>
          <video id="videoInput"></video>
        </div>

        <div id="game">
          <canvas id="canv-3d" width="320" height="480"></canvas>
          <canvas id="canv-2d" width="320" height="480"></canvas>
          <video id="remoteInput" width="160" height="120" autoplay class='hidden'></video>
        </div>

        <div id="footer">
           <div id="socials">
             <div class="googleplus"><span>Google Plus</span></div>
             <div class="facebook"><span>Facebook</span></div>
             <div class="twitter"><span>Twitter</span></div>
             <div class="something"><span>Something</span></div>
           </div>
           <div id="footMenu">
              <ul>
                <li><a href="#">Terms &amp; privacy</a></li>
                <li><a href="#">EN / GE</a></li>
                <li><a href="#" class="soundSwitch">Sound off</a></li>
              </ul>
           </div>
        </div>

        <!-- DEBUG YADA YADA -->

        <div class='info'>
          <ul>
            <li>Waiting for player...<span id="hos" class='hidden'>as host</span></li>
            <li id='ful' class='hidden'>Room full</li>
            <li id='con' class='hidden'>Player connected <span id='vid' class='hidden'>with video</span></li>
            <li id='syn' class='hidden'>Synchronizing <span id='sync'>...</span></li>
            <li id='sta' class='hidden'>Starting in <span id='countdown'>5</span></li>
            <li id='go' class='hidden'>Go!</li>
          </ul>
        </div>

      </div>
    </div>

    <!-- SCRIPTING -->

    <div id="#statsDebug" style="display:none"></div>

    <script>
      var conferenceRoom = "{{.Room}}"
        , channelToken = "{{.ChannelToken}}";
      window.CHANNEL_HOST = 'ec2-176-34-161-202.eu-west-1.compute.amazonaws.com:8000';
    </script>
    <script>
      // Expected globals:
      var globals = Object.keys(window).concat([
        'require','$','jQuery','THREE', 'TWEEN', 'Stats',
        'dat', 'console', 'checkGlobalLeaks'
      ]);
    </script>
    <script src="/_ah/channel/jsapi"></script>
    <script src="javascript/libs/jquery-1.8.1.min.js"></script>
    <script src='javascript/libs/three.js'></script>
    <script src='javascript/libs/Stats.js'></script>
    <script src='javascript/libs/Tween.js'></script>
    <script src="javascript/libs/dat.gui.min.js"></script>
    <script src="javascript/libs/datachannel.js"></script>
    <script src='./build/build.js'></script>
    <script> require('verlet-sim')() </script>
    <script>
      // Crashing in my Chrome Stable:
      /*
      function checkGlobalLeaks(){
        var leaks = Object.keys(window).filter(function(k){return !~globals.indexOf(k)})
        console.log('leaks?',leaks)
      }
      setTimeout(function(){
        checkGlobalLeaks()
      },1000)
      */
    </script>
  </body>
</html>
