- var name = "Paddle Battle";

!!! 5
html(lang='en')
  head
    meta(name='apple-mobile-web-app-capable',content='yes')
    meta(name='viewport',content='initial-scale=1, maximum-scale=1, minimum-scale=1')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    title #{name}
    link(rel='apple-touch-icon', href='/images/minipong.png')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Varela')
    link(rel='stylesheet', href='/stylesheets/pong.css')

  body
    header.state.main-menu
      hgroup
        h2 Welcome to
        h1.copy
          img(src='/images/logo_large.png', width='1533', height='155', alt='#{name}')
        h3 a chrome experiment

      p.full
        span.bubble(arb:id="friendPlayingSomeoneElse") Your friend is playing against someone else right now.

      .nav
        p.multiplayer
          span.slave(arb:id='friendIsWaiting') Your friend is waiting for you to join this Game Room!
        button.play-friend.green(arb:id='playFriendButton') Play friend
        button.play-computer.green Play Computer

      .links
        a.tech(href='http://google.com/', target='_blank')
          small About
          br
          |  #{name}
          br
          | Technology
        a.experiment(href='http://google.com/', target='_blank')

    .state.loading
      .center
        .webcam-spinner__quarter
          .icon-quarter-circle

    //GAME INSTRUCTIONS
    .state.game-info.inactive
      .dialog.middle
        .content
          .game-controls.vertical-center
            h2 Game controls
            p Play using
            div.animation
              .kb-anim
                .dash-big.dash-black
                .key.key--small.default-key-anim
                  .key__label.icon-arrow-left
                  .key__bg-outer
                    .key__bg-inner
                div.key.key--small
                  .key__label.icon-arrow-right
                  .key__bg-outer
                    div.key__bg-inner
              p or
              .mouse-anim
                .dash-big.dash-black
                .icon-mouse
              p or press
              .key.key--big.default-key-anim
                p.key__label SPACE
                .key__bg-outer
                  div.key__bg-inner
              p to pause
            button.green.play Start

          .vertical-center
            .info-animation.hidden
              //GAME INFO ANIMATION
              .destroy-shield__label
                  p Destroy the shield
                  p Hit'em in the face !
              .destroy-shield
                .destroy-shield__anim-container
                  .destroy-shield__wall
                    .destroy-shield__eyes
                      .dash-black
                      .dash-black
                    .destroy-shield__shields
                      .dash-tall.dash-black
                      .dash-tall.dash-black
                      .dash-tall.dash-black

                  .destroy-shield__weapon.icon-destroy-shield-weapon

    //INVITE FRIEND
    .state.friend-invite.inactive
      .dialog.middle
        .content
          .vertical-center
            h2 share this link to Invite a Friend
            input.share-url(type='text', value='')
            input#share-url.notimplemented(type='button', value='Copy')
            p We'll let you know when your friend arrives.
              a.return-mainmenu Back

    //COUNTDOWN
    .state.game-play.inactive
      .content.center
        .countdown
          .countdown-number(data-number='1')
          .countdown-number(data-number='2')
          .countdown-number(data-number='3')

    //PAUSE DIALOG
    .state.game-pause.inactive
      .dialog
        .content
          .vertical-center
            h2 Paused
            button.blue.play-friend Play Friend
            button.singleplayer.green.play Resume (space)

    //CAMERA REQUEST ATTENTION
    .state.webcam-activate.inactive
      .dialog.top
        .content
          span.alert-icon.red
          .alert-info Please choose allow to connect your webcam and start friends play

    .state.webcam-information.inactive
      .dialog.top
        .content
          span.alert-icon.red
          span.alert-info Are you sure? Friends play is not possible without allowing webcam.
          span
            a#activate-camera Activate Camera

    //WAITING FOR FRIEND CAMERA
    .state.webcam-waiting.inactive
      .dialog.middle
        .content
          .vertical-center
            .webcam-spinner
              .webcam-spinner__bg.icon-webcam
              .webcam-spinner__quarter
                .icon-quarter-circle
            h2 Waiting for friend<br/>to activate camera

    //WAITING FRIEND
    .state.friend-waiting.inactive
      .dialog.middle
        .content
          .vertical-center
            .cpu-wth-eyes
              .cpu-wth-eyes__bg.icon-computer
              .cpu-wth-eyes__container
                .cpu-wth-eyes__eyes
                  .dash-medium.dash-white.blinking-eyes-anim-loop
                  .dash-medium.dash-white.blinking-eyes-anim-loop
            h2 Your friend is waiting for you in the arena
            button.play-friend.blue Play Friend

    //WAITING FRIEND ACCEPT
    .state.friend-accept.inactive
      .dialog.middle
        .content
          .vertical-center
            .cpu-wth-eyes
              .cpu-wth-eyes__bg.icon-computer
              .cpu-wth-eyes__container
                .cpu-wth-eyes__eyes
                  .dash-medium.dash-white.blinking-eyes-anim-loop
                  .dash-medium.dash-white.blinking-eyes-anim-loop
            h2 Waiting for you friend to accept
            button.return-mainmenu.blue Back

    //FRIEND ARRIVED
    .state.friend-arrived.inactive
      .dialog.middle
        .content
          .vertical-center
            .cpu-wth-eyes
              .cpu-wth-eyes__bg.icon-computer
              .cpu-wth-eyes__container
                .cpu-wth-eyes__eyes
                  .dash-medium.dash-white.blinking-eyes-anim-loop
                  .dash-medium.dash-white.blinking-eyes-anim-loop
            h2 Your friend has arrived
            button.play-friend.blue Play Friend

    //OPPONENT LEFT DIALOG
    .state.friend-left.inactive
      .dialog
        .content
          .vertical-center
            h2 Your friend left the game
            button.blue.play-friend Play Friend
            button.green.play Play Computer (Space)

    //GAME OVER
    .state.game-over.inactive
      img.key(src='/images/game_over.png')
      div
        .dialog
          .content
            #scoreboard-single.vertical-center
              h2 Your Points
              .scoreboard.single
                  div Levels Played
                  #highscore-levels.highscoreDigit X
                  #share-score
                    h3 Share
                    ul.social
                      li
                        a.icon.notimplemented(data-icon='g')
                          span Google plus
                      li
                        a.icon.notimplemented(data-icon='f')
                          span Facebook
                      li
                        a.icon.notimplemented(data-icon='t')
                          span Twitter
                  #highscore-rally.highscoreDigit X
                  div Longest Rallies

              button.blue.play-friend Play Friend
              button.green.play Play Again (Space)

            #scoreboard-multi.vertical-center
              h2 Your Points
              .scoreboard.multiplayer
                  img(src='/images/temp_scoreboard_multi.gif')
              button.green.play Play Again (Space)

    #scores.state.game.inactive
      .logo
        img(src="/images/minipong.png")
        p #{name}
        p.level Level 1
        p.frame 0

      .multiplayer
        .player
          p You
          ol
            li
            li
            li

        .opponent
          p Friend
          ol
            li
            li
            li

      .singleplayer
        .player
          p You
          ol
            li
            li
            li

        .opponent
          p CPU
          ol
            li
            li
            li

    #game
      canvas#canv-3d(width='320',height='480')
      canvas#canv-2d(width='320',height='480')
      video#remoteInput.hidden(width='160',height='120',autoplay)
      video#localInput.hidden(width='160',height='120',autoplay)

      #canv-css
        .background
          img(data-src-mobile='/images/css/mobile_fullbg-small.jpg', data-src-tablet='/images/css/mobile_fullbg.jpg')
        .game-board
          .arena

    #gamepad.state.game
      .button.left
      .button.right

    footer#footer
      ul#socials.social
        li
          a.icon.notimplemented(data-icon='g')
            span Google plus
        li
          a.icon.notimplemented(data-icon='f')
            span Facebook
        li
          a.icon.notimplemented(data-icon='t')
            span Twitter
        li
          a.icon.notimplemented(data-icon='p')
            span Pininterest
      #footMenu
        ul
          li
            a#pointer-lock Mouse lock on
          li
            a.notimplemented Terms &amp; privacy
          li
            a#localizationSwitch(href='#') EN
          li
            a.sound-switch.on(href='#')
              span.off Sound on
              span.on Sound off


    #settingsGUIContainer
      #settingsDataGUI
      #settingsLevelsGUI
      #uiTopContent


    script(src='/_ah/channel/jsapi')
    script(src='/javascript/libs/three.js')
    script(src='/javascript/libs/TweenMax.min.js')
    script(src="/javascript/libs/dat.gui.js")
    script(src='/javascript/pong.js')
    script
      require('paddle-battle')({
        room: '{{.Room}}',
        acceptLanguage: 'en,{{.AcceptLanguage}}'
      })
