!!! 5
html(lang='en')
  head
    link(rel='stylesheet', href='/build/build-stylus.css')

  body

    header#mainmenu.state.main-menu
      hgroup
        h2 Welcome to
        h1.copy
          img(src="/images/logo_large.png", width="1533", height="155")
        h3 a chrome experiment

      nav
        p.multiplayer
          span.slave(arb:id='friendIsWaiting') Your friend is waiting for you to join this Game Room!
        button.playFriend.green(arb:id="playFriendButton") Play friend
        button.playComputer.green Play Computer

    div#settingsGUIContainer
      div(id="settingsDataGUI")
      div(id="settingsLevelsGUI")
      div(id="uiTopContent")
      video(id="videoInput")

    #canv-css
      .background
      .game-board
        .arena
          .paddle
          #center

  script(src="/_ah/channel/jsapi")
  script(src='/javascript/libs/three.js')
  script(src='/javascript/libs/Stats.js')
  script(src='/javascript/libs/Tween.js')
  script(src='/javascript/libs/TweenMax.min.js')
  script(src="/javascript/libs/dat.gui.js")
  script(src='/build/build.js')
  script
    require('paddle-battle')({
      room: "{{.Room}}",
      acceptLanguage: "en,{{.AcceptLanguage}}"
    })
