// ==========================================================================
// COUNTDOWN ANIMATION
// ==========================================================================

$countdown-spacing: 2px;
@import "countdown/*.png";
@include all-countdown-sprites;
$countdown: sprite-map("countdown/*.png");

$img_width: 988px;
$img_height: 716px;
$anim_duration: 1s;

// ANIMATIONS
// ==========================================================================

@include keyframes(countdown-transition) {
  92% {
    @include transform(scale(1) translate(0, 0));
    opacity: 1;
  }
  100% {
    @include transform(scale(1.3) translate(0, 0));
    opacity: 0;
  }
}


// STYLES
// ==========================================================================
.countdown {
  position: relative;
}

.countdown__num {
  @include animation(countdown-transition $anim_duration ease-out normal);
  position: absolute;
  width: $img_width;
  height: $img_height;

  // default values, before animation
  @include transform(scale(0.3) translate(0, 90px));
  opacity: 0;

  // for each number: apply a icon and a anim delay
  $i: 3; $j: 0;
  @while $i > 0 {
    &[data-number="#{$i}"] {
      @include countdown-sprite("countdown_#{$i}");
      @include animation-delay(($anim_duration - 0.1s) * $j);
    }
    $i: $i - 1;
    $j: $j + 1;
  }
}