@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";

$icons-spacing: 2px;
@import "icons/*.png";
@include all-icons-sprites;
$icons: sprite-map("icons/*.png");

// MIXINS
// ==========================================================================

@mixin icons-values($name) {
  @include icons-sprite($name);
  height: icons-sprite-height($name);
  width: icons-sprite-width($name);
}

// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation-name($name) {
  -webkit-animation-name: $name;
  -moz-animation-name: $name;
  -ms-animation-name: $name;
  -o-animation-name: $name;
  animation-name: $name;
}

@mixin animation-iteration-count($value) {
  -webkit-animation-iteration-count: $value;
  -moz-animation-iteration-count: $value;
  -ms-animation-iteration-count: $value;
  -o-animation-iteration-count: $value;
  animation-iteration-count: $value;
}

@mixin animation-duration($value) {
  -webkit-animation-duration: $value;
  -moz-animation-duration: $value;
  -ms-animation-duration: $value;
  -o-animation-duration: $value;
  animation-duration: $value;
}

@mixin animation-fill-mode($value) {
  -webkit-animation-fill-mode: $value;
  -moz-animation-fill-mode: $value;
  -ms-animation-fill-mode: $value;
  -o-animation-fill-mode: $value;
  animation-fill-mode: $value;
}

@mixin animation-delay($value) {
  -webkit-animation-delay: $value;
  -moz-animation-delay: $value;
  -ms-animation-delay: $value;
  -o-animation-delay: $value;
  animation-delay: $value;
}

@mixin transition-timing-function($value) {
  -webkit-transition-timing-function: $value;
  -moz-transition-timing-function: $value;
  -ms-transition-timing-function: $value;
  -o-transition-timing-function: $value;
  transition-timing-function: $value;
}

@mixin animation-direction($value) {
  -webkit-animation-direction: $value;
  -moz-animation-direction: $value;
  -ms-animation-direction: $value;
  -o-animation-direction: $value;
  animation-direction: $value;
}


// KEYFRAMES
// ==========================================================================

@include keyframes(rotate) {
  0% {
    @include rotate(0deg);
  }
  50% {
   @include rotate(180deg);
  }
  55% {
    @include rotate(180deg);
  }
  100% {
    @include rotate(360deg);
  }
}

@include keyframes(blinking) {
  20% {
    @include scaleY(1);
  }
  30% {
   @include scaleY(0);
  }
  40% {
    @include scaleY(1);
  }
  45% {
   @include scaleY(0);
  }
  50% {
    @include scaleY(1);
  }
}

// ICONS
// ==========================================================================

.icon-webcam {
  @include icons-values("cam");
}

.icon-quarter-circle {
  @include icons-values("cam__spinner");
}

.icon-computer {
  @include icons-values("computer");
}


// DASHES
// ==========================================================================

.dash-white { background: #fff; }
.dash-black { background: #000; }

.dash-big {
  width: 40px;
  height: 10px;
}

.dash-medium {
  width: 20px;
  height: 8px;
}

.dash-small {
  width: 12px;
  height: 10px;
}


// WEBCAM SPINNER
// ==========================================================================

%rotate-loop-anim {
  @include animation-name(rotate);
  @include animation-duration(2s);
  @include animation-fill-mode(both);
  @include animation-iteration-count(infinite);
}

.webcam-spinner {
}

.webcam-spinner__bg {
  position: absolute;
  margin: (icons-sprite-height("cam__spinner") / 2) 0 0 (icons-sprite-width("cam__spinner") / 2);
}

.webcam-spinner__quarter {
  @extend %rotate-loop-anim;
  height: icons-sprite-height("cam__spinner") * 2;
  width: icons-sprite-width("cam__spinner") * 2;
}


// COMPUTER WITH EYES
// ==========================================================================

.cpu-wth-eyes {
  height: icons-sprite-height("computer");
  width: icons-sprite-width("computer");
}

.cpu-wth-eyes__bg {
  position: absolute;
}

.cpu-wth-eyes__container {
  position: relative;
}

.cpu-wth-eyes__eyes {
  position: absolute;
  top: 50px;
  left: 38px;

  &>div {
    display: inline-block;

    &:first-of-type {
      margin-right: 12px;
    }
  }
}


// COMPUTER CONNECTION LOOP ANIMATION
// ==========================================================================

%blinking-eyes-anim {
  @include animation-name(blinking);
  @include animation-duration(2s);
  @include animation-fill-mode(both);
}

%up-and-down-anim {
  @include animation-name(up-and-down);
  @include animation-duration(400ms);
  @include animation-fill-mode(both);
}

.cpu-conn-anim {
  position: relative;

  &>div {
    display: inline-block;
  }
}

.dash-anim-line {
  position: relative;
  vertical-align: top;
  top: 70px;
  margin: 0 10px;

  &>div {
    display: inline-block;
    margin-right: 7px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.play-anim, .reverse-anim {
  .cpu-wth-eyes__eyes > div {
    @extend %blinking-eyes-anim;
  }

  .dash-anim-line > div {
    @extend %up-and-down-anim;
  }
}

.play-anim {
  .cpu-wth-eyes:last-of-type .cpu-wth-eyes__eyes > div {
    @include animation-delay(1.4s);
  }

  @for $i from 0 through 10 {
    .dash-anim-line > div:nth-of-type(#{$i}) {
      @include animation-delay(750ms + 100 * $i)
    }
  }
}

.reverse-anim {
  .cpu-wth-eyes:first-of-type .cpu-wth-eyes__eyes > div {
    @include animation-delay(1.4s);
  }

  $i: 10;
  $j: 0;
  @while $i > 0 {
    .dash-anim-line > div:nth-of-type(#{$i}) {
      @include animation-delay(750ms + 100 * $j)
    }
    $i: $i - 1;
    $j: $j + 1;
  }
}

