@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";

@import "mixins";

$icons-spacing: 2px;
@import "icons/*.png";
@include all-icons-sprites;
$icons: sprite-map("icons/*.png");


%infinite-anim {
  @include animation-fill-mode(both);
  @include animation-iteration-count(infinite);
}

// ICONS
// ==========================================================================

.icon-webcam {
  @include icons-values("cam");
}

.icon-quarter-circle {
  @include icons-values("cam__spinner");
}

.icon-computer {
  @include icons-values("computer");
}

.icon-arrow-left {
  @include icons-values("key-arrow-left");
}

.icon-arrow-right {
  @include icons-values("key-arrow-right");
}

// DASHES
// Differents size and colors
// ==========================================================================

.dash-white { background: #fff; }
.dash-black { background: #000; }

.dash-big {
  width: 30px;
  height: 6px;
}

.dash-medium {
  width: 14px;
  height: 4px;
}

.dash-small {
  width: 14px;
  height: 6px;
}


// WEBCAM SPINNER
// ==========================================================================

// Spiner animation
//
@include keyframes(spinner-rotate) {
  0% { @include rotate(0deg); }
  100% { @include rotate(360deg); }
}

%spinner-rotate-loop-anim {
  @extend %infinite-anim;
  @include animation-name(spinner-rotate);
  @include animation-duration(1.5s);
}

.webcam-spinner {
}

.webcam-spinner__bg {
  position: absolute;
  margin: (icons-sprite-height("cam__spinner") / 2) 0 0 (icons-sprite-width("cam__spinner") / 2);
}

.webcam-spinner__quarter {
  @extend %spinner-rotate-loop-anim;
  height: icons-sprite-height("cam__spinner") * 2;
  width: icons-sprite-width("cam__spinner") * 2;
}


// COMPUTER WITH EYES
// ==========================================================================

// Just a computer with eyes whithout any anim.
//
.cpu-wth-eyes {
  height: icons-sprite-height("computer");
  width: icons-sprite-width("computer");
}

.cpu-wth-eyes__bg {
  position: absolute;
}

.cpu-wth-eyes__container {
  position: relative;
}

.cpu-wth-eyes__eyes {
  position: absolute;
  top: 24px;
  left: 15px;

  &>div {
    display: inline-block;

    &:first-of-type {
      margin-right: 5px;
    }
  }
}


// COMPUTER CONNECTION LOOP ANIMATION
// ==========================================================================

// Eyes blinking animation.
//
@include keyframes(cpu-blinking) {
  20% { @include scaleY(1); }
  30% { @include scaleY(0.2); }
  40% { @include scaleY(1); }
  45% { @include scaleY(0.2); }
  50% { @include scaleY(1); }
}

%cpu-blinking-eyes-anim {
  @include animation-name(cpu-blinking);
  @include animation-duration(2s);
  @include animation-fill-mode(both);
}

.blinking-eyes-anim-loop {
  @extend %infinite-anim;
  @extend %cpu-blinking-eyes-anim;
}

// Sad eyes animation.
//
@include keyframes(cpu-sad-right-eye) {
  10% { @include transform(scaleY(1) rotate(0deg)); }
  20% { @include transform(scaleY(0.2) rotate(0deg)); }
  30% { @include transform(scaleY(1) rotate(0deg)); }
  35% { @include transform(scaleY(0.2) rotate(0deg)); }
  40% { @include transform(scaleY(1) rotate(0deg)); }
  60% { @include transform(scaleY(1) rotate(20deg)); }
  94% { @include transform(scaleY(1) rotate(20deg)); }
  100% { @include transform(scaleY(1) rotate(0deg)); }
}

@include keyframes(cpu-sad-left-eye) {
  10% { @include transform(scaleY(1) rotate(0deg)); }
  20% { @include transform(scaleY(0.2) rotate(0deg)); }
  30% { @include transform(scaleY(1) rotate(0deg)); }
  35% { @include transform(scaleY(0.2) rotate(0deg)); }
  40% { @include transform(scaleY(1) rotate(0deg)); }
  60% { @include transform(scaleY(1) rotate(-20deg)); }
  94% { @include transform(scaleY(1) rotate(-20deg)); }
  100% { @include transform(scaleY(1) rotate(0deg)); }
}

%cpu-sad-eyes {
  @extend %infinite-anim;
  @include animation-duration(3s);
}

%cpu-sad-left-eye-anim {
  @extend %cpu-sad-eyes;
  @include animation-name(cpu-sad-left-eye);
}

%cpu-sad-right-eye-anim {
  @extend %cpu-sad-eyes;
  @include animation-name(cpu-sad-right-eye);
}

.sad-left-eye-anim-loop {
  @extend %cpu-sad-left-eye-anim;
  @include transform-origin(100%, 50%);
}

.sad-right-eye-anim-loop {
  @extend %cpu-sad-right-eye-anim;
  @include transform-origin(0%, 50%);
}

// Dashes animation for the wave effect.
//
@include keyframes(up-and-down) {
  0% { @include translate(0, 0px); }
  50% { @include translate(0, -20px); }
  100% { @include translate(0, 0px); }
}

%up-and-down-anim {
  @include animation-name(up-and-down);
  @include animation-duration(400ms);
  @include animation-fill-mode(both);
}

// Computers connection animation.
// Linked by a dash lines which have a wave effect.
//
.cpu-conn-anim {
  position: relative;

  &>div {
    display: inline-block;
  }
}

.dash-anim-line {
  position: relative;
  vertical-align: top;
  top: 70px;
  margin: 0 10px;

  &>div {
    display: inline-block;
    margin-right: 7px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

// Two states managed from a js script:
// - play:
//  > the computer on the left blink eyes
//  > wave on dashes from left to right
//  > the computer on the right blink eyes
//
// - reverse:
//  > the computer on the right blink eyes
//  > wave on dashes from right to left
//  > the computer on the left blink eyes
//
// It was to tricky to have a perfect sync without using
// a JS script.
//
.play-anim, .reverse-anim {
  .cpu-wth-eyes__eyes > div {
    @extend %cpu-blinking-eyes-anim;
  }

  .dash-anim-line > div {
    @extend %up-and-down-anim;
  }
}

.play-anim {
  .cpu-wth-eyes:last-of-type .cpu-wth-eyes__eyes > div {
    @include animation-delay(1.4s);
  }

  @for $i from 0 through 10 {
    .dash-anim-line > div:nth-of-type(#{$i}) {
      @include animation-delay(750ms + 100 * $i)
    }
  }
}

.reverse-anim {
  .cpu-wth-eyes:first-of-type .cpu-wth-eyes__eyes > div {
    @include animation-delay(1.4s);
  }

  $i: 10;
  $j: 0;
  @while $i > 0 {
    .dash-anim-line > div:nth-of-type(#{$i}) {
      @include animation-delay(750ms + 100 * $j);
    }
    $i: $i - 1;
    $j: $j + 1;
  }
}


// KEY
// ==========================================================================

.key {
  position: relative;
}

.key__label {
  position: absolute;
  font-size: 11px;
  font-family: "Arial"; // TODO: put the right font
  text-align: center;
}

.key__bg-inner {
  @include border-radius(6px);
  position: absolute;
  border: 2px solid #000;
  border-top: 0;
  margin-left: 2px;
  margin-top: -1px;
}

.key__bg-outer {
  @include border-radius(8px);
  border: 3px solid #000;
}

.key--small {
  .key__bg-inner {
    width: 44px;
    height: 43px;
  }

  .key__bg-outer {
    width: 52px;
    height: 48px;
  }

  .icon-arrow-left {
    margin: 21px 0 0 24px;
  }

  .icon-arrow-right {
    margin: 21px 0 0 24px;
  }
}

.key--big {
  .key__label {
    margin-top: 20px;
  }

  .key__bg-inner {
    width: 128px;
    height: 43px;
  }

  .key__label,
  .key__bg-outer {
    width: 135px;
    height: 46px;
  }
}


// Keyboard animation
// ==========================================================================

// Dash animation. Move from right to left.
//
$xmax: 80px;
@include keyframes(dash-right-to-left-to-right) {
  10% { @include translate(0, 0); }
  47% { @include translate($xmax, 0); }
  53% { @include translate($xmax, 0); }
  100% { @include translate(0, 0); }
}

%dash-right-to-left-to-right-anim {
  @extend %infinite-anim;
  @include animation-name(dash-right-to-left-to-right);
  @include animation-duration(3s);
}

// Key left animation.
// Fade on the inner border + move the arrow
//
@include keyframes(keyleft-fade-in-out) {
  10% { opacity: 1; }
  35% { opacity: 1; }
  47% { opacity: 0; }
  87% { opacity: 0; }
  100% { opacity: 1; }
}

%keyleft-fade-in-out-anim {
  @extend %infinite-anim;
  @include animation-name(keyleft-fade-in-out);
  @include animation-duration(3s);
}

@include keyframes(keyleft-arrow-up-down) {
  10% { @include translate(0, -2px); }
  35% { @include translate(0, -2px); }
  47% { @include translate(0, 0); }
  87% { @include translate(0, 0); }
  95% { @include translate(0, -2px); }
}

%keyleft-arrow-up-down-anim {
  @extend %infinite-anim;
  @include translate(0, -2px);
  @include animation-name(keyleft-arrow-up-down);
  @include animation-duration(3s);
}

// Key right animation.
// Fade on the inner border + move the arrow
//
@include keyframes(keyright-fade-out-in) {
  10% { opacity: 0; }
  35% { opacity: 0; }
  47% { opacity: 1; }
  87% { opacity: 1; }
  100% { opacity: 0; }
}

%keyright-fade-out-in-anim {
  @extend %infinite-anim;
  @include animation-name(keyright-fade-out-in);
  @include animation-duration(3s);
}

@include keyframes(keyright-arrow-down-up) {
  10% { @include translate(0, 0); }
  35% { @include translate(0, 0); }
  47% { @include translate(0, -2px); }
  92% { @include translate(0, -2px); }
  98% { @include translate(0, 0); }
}

%keyright-arrow-down-up-anim {
  @extend %infinite-anim;
  @include animation-name(keyright-arrow-down-up);
  @include animation-duration(3s);
}

// Key animations
//
.default-key-anim {
  .key__label {
    @extend %keyleft-arrow-up-down-anim;
  }

  .key__bg-inner {
    @extend %keyleft-fade-in-out-anim;
  }
}

.kb-anim {
  position: relative;

  .dash-big {
    @extend %dash-right-to-left-to-right-anim;
    margin-left: 14px;
  }

  .key {
    display: inline-block;
    margin: 15px 20px 0 0;
  }

  // key right
  &>div:nth-of-type(3) {
    .key__label {
      @extend %keyright-arrow-down-up-anim;
    }

    .key__bg-inner {
      @extend %keyright-fade-out-in-anim;
      opacity: 0;
    }
  }
}