@keyframes score-blink
  0%, 100%
    background rgba(0, 0, 0, 0)

  50%
    background rgba(255, 220, 6, 1)


@keyframes shield-label-1
  10%, 40%
    opacity 1

  47%, 100%
    opacity 0

@keyframes shield-label-2
  48%
    opacity 0

  55%, 90%
    opacity 1


@keyframes shield-weapon-translation
  31%
    transform translate(-86px, -28px)
    opacity 1

  25%, 39%, 65%, 100%
    transform translate(0, 0)

  70%
    transform translate(-94px, -28px)
    opacity 1

  71%, 100%
    opacity 0


@keyframes shield-blink
  34%, 39%
    opacity 0

  31%, 36%, 42%
    opacity 1

  45%, 100%
    transform scaleY(1)

  51%, 90%
    transform scaleY(0)



@keyframes shield-wall
  0%, 100%
    background black
  71%, 79%
    background black

  75%
    background rgba(0, 0, 0, 0.2)



@keyframes shield-left-eye
  10%, 14%, 38%, 42%, 74%, 100%
    transform scaleY(1) rotate(0deg)

  12%, 40%
    transform scaleY(0.2) rotate(0deg)

  84%, 94%
    transform scaleY(1) rotate(20deg)



@keyframes shield-right-eye
  10%, 14%, 38%, 42%, 74%, 100%
    transform scaleY(1) rotate(0deg)

  12%, 40%
    transform scaleY(0.2) rotate(0deg)

  84%, 94%
    transform scaleY(1) rotate(-20deg)


@keyframes up-and-down
  0%, 20%
    transform translate(0, 0px)
  10%
    transform translate(0, -20px)

@keyframes cpu-failed-cross
  0%
    transform scale(0)
  100%
    transform scale(1)


@keyframes loading-ball
  0%, 100%
    transform translate(4px, 55px)

  22%
    transform: translate(58px, 77px)

  30%
    transform translate(40px, 84px)

  44%
    transform translate(4px, 72px)

  64%
    transform translate(58px, 36px)

  70%
    transform translate(50px, 28px)

  89%
    transform: translate(28px, 84px)

@keyframes loading-pad-left
  0%, 100%
    transform translateY(50px)

  22%
    transform translateY(60px)

  30%, 70%
    transform translateY(70px)

  89%
    transform translateY(58px)

@keyframes loading-pad-right
  0%, 100%
    transform translateY(60px)

  22%, 30%
    transform translateY(70px)

  44%
    transform translateY(64px)

  64%, 70%
    transform translateY(32px)

  89%
    transform translateY(54px)

@keyframes webcam-attention
  0%, 100%
    // opacity 1
    transform scale(.8)

  33%
    // opacity .3
    transform scale(.4)

@keyframes extra-active
  0%, 100%
    opacity 1

  50%
    opacity .4


@keyframes swipe-device-animation
  0%, 100%, 27%, 80%
    transform rotate(0deg)
  30%, 77%
    transform rotate(90deg)

@keyframes swipe-game-animation
  0%, 100%, 27%, 80%
    transform rotate(90deg) scale(.7) translate(0, 0)
  50%, 30%, 77%
    transform rotate(90deg) scale(0.6) translate(10px, -12px)

@keyframes swipe-button-left-animation
  0%, 100%, 30%, 77%
    opacity 0
  32%, 48%
    opacity 1
  49%, 75%
    opacity .3

@keyframes swipe-button-right-animation
  0%, 100%, 30%, 77%
    opacity 0
  32%, 48%
    opacity .3
  75%, 49% 
    opacity 1

@keyframes swipe-line-animation
  0%, 100%, 27%, 80%
    transform translate(0,0)
    width 31px
  30%, 77%
    transform translate(12px, 6px)
    width 23px
      
@keyframes swipe-label-1
  0%, 100%, 27%, 80%
    opacity 1

  30%, 77%
    opacity 0

@keyframes swipe-label-2
  0%, 100%, 27%, 80%
    opacity 0

  30%, 77%
    opacity 1


.destroy-shield__label > p, .destroy-shield__wall, .destroy-shield__shields > div:nth-child(1), .destroy-shield__weapon
  animation 5s cubic-bezier(0.42, 0.8, 1, 1) infinite

.destroy-shield
  width 210px
  perspective 800
  position relative

  .wall
    border 2px solid #000
    position absolute
  .wall.top
    width 100%
    height 15px
    transform skewX(45deg) translate(9px, -19px)
    position relative
    border-bottom 0
  .wall.left
    width 15px
    height 100%
    transform skewY(45deg) translate(-19px, -9px)
    position relative
    border-top 0
    border-right 0
    padding-top 3px

.destroy-shield__label
  position relative
  height 20px
  margin-top 80px
  text-transform uppercase
  color $color-red

.destroy-shield__label > p
  position absolute
  opacity 0

.destroy-shield__label > p:nth-child(1)
  animation-name shield-label-1

.destroy-shield__label > p:nth-child(2)
  animation-name shield-label-2

.destroy-shield__anim-container
  position relative
  top 30px
  left 30px

.destroy-shield__wall
  animation-name shield-wall
  transform skewY(-20.6deg)
  position relative
  border 2px solid black
  width 104px
  height 63px

.destroy-shield__eyes
  position absolute
  top 18px
  left 26px

.destroy-shield__eyes > div
  display inline-block
  width 18px
  height 6px

.destroy-shield__eyes > div:nth-child(1)
  animation shield-right-eye 5s infinite
  transform-origin 100% 50%
  margin-right 12px

.destroy-shield__eyes > div:nth-child(2)
  animation shield-left-eye 5s infinite
  transform-origin 0% 50%

.destroy-shield__shields
  transform translate(2px, 10px)
  overflow hidden
  position absolute
  left 4px
  bottom 10px

.destroy-shield__shields > div
  float left

.destroy-shield__shields > div:nth-child(2)
  margin 0 3px

.destroy-shield__shields > div:nth-child(1)
  animation-name shield-blink
  transform-origin left bottom

.destroy-shield__weapon
  animation-name shield-weapon-translation
  position relative
  top 30px
  left 100px

.cpu-conn-failed-anim > div
  display: inline-block

.cpu-conn-failed-anim
  .cpu-wth-eyes
    left inherit
    margin 0

.cpu-conn-failed-anim .cross-fail-anim
  vertical-align: top
  margin-top: 24px

.cpu-conn-failed-anim .dash-anim-line > div
  animation: up-and-down 4s infinite

.cpu-conn-failed-anim div:nth-child(2) > div:nth-of-type(1)
  animation-delay: 300ms

.cpu-conn-failed-anim div:nth-child(2) > div:nth-of-type(2)
  animation-delay: 400ms

.cpu-conn-failed-anim div:nth-child(2) > div:nth-of-type(3)
  animation-delay: 500ms

.cpu-conn-failed-anim div:nth-child(4) > div:nth-of-type(3)
  animation-delay: 320ms

.cpu-conn-failed-anim div:nth-child(4) > div:nth-of-type(2)
  animation-delay: 420ms

.cpu-conn-failed-anim div:nth-child(4) > div:nth-of-type(1)
  animation-delay: 520ms

.cross-fail-anim
  animation cpu-failed-cross 500ms

.loading__anim .ball, .loading__anim .pad
  position absolute
  width 3px
  background $color-beige

.loading__anim
  width 62px
  position absolute
  left 50%
  top 50%
  margin -87px 0 0 -32px

.loading__label
  display none
  margin-top 20px
  color $color-red
  font-size 14px
  text-align center
  text-transform uppercase
  letter-spacing 3px

.loading__anim .ball
  animation loading-ball 2.8s linear infinite both
  transform translate(16px, 44px)
  height 3px

.loading__anim .pad
  height 13px

.loading__anim .pad:nth-child(1)
  animation loading-pad-left 2.8s linear infinite both
  transform translateY(40px)
  left 0

.loading__anim .pad:nth-child(3)
  animation loading-pad-right 2.8s linear infinite both
  transform translateY(55px)
  right 0

.swipe-animation
  position relative
  width 210px
  margin -110px auto 0
  .device
    font-size 92px
    animation swipe-device-animation 7s linear infinite both

  .loading__anim
    position relative
    margin 0
    top -53px
    left 113px
    transform rotate(90deg) scale(.7)
    animation swipe-game-animation 7s linear infinite both

  .dashed-line
    height 1px
    width 31px
    border-top 1px dotted $color-beige
    absolute top 40px left 89px
    animation swipe-line-animation 7s linear infinite both
    content ' '
    display block

  .keys
    position absolute
    top 42px
    left 90px
    width 2px
    height 2px
    .right, .left
      width 8px
      height 8px
      background $color-beige
      position absolute
      content ' '
      border-radius 8px
    .left
      animation swipe-button-left-animation 7s linear infinite both
    .right
      left 37px
      animation swipe-button-right-animation 7s linear infinite both



.swipe-label
  position relative
  top 19px
  line-height 1.4em
  width 240px

  p
    white-space inherit!important
    position absolute
    opacity 0
    animation 7s cubic-bezier(0.42, 0.8, 1, 1) infinite

    &:nth-child(1)
      animation-name swipe-label-1

    &:nth-child(2)
      animation-name swipe-label-2



body.game-prompt-start
  .state.game-prompt
    .background
      background-color $color-green