@media all and (max-width: 850px) and (min-width: 500px)
  .state
    .prompt
      h1, h2, h3, h4
        &.bitmap
          font-size 65px

@media all and (max-width: 499px) and (min-width: 200px)
  .state
    .prompt
      h1, h2, h3, h4
        &.bitmap
          font-size 40px