.dialog
  z-index 50000
  width 100%
  height 33%
  position absolute
  bottom 40px
  margin 0
  padding 0
  perspective 2000px
  text-align: center;

  &.top
    top 0
    height 45px
    text-align left

  &.middle
    bottom 33%
    min-height 266px

  h2
    font-family 'Varela', sans-serif
    color #e83028
    font-weight normal
    margin 0
    font-size 14px
    line-height 25px
    padding 10px 0px 10px 0px

  p
    color #e83028
    font-family 'Varela', sans-serif
    span
      &.green
        color: #2aa52a

  .content
    width 100%
    height 100%
    position absolute
    transform-origin center center
    transition all 0.4s ease-out
    background #f9f9db
    display table

    .vertical-center
      display table-cell
      vertical-align middle

.state.inactive .dialog
  .content
    transform-origin center center
    transform rotateX( 85deg ) translateZ(-400px) translateY(-200px)

  &.top .content
    text-align left
    transform-origin center center
    transform: rotateX( -85deg ) translateZ(-400px) translateY(50px)