.dialog
  z-index 5
  width 100%
  height 33%
  position absolute
  bottom 39px
  margin 0
  padding 0
  perspective 2000px
  text-align center
  transform-style preserve-3d
  backface-visibility hidden
  text-transform uppercase

  h2, h3, h4, h5, p, ul, li
    text-transform uppercase
    margin 0
    padding 0
    border 0
    outline 0
    font-weight inherit
    font-style inherit
    font-family inherit
    vertical-align baseline

  .buttons
    padding-top 20px
    letter-spacing 17px
    button, a.button
      min-width 275px
      margin-top 10px

  &.top
    top 0
    bottom inherit
    height auto
    text-align left

    .content 
      padding 2px 30px 3px
      box-sizing border-box
      display block
      height auto

  &.middle
    bottom 33%
    min-height 266px

  h2, h3
    color $color-red
    font-weight normal
    margin 0
    font-size 14px
    line-height 20px
    padding 5px 0px 10px 0px

  p
    color $color-red

    span
      &.green
        color: $color-dark-green

  .content
    width 100%
    height 100%
    position absolute
    transform-origin center center
    transition all 0.4s ease-out
    transition-delay .3s
    background $color-beige
    display table

    .vertical-center
      display table-cell
      vertical-align middle

  .bubble
    padding-top 35px
    &:before
      font-size 40px
      top -5px
      left 40px
    &:after
      content attr(data-player)
      top 6px
      left 40px
      color #f9f9db
      font-size 15px
      font-weight bold
      letter-spacing 0px

.state.inactive .dialog
  .animate
    transition-delay 0
    //transform rotateX( 85deg ) translateZ(-400px) translateY(-200px)
    transform rotateX(88deg) translateZ(-400px) translateY(-70px)

  // &.top ..animate
  //   text-align left
  //   transform-origin center center
  //   transform rotateX( 85deg )

#notifications
  .dialog
    top -100%
    transition top .5s
    
    &.active
      top 0

