h1, h2, h3
  font-weight normal

ul, ol
  list-style none
  padding 0


button, a.button
  cursor pointer
  font-family 'Varela', sans-serif
  font-size 14px
  line-height 14px
  width: auto
  border-top 5px solid $color-beige
  border-left 5px solid $color-beige
  border-right 5px solid #a7a793
  border-bottom 5px solid #a7a793
  color #449744
  background #e2e2c5
  padding 10px 50px
  text-transform uppercase
  text-decoration none
  letter-spacing 2px
  font-weight bold
  box-sizing border-box
  margin-bottom 10px

  &:hover
    background #d2d2b5
    &.green
      background $color-green
    
    &.blue
      background #4376a7

    &.alternative
      background #e83028
      color #faf9db
      &.green
        background #4daf4d

    &.red
      background-color $color-beige
      border-color $color-red
      color $color-red

  &:active
    &.green
      background #3b873c
      outline-color #3a863b
      border-top-color #2d642b
      border-left-color #2d642b
      border-bottom-color #449745
      border-right-color #449745
      color #faf9da
    &.blue
      background #3d74ac
      outline-color #3d74ac
      border-top-color #20578f
      border-left-color #20578f
      border-bottom-color #4c80b9
      border-right-color #4c80b9
      color #c4c4ac
    &.red
      border-color #aa2b25
      background #aa2b25
      color $color-beige


  &.green
    color $color-beige
    background #4daf4d
    border-top-color #58c458
    border-left-color #58c458
    border-bottom-color #398239
    border-right-color #398239
    outline solid 2px #4daf4d

  &.blue
    color $color-beige
    background #5194d6
    border-top-color #62a5e7
    border-left-color #62a5e7
    border-bottom-color #2e71b3
    border-right-color #2e71b3
    outline: solid 2px #5194d6

  &.red
    border 1px solid transparent
    background $color-red
    color $color-beige

  

  &.alternative
    font-family 'Varela', sans-serif
    font-size 12px
    line-height 12px
    background none

    color #e83028
    border 1px solid #e83028
    padding 5px 12px 6px 12px
    margin 0px 4px 0px 3px
    text-decoration none

    &.green
      background none
      color #4daf4d
      border 1px solid #4daf4d

  &:disabled,
  &.disabled,
  &:disabled:hover
    color #577da3
    background: #31669a !important
    border-color #2c5f91
    outline solid 2px #3e7dbc

a.button
  // padding 8px 50px
  display inline-block
.alert-info
  color #f52c1f
  line-height 1.5em
  font-size 12px
  text-transform uppercase
  padding 3px 44px 1px 44px
  position relative

  &:after
    border-radius 14px
    width 28px
    height 28px
    display block
    background-color #f52c1f
    content ' '
    position absolute 
    left 0
    top 50%
    margin-top -14px
    animation webcam-attention 1s infinite

.keyboard
  margin-left 0.5em