header.main-menu
  position absolute
  z-index 3
  width 100%
  height 100%
  top 0px
  text-align center
  color #f8fadb
  transition opacity 400ms ease-out

  &.delay
    transition-delay 3.5s

  &.active
    opacity 1
    // h1
    //   opacity 1


  &.inactive
    opacity 0
    transition-delay 0s
    // h1
    //   opacity 0

  p
    margin 0
    padding 0

  .nav
    display block
    position absolute
    text-align center
    bottom 90px
    width 100%
    box-sizing border-box
    padding 0 15%
    line-height 20px
    letter-spacing 17px
    clearfix()
    button, a.button
      min-width 275px
      margin-top 10px

    .full
      display none

  .play-mobile
    display none

  .notifications
    max-width 550px
    margin 0 auto 15px
    font-size 11px
    line-height 1.5em
    letter-spacing 2px

    .notification
      display none

  h1
    transform translateZ(0)
    // transition opacity .6s
    padding 60px

  h1
    margin 0

    img
      width 70%
      height auto
      margin-bottom 0

  h2
    font-size 14px
    margin 0
    color $color-beige

  .links
    .experiment
      text-transform none
      display block
      text-decoration none
      position absolute 
      bottom 50px
      font-size 56px
      color #ffffff
      left 20px
      line-height 1.15em

      span
        display none