header.main-menu
  position absolute
  z-index 3
  width 100%
  height 100%
  top 0px
  text-align center
  color #f8fadb
  transition opacity 400ms ease-out

  &.active
    opacity 1

    h1 img
      transition opacity .6s
      opacity 1
      &.delay
        transition-delay 3.5s


  &.inactive
    opacity 0

    h1 img
      opacity 0
      transform translateZ(0)

  p
    margin 0
    padding 0

  .nav
    display block
    position absolute
    text-align center
    bottom 90px
    width 100%
    box-sizing border-box
    padding 0 15%
    line-height 20px
    letter-spacing 17px
    clearfix()
    button, a.button
      min-width 275px
      margin-top 10px

    .full
      display none

  .play-mobile
    display none

  .notifications
    max-width 550px
    margin 0 auto 15px
    font-size 11px
    line-height 1.5em
    letter-spacing 2px

    .notification
      display none


  h1
    padding 60px 0px 10px 0px

    img
      width 70%
      height auto
      margin-bottom 0

  .links
    .experiment, .from
      text-transform none
      display block
      text-decoration none
      position absolute 
      bottom 67px
      font-size 56px
      color #ffffff

      span
        display none

    .from
      right 30px
      font-size 61px

    .experiment
      left 30px
      line-height 1.15em