header.main-menu
  position absolute
  z-index 3
  width 100%
  height 100%
  top 0px
  text-align center
  color #f8fadb

  p
    margin 0
    padding 0

  .nav
    display block
    position absolute
    text-align center
    bottom 90px
    width 100%
    clearfix()

    button
      margin-top 25px
      min-width 275px

      &.play-friend
        margin-right 17px

  .notifications
    width 550px
    margin 0 auto

    .notification
      display none


  hgroup
    overflow hidden
    padding 50px 0px 0px 0px

    h1
      padding 10px 0px 10px 0px
      span
        display none

    h2
      font-size 12px

    img
      width 70%
      height auto
      margin-bottom 0

  .links
    .experiment, .tech
      font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
      text-transform none
      font-size 20px
      line-height 1.05em
      display block
      font-weight 100
      text-decoration none
      absolute bottom 77px

      small
        display block
        font-size 11px
        line-height 16px
        margin 0
        padding 0

    .tech
      min-height 44px
      color #ffffff
      text-align right
      right 30px
      z-index 6
      //padding 0px 70px 0px 0px
      //background url('/images/minipong.png') no-repeat right center
      
    .experiment
      text-decoration none
      text-align left
      width 107px
      color #ffffff
      z-index 6
      left 30px
      margin 0
      padding 0
      //background-image url("/images/chrome-experiment.png")

      p
        display block
        margin 3px 0px 0px 0px
        padding: 0