$footer-height = 47px

#canv-css
  display none
html.mobile
  width 100%
  body
    background linear-gradient(top, 0% #e4e4e4, 50% #e4e4e4, 51% #0088ff, 100% #0088ff)
    width 100%
    height 100%
    position absolute

  #settingsGUIContainer
  , .play-friend
  , .links
  , .multiplayer
  , section.state.game-pause
    display none!important

  .dialog
    bottom $footer-height

  header
    background no-repeat center center
    background-size cover

    h2, h3
      display none

    .nav
      bottom 110px

  #mobile-menu
    absolute top 0 right 0
    button
      width 46px
      min-width 0
      height 46px
      margin 0
      padding 0
      border none
      display block

      &.play, &.pause
        background $color-blue
        color #205688
      &.sound
        background $color-green
        color #306e2b
      &.info
        background $color-yellow
        color #b58d33
      &.pause
        absolute right 0

  .prompt
    h1, h2
      font-size 30px

  footer#footer
    height $footer-height

  #about
    display none

  #canv-pixel
    width 1px
    height 1px
    border 5px solid pink
    background blue
    position absolute
    z-index 3

  #scores
    display block!important
    absolute top 10px left 10px  
    margin 0
    .logo
      h1, img
        display none

    .logo, .multiplayer, .singleplayer
      display inline-block
      vertical-align top
    .multiplayer, .singleplayer
      .player, .opponent
        display inline-block
        margin 0
        margin-left 20px

        li
          width 15px
          height 15px

  #gamepad
    display none
    position absolute
    top 15%
    width 100%
    z-index 100

    .button
      background-color #6bba6b
      width 56px
      height 56px
      border-radius 28px
      box-shadow 0 3px 5px rgba(0,0,0,.3) 
      absolute left 5%

      &:before
        content ' '
        absolute bottom 1px left 2px 
        width 52px
        height 52px
        border-radius 26px
        background-color #4daf4d



      &:active
        background-position top right

      &:last-child
        left auto
        right 5%


  .state
    visibility hidden
    display none
    &.active
      visibility visible
      display block

  .state.game-instructions
    .dialog
      bottom $footer-height
      top 0
      height 100%

  .mobile
    .main-menu 
      width 100%
      height 100%
      position absolute
  .state.game-instructions
    #game-controls
      display none

  #game
    opacity 1
    height 0
    width 0
    left 50%
    top 50%
    overflow visible
    > canvas, > video
      display none

  #canv-css
    display block
    width 1280px
    height 800px
    relative top -380px left -640px
    transform-origin 50% 55%
    .background
      width 2560px
      height 2000px
      z=index 0
      absolute top -1000px left -50%
      img
        width 100%
        height 100%

    .game-board
      width 1280px
      height 800px
      perspective 1200px
      perspective-origin 50% 0%
      // transform translateZ(0)
      // transform-style preserve-3d
      backface-visibility hidden

    .arena
      width 1280px
      height 1600px
      transform rotateX(77.7deg) translateX(0%) translateZ(-273px) translateY(-75%)

      transform-style preserve-3d
      backface-visibility hidden
      // background linear-gradient(bottom, rgba(255,255,0,.9), rgba(255,255,0,.4))
      position absolute
      z=index 1

  .paddle, .p1, .p2
    position absolute
    transform-style preserve-3d
    transform rotateX(90deg) translateX(200px) translateZ(1567px) translateY(-50%)
    backface-visibility hidden
    transform-origin 50% 50% 0

  .shadow
    background black !important
    box-shadow 0 0 5px black

  .extra
    width:128px
    height:128px;
    display inline-block
    overflow hidden
    background-color yellow
    background-repeat no-repeat
    transform-style preserve-3d
    backface-visibility hidden
    transform-origin 50% 50% 0
    position absolute
    display none
    &.multiball
      display inline-block
      background-color transparent
      background-image url('/images/css/multiball.png')
    &.fog
      background-color transparent
      background-image url('/images/css/fog.png')


.puck
  position absolute
  transform rotateX(-90deg) translateX(585px) translateY(-50%) translateZ(880px)
  backface-visibility hidden
  transform-style preserve-3d
  transform-origin 50% 50% 0

@media (orientation: portrait)
  html.mobile 
    #gamepad
      display none

@media (orientation: landscape)
  html.mobile
    #gamepad
      display block!important