html.mobile
  width 100%
  body
    background linear-gradient(top, 0% #e4e4e4, 50% #e4e4e4, 51% #0088ff, 100% #0088ff)
    width 100%
    height 100%
    position absolute

  footer#footer
  , #settingsGUIContainer
  , #scores
  , .play-friend
  , .links
    display none

  .dialog
    bottom 0

  #canv-pixel
    width 1px
    height 1px
    border 5px solid pink
    background blue
    position absolute
    z-index 3


  #gamepad
    display none
    position absolute
    top 15%
    width 100%
    z-index 100

    .button
      background transparent url('/images/css/buttons.png') no-repeat top left
      width 91px
      height 91px

      position absolute
      left 5%


      &:active
        background-position top right

      &:last-child
        left auto
        right 5%


  .state
    visibility hidden
    display none
    &.active
      visibility visible
      display block

  .state.game-play
    .countdown
      width 100%
    .countdown-number
      position relative
      width 100%

  #game
    opacity 1
    height 0
    width 0
    left 50%
    top 50%
    > canvas, > video
      display none

  #canv-css
    width 1280px
    height 800px
    relative top -400px left -640px
    .background
      width 2560px
      height 1600px
      z=index 0
      absolute top -50% left -50%
      img
        width 100%
        height 100%

    .game-board
      width 1280px
      height 800px
      perspective 638px
      perspective-origin 50% 0%
      // transform translateZ(0)
      // transform-style preserve-3d
      backface-visibility hidden

    .arena
      width 1280px
      height 1600px
      transform rotateX(101deg) translateX(0%) translateZ(-40px) translateY(-56%)
      transform-style preserve-3d
      backface-visibility hidden
      // background linear-gradient(bottom, rgba(255,255,0,.9), rgba(255,255,0,.4))
      position absolute
      z=index 1

  .paddle
    position absolute
    transform-style preserve-3d
    transform rotateX(90deg) translateX(200px) translateZ(5px) translateY(-50%)
    backface-visibility hidden
    transform-origin 50% 50% 0

  .shadow
    background black !important
    box-shadow 0 0 5px black

  .extra
    width:128px
    height:128px;
    display inline-block
    overflow hidden
    background-color yellow
    background-repeat no-repeat
    transform-style preserve-3d
    backface-visibility hidden
    transform-origin 50% 50% 0
    position absolute
    display none
    &.multiball
      display inline-block
      background-color transparent
      background-image url('/images/css/multiball.png')
    &.fog
      background-color transparent
      background-image url('/images/css/fog.png')


  .puck
    position absolute
    transform rotateX(-90deg) translateX(580px) translateY(-50%) translateZ(888px)
    backface-visibility hidden
    transform-style preserve-3d
    transform-origin 50% 50% 0

@media (orientation: portrait)
  #gamepad
    display none
@media (orientation: landscape)
  #gamepad
    display block!important