$footer-height = 47px
@keyframes extra-icon-pulse
  0%, 100% 
    transform translate(0, 0px) scale(.9)
  50%
    transform translate(0, -7px) scale(1.1)

@keyframes effect-ghostball-pulse
  0%, 100% 
    opacity .4
  50%
    opacity .1

@keyframes effect-force
  0%
    background-position: -510px -359px
  100%
    background-position: 250px -359px


#canv-css
  display none
html.mobile
  width 100%
  background $color-beige
  .mobile
    display block

  body
    width 100%
    height 100%
    position absolute
    background $color-beige

    &.game-pause
      #gamepad
        opacity .7
      button.pause
        transition-delay 0ms
        transform translateX(100%)

  #settingsGUIContainer
  , .play-friend
  , .play-computer
  , button.main-menu
  , .links
  , .multiplayer
  , section.state.game-pause
  , #extras
    display none!important

  .dialog
    bottom $footer-height

  header
    background no-repeat center center
    background-size cover

    h1
      padding 2% 0 0 0

    .nav
      bottom 70px
      width 100%
      padding 0

      a.button
        display none!important

      button 
        width auto
        min-width 0
        padding-left 15px
        padding-right 15px

    .play-mobile
      display inline-block

    .notifications
      display none


  #mobile-menu
    absolute top 0px right 0
    z-index 2
    button
      width 48px
      height 48px
      min-width 0
      margin 0
      padding 0
      border none
      display block

      &.play, &.pause
        background $color-blue
        color #205688
      &.sound
        background $color-green
        color #306e2b
      &.info
        background $color-yellow
        color #b58d33
      &.pause
        absolute right 0
        z-index 1
        transition transform 250ms
        transition-delay .7s

    .game-pause, .game-play
      transform translateX(0)
      position relative
      z-index 2
      transition transform 300ms ease-out 
      transition-delay 300ms
      display block!important

      &.inactive
        transform translateX(100%)
        transition-delay 0ms

  .state.game-prompt
    .background
      // transition none
      height 60px
      margin-top -30px
      top 50%
      transform translateZ(0)
      backface-visibility hidden

    // .content
    //   transition-duration 0!important
    //   transition-delay .1ms!important

    .prompt
      transform translateZ(0)
      backface-visibility hidden
      h1, h2, h3, h4
        font-size 30px

  footer#footer
    display none
    height $footer-height
    pointer-events none
    a
      pointer-events auto

    ul
      padding 13px 0 0 0
      margin-top 0

      li
        margin-left 13px

        &:first-child
          margin-left 0

    .terms, .localization
      display none

    .technology, .sound
      a
        font-family 'icomoon'
        width 20px
        height 20px
        font-size 12px
        border-radius 3px
        display table-cell
        vertical-align middle
        border 1px solid transparent

        &:before
          display inline-block
          text-align center
          width 100%
          vertical-align middle

      span
        display none!important


    .technology
      // margin-right 10px
      a
        background $color-yellow
        &:before
          content '⌽'
          color #b58d33
    .sound
      a
        background $color-green
        &:before
          content '♫'
          color #306e2b
        &.off
          &:before
            content '♩'

  body.main-menu
    #footer
      display block

  #scores
    absolute top 10px left 10px  
    margin 0
    z-index 1
    pointer-events none

    .logo
      h1, img
        display none

    .logo, .multiplayer, .singleplayer
      display inline-block
      vertical-align top
    .multiplayer, .singleplayer
      .player, .opponent
        display inline-block
        margin 0
        margin-left 20px
        p
          font-size 10px
          width 35px
        li
          width 12px
          height 12px

  #gamepad
    display none!important
    absolute bottom 50%
    width 100%
    z-index 2
    transition opacity 300ms ease-out

    button
      background-color #6bba6b
      width 72px
      height 72px
      border-radius 36px
      // box-shadow 0 3px 5px rgba(0,0,0,.3) 
      absolute left 5%
      padding 0
      outline 0
      border 0

      &.left:before
        left 20px
      &.right:before
        left 26px

      &:after
        content ' '
        absolute bottom 1px left 4.2%
        width 93%
        height 93%
        border-radius 93%
        background-color #4daf4d

      &:before
        font-size 36px
        color #295d21
        absolute top 27%
        z-index 2


      // &:active
      //   box-shadow 0 1px 10px rgba(0,0,0,.3) 

      &:last-child
        left auto
        right 5%

  .state
    visibility hidden
    &.active
      visibility visible

    .dialog
      .content.animate
        transition none


    &.game-instructions
      .game-controls
        display none!important
      .dialog
        bottom $footer-height
        top 0
        height 100%
      .content
        transition none
        // transform translateX(-100%)
      &.inactive
        display none!important
        .content
          transform translateX(-100%)
      &.active
        .content
          transform translateX( 0 )
    &.game-over
      .dialog
        height 100%
        min-height 0
        top 0
        .scoreboard
          padding 0 0 15px
        .social
          display none
          li
            margin-right 5px
          a
            padding 5px
        button
          width auto
          padding 10px 20px
          margin-left 0

  .mobile
    .main-menu 
      width 100%
      height 100%
      position absolute
    
    h4.game-over
      position absolute
      z-index 5
      width 100%
      top 0
      font-size 30px
      color #ffd05a
      text-shadow 0 0.1em 0 #876b2a


  .state.game-instructions
    #game-controls
      display none

  #game
    opacity 1
    height 0
    width 0
    left 50%
    top 50%
    overflow visible
    > canvas, > video
      display none


  $w = 768px
  $h = 480px
  #canv-css
    display block
    width $w
    height $h
    relative top -260px 
    left -1 * $w * .5
    transform-origin 50% 55%
    .background
      width 1536px
      height 1079px
      z-index 0
      display none
      absolute top -340px left -50%
      background no-repeat center center
      background-size cover
      transform translateZ(0)
      backface-visibility hidden
      // display none!important

      img
        width 100%
        height 100%
        display none

      .screen
        absolute top 390px left 635px
        .hit-player, .hit-cpu
          opacity 0
          transition opacity .4s
          transform translateZ(0)
          backface-visibility hidden
          &.active
            opacity 1
          &.hidden
            display none

      .bear
        absolute top 390px left 679px
        // transform translateZ(0)
        // backface-visibility hidden
        > * 
          transform translateZ(0)
          backface-visibility hidden

      .bubble
        position absolute
        top 400px
        left 905px
        


    .game-board
      position absolute
      z-index 2
      width $w
      height $h
      perspective 640px
      perspective-origin 50% 0%
      transform translateZ(0)
      backface-visibility hidden

    .arena
      width $w
      height 1024px
      transform rotateX(83.3deg) translateX(0%) translateZ(-223px) translateY(-74%)
      transform-style preserve-3d
      backface-visibility hidden
      position absolute
      z=index 1

    .shields
      absolute top 0
      letter-spacing 0
      font-size 0
      width 100%
      transform translateZ(1)
      backface-visibility hidden

      .shields-a, .shields-b
        absolute top 0px

      .shield
        position absolute
        display block
        transform-origin bottom center
        transition-property transform
        transition-duration .3s
        transition-delay 0s
        transform scaleY(.005) translateZ(0)
        backface-visibility hidden
        &.visible
          transform scaleY(1) translateZ(0)

      .shields-a
        top 420px
        left 109px
        z-index 4

        .s3-01
          left 0
        .s3-02
          left 186px
        .s3-03
          left 366px

        .s6-01
          left 0
        .s6-02
          left 95px
        .s6-03
          left 186px
        .s6-04
          left 276px
        .s6-05
          left 366px
        .s6-06
          left 457px

        .s9-01
          left 0
        .s9-02
          left 62px
        .s9-03
          left 125px
        .s9-04
          left 186px
        .s9-05
          left 246px
        .s9-06
          left 306px
        .s9-07
          left 366px
        .s9-08
          left 427px
        .s9-09
          left 487px

      .shields-b
        top 161px
        left 254px
        z-index 0

        .s3-01
          left 0
        .s3-02
          left 86px
        .s3-03
          left 171px

        .s6-01
          left 0
        .s6-02
          left 44px
        .s6-03
          left 88px
        .s6-04
          left 132px
        .s6-05
          left 174px
        .s6-06
          left 216px

        .s9-01
          left 0
        .s9-02
          left 30px
        .s9-03
          left 58px
        .s9-04
          left 87px
        .s9-05
          left 115px
        .s9-06
          left 145px
        .s9-07
          left 173px
        .s9-08
          left 201px
        .s9-09
          left 230px

  #expressions 
    transform translateZ(0)
    backface-visibility hidden
  .angry
    absolute top 8px left 40px
  .blink
    absolute top 37px left 63px
  .jawdrop
    absolute top 54px left 57px
  .flirt
    absolute top 21px left 62px

  .extra
    transform-style preserve-3d
    backface-visibility hidden
    transform-origin 50% 50% 0
    position absolute
    .icon
      background-color transparent
      animation extra-icon-pulse 1s infinite

  .puck
    display none
    position absolute
    display block
    backface-visibility hidden
    transform-style preserve-3d
    transform-origin 50% 50% 0

    &.ghostball
      -webkit-filter grayscale(1)
      animation effect-ghostball-pulse 2s infinite
    &.flash
      opacity .6


  .effect.fog
    position absolute
    top 148px
    left 96px
    z-index 3
    opacity 0
    transition opacity .5s
    transform translateZ(0)
    backface-visibility hidden
    
    &.active
      opacity 1
    &.hidden
      display none

  .force
    display none
    absolute left 50% top 385px
    margin-left -126px
    animation effect-force .5s infinite alternate
    animation-timing-function steps(3)
    // transform translateZ(0)
    backface-visibility hidden
    &.active
      display block

  .obstacles
    .obstacle
      transform translateZ(0)
      backface-visibility hidden
      position absolute
      display none
      z-index 2
    .triangle-left
      top 210px
      left 188px
    .triangle-right
      top 210px
      left 497px
    .hexagon
      top 209px
      left 302px
    .diamond
      top 209px
      left 305px

#p1, 
#p2
  display block
  background-repeat no-repeat
  position absolute
  transform-style preserve-3d
  backface-visibility hidden
  transform-origin 50% 50% 0

  .gfx 
    transition transform .5s cubic-bezier(0.000, 0.000, 0.405, 1.650)

#p2
  z-index 3
  

@media (orientation: portrait)
  html.mobile
    .touch 
      .keyboard
        display none
    #gamepad
      display none!important
    #canv-css
      top -236px

    body.game-over
      #footer
        display inline-block
        background-color transparent


@media (orientation: landscape)
  html.mobile
    .touch
      .keyboard
        display none
      #gamepad.state.active
        display block!important

    .game-over
      h3, #single-levels
        display inline-block
      h3
        padding 7px 0 17px 6px
        vertical-align middle
      .content
        padding-bottom 30px
      .social 
        bottom 10px

    #scores
      width 100%

      .logo
        absolute right 70px 
      
      .singleplayer, .multiplayer
        .player, .opponent
          display block
          clearfix()
      p
        margin-bottom 0
      p, ol
        float left

    .dialog
      bottom 0

    header .nav
      bottom 10px

      #canv-css
        top -266px

    body.main-menu, body.game-over
      #footer
        display inline-block
        background-color transparent

