@import 'nib'

@import 'vars'

global-reset()
reset-html5()

html
  width 100%
  height 100%
  overflow hidden

body
  width 100%
  height 100%
  overflow hidden
  padding 0px 0px 0px 0px
  margin 0px 0px 0px 0px
  background #000
  font-family 'Varela', sans-serif
  font-size 12px
  line-height 12px
  letter-spacing 2px
  font-weight bold
  text-transform uppercase

#wrapper
  overflow hidden
  width 100%
  height 100%

#game
  position absolute
  top 0

.multiplayer, .full
  display none

.state
  visibility hidden
  &.active
    visibility visible

@import 'header'
@import 'footer'
@import 'dialogs'
@import 'state'
@import 'elements'
@import 'icons'
@import 'animations'
@import 'debug'

@import 'mobile'