.state
  &.game-instructions,
  &.state.game-info,
  &.state.game-start
    
    box-orient horizontal
    box-pack center
    box-align center
    width 100%
    height 100%
    position: absolute
    top 0
    left 0
    z-index 500
    perspective 2000px
