$width = 960px
.about
  overflow scroll
  body
    height auto
    width auto
    overflow auto
    font-family Helvetica, Arial
    padding-top 400px
  header
    height 400px
    width 100%
    box-sizing border-box
    background #1f1f1f
    color $color-beige
    text-align center
    text-transform uppercase
    position fixed
    top 0

    h1
      font-size 34px
      display block
      padding 121px 0 0
      margin 0
      font-weight bold
      a
        color $color-beige
        text-decoration none
        &:hover
          text-decoration underline

    .play-link
      margin-top 35px
      border 3px solid #ffcb4d
      font-size 20px
      color #ffcb4d
      display inline-block
      padding 20px
      text-decoration none

  section
    position relative
    padding 456px 0 150px
    overflow hidden
    box-sizing border-box
    &.sticky
      position fixed
      bottom 0
      width 100%
    > *
      max-width $width
      margin 0 auto
      display block
      position relative

    h1
      font-size 36px
      color $color-beige
      line-height 1.5em
      text-align center

      &:after
        content ' '
        background url('/images/tech/ornament.png') center center
        max-width 659px
        height 49px
        display block
        margin 10px auto 22px

    p
      max-width 790px
      font-size 16px
      color $color-beige
      line-height 1.4em
      text-align center
      font-weight 200

    img
      position absolute 
      top 0
      left 50%
      width auto
      margin-left -480px
      max-width inherit
      width $width


  #webrtc
    background #6d8689

  #renderers
    background #13030f

  #audio
    background #783c5f

  #platform
    background #a7bebe

  #opensource
    background #0e191e    

  #nav
    position fixed
    top 50%
    margin-top -91px
    right 30px
    list-style none
    li
      display block
      margin-bottom 10px

      a
        width 25px
        height 25px
        border-radius 25px
        border 2px solid $color-beige
        display block

      &.active
        a
          background $color-beige

  &.touch
    body
      padding 0!important

      section, header
        position relative!important


