.theme-green
  .state.game-prompt
    .background 
      background-color $theme-green-normal
    &.alternate
      .background 
        background-color $theme-green-alternate

.theme-purple
  .state.game-prompt
    .background
      background-color $theme-purple-normal
    &.alternate
      .background 
        background-color $theme-purple-alternate

.theme-pastell
  .state.game-prompt
    .background
      background-color $theme-pastell-normal
    &.alternate
      .background 
        background-color $theme-pastell-alternate

.theme-pink
  .state.game-prompt
    .background
      background-color $theme-pink-normal
    &.alternate
      .background 
        background-color $theme-pink-alternate

.theme-light
    .state.game-prompt
      .background
        background-color $theme-light-normal
      &.alternate
        .background 
          background-color $theme-light-alternate

.theme-orange
  .state.game-prompt
    .background
      background-color $theme-orange-normal
    &.alternate
      .background 
        background-color $theme-orange-alternate

.theme-forrest
  .state.game-prompt
    .background
      background-color $theme-forrest-normal
    &.alternate
      .background 
        background-color $theme-forrest-alternate

.theme-blackhorizon
   .state.game-prompt
    .background
      background-color $theme-blackhorizon-normal
    &.alternate
      .background 
        background-color $theme-blackhorizon-alternate

.theme-redhorizon
  .state.game-prompt
    .background
      background-color $theme-redhorizon-normal
    &.alternate
      .background 
        background-color $theme-redhorizon-alternate