@font-face
  font-family 'eboyregalpha'
  src url('/fonts/eboy-regalpha-webfont.eot')
  src url('/fonts/eboy-regalpha-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/eboy-regalpha-webfont.woff') format('woff'),
  url('/fonts/eboy-regalpha-webfont.ttf') format('truetype'),
  url('/fonts/eboy-regalpha-webfont.svg#webfont') format('svg')
