@font-face
  font-family 'eboyregalpha'
  src url('/fonts/eboy-regalpha-webfont.eot')
  src url('/fonts/eboy-regalpha-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/eboy-regalpha-webfont.woff') format('woff'),
  url('/fonts/eboy-regalpha-webfont.ttf') format('truetype'),
  url('/fonts/eboy-regalpha-webfont.svg#webfont') format('svg')

/*
 * Share icons
 */

@font-face
  font-family 'icomoon'
  src url('/fonts/icomoon.eot')
  src url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.woff') format('woff'),
    url('/fonts/icomoon.ttf') format('truetype'),
    url('/fonts/icomoon.svg#icomoon') format('svg')
  font-weight normal
  font-style normal

[data-icon]:before
  font-family 'icomoon'
  content attr(data-icon)
  speak none
  font-weight normal
  line-height 1
  font-smoothing antialiased

$color-beige = #f9f9db


/*
 * Puck background positions
 */


.puck {width 110px;height 110px;display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url('/images/css/spritesheet.png');}

.puck.puck_0000 {width:110px; height:110px; background-position: -1px -1px}
.puck.puck_0001 {width:110px; height:110px; background-position: -111px -1px}
.puck.puck_0002 {width:110px; height:110px; background-position: -221px -1px}
.puck.puck_0003 {width:110px; height:110px; background-position: -331px -1px}
.puck.puck_0004 {width:110px; height:110px; background-position: -441px -1px}
.puck.puck_0005 {width:110px; height:110px; background-position: -551px -1px}
.puck.puck_0006 {width:110px; height:110px; background-position: -661px -1px}
.puck.puck_0007 {width:110px; height:110px; background-position: -771px -1px}
.puck.puck_0008 {width:110px; height:110px; background-position: -881px -1px}
.puck.puck_0009 {width:110px; height:110px; background-position: -991px -1px}
.puck.puck_0010 {width:110px; height:110px; background-position: -1101px -1px}
.puck.puck_0011 {width:110px; height:110px; background-position: -1211px -1px}
.puck.puck_0012 {width:110px; height:110px; background-position: -1321px -1px}
.puck.puck_0013 {width:110px; height:110px; background-position: -1431px -1px}
.puck.puck_0014 {width:110px; height:110px; background-position: -1541px -1px}
.puck.puck_0015 {width:110px; height:110px; background-position: -1651px -1px}
.puck.puck_0016 {width:110px; height:110px; background-position: -1px -111px}
.puck.puck_0017 {width:110px; height:110px; background-position: -111px -111px}
.puck.puck_0018 {width:110px; height:110px; background-position: -221px -111px}
.puck.puck_0019 {width:110px; height:110px; background-position: -331px -111px}
.puck.puck_0020 {width:110px; height:110px; background-position: -441px -111px}
.puck.puck_0021 {width:110px; height:110px; background-position: -551px -111px}
.puck.puck_0022 {width:110px; height:110px; background-position: -661px -111px}
.puck.puck_0023 {width:110px; height:110px; background-position: -771px -111px}
.puck.puck_0024 {width:110px; height:110px; background-position: -881px -111px}
.puck.puck_0025 {width:110px; height:110px; background-position: -991px -111px}
.puck.puck_0026 {width:110px; height:110px; background-position: -1101px -111px}
.puck.puck_0027 {width:110px; height:110px; background-position: -1211px -111px}
.puck.puck_0028 {width:110px; height:110px; background-position: -1321px -111px}
.puck.puck_0029 {width:110px; height:110px; background-position: -1431px -111px}
.puck.puck_0030 {width:110px; height:110px; background-position: -1541px -111px}
.puck.puck_0031 {width:110px; height:110px; background-position: -1651px -111px}
.puck.puck_0032 {width:110px; height:110px; background-position: -1px -221px}
.puck.puck_0033 {width:110px; height:110px; background-position: -111px -221px}
.puck.puck_0034 {width:110px; height:110px; background-position: -221px -221px}
.puck.puck_0035 {width:110px; height:110px; background-position: -331px -221px}
.puck.puck_0036 {width:110px; height:110px; background-position: -441px -221px}
.puck.puck_0037 {width:110px; height:110px; background-position: -551px -221px}
.puck.puck_0038 {width:110px; height:110px; background-position: -661px -221px}
.puck.puck_0039 {width:110px; height:110px; background-position: -771px -221px}
.puck.puck_0040 {width:110px; height:110px; background-position: -881px -221px}
.puck.puck_0041 {width:110px; height:110px; background-position: -991px -221px}
.puck.puck_0042 {width:110px; height:110px; background-position: -1101px -221px}
.puck.puck_0043 {width:110px; height:110px; background-position: -1211px -221px}
.puck.puck_0044 {width:110px; height:110px; background-position: -1321px -221px}
.puck.puck_0045 {width:110px; height:110px; background-position: -1431px -221px}
.puck.puck_0046 {width:110px; height:110px; background-position: -1541px -221px}
.puck.puck_0047 {width:110px; height:110px; background-position: -1651px -221px}
.puck.puck_0048 {width:110px; height:110px; background-position: -1px -331px}
.puck.puck_0049 {width:110px; height:110px; background-position: -111px -331px}
.puck.puck_0050 {width:110px; height:110px; background-position: -221px -331px}
.puck.puck_0051 {width:110px; height:110px; background-position: -331px -331px}
.puck.puck_0052 {width:110px; height:110px; background-position: -441px -331px}
.puck.puck_0053 {width:110px; height:110px; background-position: -551px -331px}
.puck.puck_0054 {width:110px; height:110px; background-position: -661px -331px}
.puck.puck_0055 {width:110px; height:110px; background-position: -771px -331px}
.puck.puck_0056 {width:110px; height:110px; background-position: -881px -331px}
.puck.puck_0057 {width:110px; height:110px; background-position: -991px -331px}
.puck.puck_0058 {width:110px; height:110px; background-position: -1101px -331px}
.puck.puck_0059 {width:110px; height:110px; background-position: -1211px -331px}
.puck.puck_0060 {width:110px; height:110px; background-position: -1321px -331px}
.puck.puck_0061 {width:110px; height:110px; background-position: -1431px -331px}
.puck.puck_0062 {width:110px; height:110px; background-position: -1541px -331px}
.puck.puck_0063 {width:110px; height:110px; background-position: -1651px -331px}
.puck.puck_0064 {width:110px; height:110px; background-position: -1px -441px}
.puck.puck_0065 {width:110px; height:110px; background-position: -111px -441px}
.puck.puck_0066 {width:110px; height:110px; background-position: -221px -441px}
.puck.puck_0067 {width:110px; height:110px; background-position: -331px -441px}
.puck.puck_0068 {width:110px; height:110px; background-position: -441px -441px}
.puck.puck_0069 {width:110px; height:110px; background-position: -551px -441px}
.puck.puck_0070 {width:110px; height:110px; background-position: -661px -441px}
.puck.puck_0071 {width:110px; height:110px; background-position: -771px -441px}
.puck.puck_0072 {width:110px; height:110px; background-position: -881px -441px}
.puck.puck_0073 {width:110px; height:110px; background-position: -991px -441px}
.puck.puck_0074 {width:110px; height:110px; background-position: -1101px -441px}
.puck.puck_0075 {width:110px; height:110px; background-position: -1211px -441px}
.puck.puck_0076 {width:110px; height:110px; background-position: -1321px -441px}
.puck.puck_0077 {width:110px; height:110px; background-position: -1431px -441px}
.puck.puck_0078 {width:110px; height:110px; background-position: -1541px -441px}
.puck.puck_0079 {width:110px; height:110px; background-position: -1651px -441px}
.puck.puck_0080 {width:110px; height:110px; background-position: -1px -551px}
.puck.puck_0081 {width:110px; height:110px; background-position: -111px -551px}
.puck.puck_0082 {width:110px; height:110px; background-position: -221px -551px}
.puck.puck_0083 {width:110px; height:110px; background-position: -331px -551px}
.puck.puck_0084 {width:110px; height:110px; background-position: -441px -551px}
.puck.puck_0085 {width:110px; height:110px; background-position: -551px -551px}
.puck.puck_0086 {width:110px; height:110px; background-position: -661px -551px}
.puck.puck_0087 {width:110px; height:110px; background-position: -771px -551px}
.puck.puck_0088 {width:110px; height:110px; background-position: -881px -551px}
.puck.puck_0089 {width:110px; height:110px; background-position: -991px -551px}
.puck.puck_0090 {width:110px; height:110px; background-position: -1101px -551px}

.p1 {width 300px;height 80px;display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url('/images/css/spritesheet.png');}

.p1_0000 {width:300px; height:80px; background-position: -1211px -551px}
.p1_0001 {width:300px; height:80px; background-position: -1px -661px}
.p1_0002 {width:300px; height:80px; background-position: -301px -661px}
.p1_0003 {width:300px; height:80px; background-position: -601px -661px}
.p1_0004 {width:300px; height:80px; background-position: -901px -661px}
.p1_0005 {width:300px; height:80px; background-position: -1201px -661px}
.p1_0006 {width:300px; height:80px; background-position: -1501px -661px}
.p1_0007 {width:300px; height:80px; background-position: -1px -741px}
.p1_0008 {width:300px; height:80px; background-position: -301px -741px}
.p1_0009 {width:300px; height:80px; background-position: -601px -741px}
.p1_0010 {width:300px; height:80px; background-position: -901px -741px}
.p1_0011 {width:300px; height:80px; background-position: -1201px -741px}
.p1_0012 {width:300px; height:80px; background-position: -1501px -741px}
.p1_0013 {width:300px; height:80px; background-position: -1px -821px}
.p1_0014 {width:300px; height:80px; background-position: -301px -821px}
.p1_0015 {width:300px; height:80px; background-position: -601px -821px}
.p1_0016 {width:300px; height:80px; background-position: -901px -821px}
.p1_0017 {width:300px; height:80px; background-position: -1201px -821px}
.p1_0018 {width:300px; height:80px; background-position: -1501px -821px}
.p1_0019 {width:300px; height:80px; background-position: -1px -901px}
.p1_0020 {width:300px; height:80px; background-position: -301px -901px}
.p1_0021 {width:300px; height:80px; background-position: -601px -901px}
.p1_0022 {width:300px; height:80px; background-position: -901px -901px}
.p1_0023 {width:300px; height:80px; background-position: -1201px -901px}
.p1_0024 {width:300px; height:80px; background-position: -1501px -901px}
.p1_0025 {width:300px; height:80px; background-position: -1px -981px}
.p1_0026 {width:300px; height:80px; background-position: -301px -981px}
.p1_0027 {width:300px; height:80px; background-position: -601px -981px}
.p1_0028 {width:300px; height:80px; background-position: -901px -981px}
.p1_0029 {width:300px; height:80px; background-position: -1201px -981px}
.p1_0030 {width:300px; height:80px; background-position: -1501px -981px}
.p1_0031 {width:300px; height:80px; background-position: -1px -1061px}
.p1_0032 {width:300px; height:80px; background-position: -301px -1061px}
.p1_0033 {width:300px; height:80px; background-position: -601px -1061px}
.p1_0034 {width:300px; height:80px; background-position: -901px -1061px}
.p1_0035 {width:300px; height:80px; background-position: -1201px -1061px}
.p1_0036 {width:300px; height:80px; background-position: -1501px -1061px}
.p1_0037 {width:300px; height:80px; background-position: -1px -1141px}
.p1_0038 {width:300px; height:80px; background-position: -301px -1141px}
.p1_0039 {width:300px; height:80px; background-position: -601px -1141px}
.p1_0040 {width:300px; height:80px; background-position: -901px -1141px}
.p1_0041 {width:300px; height:80px; background-position: -1201px -1141px}
.p1_0042 {width:300px; height:80px; background-position: -1501px -1141px}
.p1_0043 {width:300px; height:80px; background-position: -1px -1221px}
.p1_0044 {width:300px; height:80px; background-position: -301px -1221px}
.p1_0045 {width:300px; height:80px; background-position: -601px -1221px}
.p1_0046 {width:300px; height:80px; background-position: -901px -1221px}
.p1_0047 {width:300px; height:80px; background-position: -1201px -1221px}
.p1_0048 {width:300px; height:80px; background-position: -1501px -1221px}
.p1_0049 {width:300px; height:80px; background-position: -1px -1301px}
.p1_0050 {width:300px; height:80px; background-position: -301px -1301px}
.p1_0051 {width:300px; height:80px; background-position: -601px -1301px}
.p1_0052 {width:300px; height:80px; background-position: -901px -1301px}
.p1_0053 {width:300px; height:80px; background-position: -1201px -1301px}
.p1_0054 {width:300px; height:80px; background-position: -1501px -1301px}
.p1_0055 {width:300px; height:80px; background-position: -1px -1381px}
.p1_0056 {width:300px; height:80px; background-position: -301px -1381px}
.p1_0057 {width:300px; height:80px; background-position: -601px -1381px}
.p1_0058 {width:300px; height:80px; background-position: -901px -1381px}
.p1_0059 {width:300px; height:80px; background-position: -1201px -1381px}
.p1_0060 {width:300px; height:80px; background-position: -1501px -1381px}
.p1_0061 {width:300px; height:80px; background-position: -1px -1461px}
.p1_0062 {width:300px; height:80px; background-position: -301px -1461px}
.p1_0063 {width:300px; height:80px; background-position: -601px -1461px}
.p1_0064 {width:300px; height:80px; background-position: -901px -1461px}
.p1_0065 {width:300px; height:80px; background-position: -1201px -1461px}
.p1_0066 {width:300px; height:80px; background-position: -1501px -1461px}
.p1_0067 {width:300px; height:80px; background-position: -1px -1541px}
.p1_0068 {width:300px; height:80px; background-position: -301px -1541px}
.p1_0069 {width:300px; height:80px; background-position: -601px -1541px}
.p1_0070 {width:300px; height:80px; background-position: -901px -1541px}
.p1_0071 {width:300px; height:80px; background-position: -1201px -1541px}
.p1_0072 {width:300px; height:80px; background-position: -1501px -1541px}
.p1_0073 {width:300px; height:80px; background-position: -1px -1621px}
.p1_0074 {width:300px; height:80px; background-position: -301px -1621px}
.p1_0075 {width:300px; height:80px; background-position: -601px -1621px}
.p1_0076 {width:300px; height:80px; background-position: -901px -1621px}
.p1_0077 {width:300px; height:80px; background-position: -1201px -1621px}
.p1_0078 {width:300px; height:80px; background-position: -1501px -1621px}
.p1_0079 {width:300px; height:80px; background-position: -1px -1701px}
.p1_0080 {width:300px; height:80px; background-position: -301px -1701px}
.p1_0081 {width:300px; height:80px; background-position: -601px -1701px}
.p1_0082 {width:300px; height:80px; background-position: -901px -1701px}
.p1_0083 {width:300px; height:80px; background-position: -1201px -1701px}
.p1_0084 {width:300px; height:80px; background-position: -1501px -1701px}
.p1_0085 {width:300px; height:80px; background-position: -1px -1781px}
.p1_0086 {width:300px; height:80px; background-position: -301px -1781px}
.p1_0087 {width:300px; height:80px; background-position: -601px -1781px}
.p1_0088 {width:300px; height:80px; background-position: -901px -1781px}
.p1_0089 {width:300px; height:80px; background-position: -1201px -1781px}
.p1_0090 {width:300px; height:80px; background-position: -1501px -1781px}

