@font-face
  font-family 'eboyregalpha'
  src url('/fonts/eboy-regalpha-webfont.eot')
  src url('/fonts/eboy-regalpha-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/eboy-regalpha-webfont.woff') format('woff'),
  url('/fonts/eboy-regalpha-webfont.ttf') format('truetype'),
  url('/fonts/eboy-regalpha-webfont.svg#webfont') format('svg')

/*
 * Share icons
 */

@font-face
  font-family 'icomoon'
  src url('/fonts/icomoon.eot')
  src url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.woff') format('woff'),
    url('/fonts/icomoon.ttf') format('truetype'),
    url('/fonts/icomoon.svg#icomoon') format('svg')
  font-weight normal
  font-style normal

[data-icon]:before
  font-family 'icomoon'
  content attr(data-icon)
  speak none
  font-weight normal
  line-height 1
  font-smoothing antialiased


/*
 * Puck background positions
 */

.puck {width:163px; height:116px; display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url('/images/css/puck.png');}
.puck_0000 {background-position: -1630px -580px}
.puck_0001 {background-position: -1467px -812px}
.puck_0002 {background-position: -1467px -696px}
.puck_0003 {background-position: -1467px -580px}
.puck_0004 {background-position: -1793px -464px}
.puck_0005 {background-position: -1630px -464px}
.puck_0006 {background-position: -1467px -464px}
.puck_0007 {background-position: -1304px -812px}
.puck_0008 {background-position: -1304px -696px}
.puck_0009 {background-position: -1304px -580px}
.puck_0010 {background-position: -1304px -464px}
.puck_0011 {background-position: -1793px -348px}
.puck_0012 {background-position: -1630px -348px}
.puck_0013 {background-position: -1467px -348px}
.puck_0014 {background-position: -1304px -348px}
.puck_0015 {background-position: -1793px -232px}
.puck_0016 {background-position: -1630px -232px}
.puck_0017 {background-position: -1467px -232px}
.puck_0018 {background-position: -1304px -232px}
.puck_0019 {background-position: -1141px -812px}
.puck_0020 {background-position: -1141px -696px}
.puck_0021 {background-position: -1141px -580px}
.puck_0022 {background-position: -1141px -464px}
.puck_0023 {background-position: -1141px -348px}
.puck_0024 {background-position: -1141px -232px}
.puck_0025 {background-position: -1793px -116px}
.puck_0026 {background-position: -1630px -116px}
.puck_0027 {background-position: -1467px -116px}
.puck_0028 {background-position: -1304px -116px}
.puck_0029 {background-position: -1141px -116px}
.puck_0030 {background-position: -978px -812px}
.puck_0031 {background-position: -978px -696px}
.puck_0032 {background-position: -978px -580px}
.puck_0033 {background-position: -978px -464px}
.puck_0034 {background-position: -978px -348px}
.puck_0035 {background-position: -978px -232px}
.puck_0036 {background-position: -978px -116px}
.puck_0037 {background-position: -1793px -0px}
.puck_0038 {background-position: -1630px -0px}
.puck_0039 {background-position: -1467px -0px}
.puck_0040 {background-position: -1304px -0px}
.puck_0041 {background-position: -1141px -0px}
.puck_0042 {background-position: -978px -0px}
.puck_0043 {background-position: -815px -812px}
.puck_0044 {background-position: -815px -696px}
.puck_0045 {background-position: -815px -580px}
.puck_0046 {background-position: -815px -464px}
.puck_0047 {background-position: -815px -348px}
.puck_0048 {background-position: -815px -232px}
.puck_0049 {background-position: -815px -116px}
.puck_0050 {background-position: -815px -0px}
.puck_0051 {background-position: -652px -812px}
.puck_0052 {background-position: -652px -696px}
.puck_0053 {background-position: -652px -580px}
.puck_0054 {background-position: -652px -464px}
.puck_0055 {background-position: -652px -348px}
.puck_0056 {background-position: -652px -232px}
.puck_0057 {background-position: -652px -116px}
.puck_0058 {background-position: -652px -0px}
.puck_0059 {background-position: -489px -812px}
.puck_0060 {background-position: -489px -696px}
.puck_0061 {background-position: -489px -580px}
.puck_0062 {background-position: -489px -464px}
.puck_0063 {background-position: -489px -348px}
.puck_0064 {background-position: -489px -232px}
.puck_0065 {background-position: -489px -116px}
.puck_0066 {background-position: -489px -0px}
.puck_0067 {background-position: -326px -812px}
.puck_0068 {background-position: -326px -696px}
.puck_0069 {background-position: -326px -580px}
.puck_0070 {background-position: -326px -464px}
.puck_0071 {background-position: -326px -348px}
.puck_0072 {background-position: -326px -232px}
.puck_0073 {background-position: -326px -116px}
.puck_0074 {background-position: -326px -0px}
.puck_0075 {background-position: -163px -812px}
.puck_0076 {background-position: -163px -696px}
.puck_0077 {background-position: -163px -580px}
.puck_0078 {background-position: -163px -464px}
.puck_0079 {background-position: -163px -348px}
.puck_0080 {background-position: -163px -232px}
.puck_0081 {background-position: -163px -116px}
.puck_0082 {background-position: -163px -0px}
.puck_0083 {background-position: -0px -812px}
.puck_0084 {background-position: -0px -696px}
.puck_0085 {background-position: -0px -580px}
.puck_0086 {background-position: -0px -464px}
.puck_0087 {background-position: -0px -348px}
.puck_0088 {background-position: -0px -232px}
.puck_0089 {background-position: -0px -116px}
.puck_0090 {background-position: -0px -0px}



.paddle {width:360px; height:94px; display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url('/images/css/paddle.png');}
.paddle_0000 {background-position: -720px -1880px}
.paddle_0001 {background-position: -720px -1786px}
.paddle_0002 {background-position: -720px -1692px}
.paddle_0003 {background-position: -720px -1598px}
.paddle_0004 {background-position: -720px -1504px}
.paddle_0005 {background-position: -720px -1410px}
.paddle_0006 {background-position: -720px -1316px}
.paddle_0007 {background-position: -1440px -1222px}
.paddle_0008 {background-position: -1080px -1222px}
.paddle_0009 {background-position: -720px -1222px}
.paddle_0010 {background-position: -1440px -1128px}
.paddle_0011 {background-position: -1080px -1128px}
.paddle_0012 {background-position: -720px -1128px}
.paddle_0013 {background-position: -1440px -1034px}
.paddle_0014 {background-position: -1080px -1034px}
.paddle_0015 {background-position: -720px -1034px}
.paddle_0016 {background-position: -1440px -940px}
.paddle_0017 {background-position: -1080px -940px}
.paddle_0018 {background-position: -720px -940px}
.paddle_0019 {background-position: -360px -1880px}
.paddle_0020 {background-position: -360px -1786px}
.paddle_0021 {background-position: -360px -1692px}
.paddle_0022 {background-position: -360px -1598px}
.paddle_0023 {background-position: -360px -1504px}
.paddle_0024 {background-position: -360px -1410px}
.paddle_0025 {background-position: -360px -1316px}
.paddle_0026 {background-position: -360px -1222px}
.paddle_0027 {background-position: -360px -1128px}
.paddle_0028 {background-position: -360px -1034px}
.paddle_0029 {background-position: -360px -940px}
.paddle_0030 {background-position: -1440px -846px}
.paddle_0031 {background-position: -1080px -846px}
.paddle_0032 {background-position: -720px -846px}
.paddle_0033 {background-position: -360px -846px}
.paddle_0034 {background-position: -1440px -752px}
.paddle_0035 {background-position: -1080px -752px}
.paddle_0036 {background-position: -720px -752px}
.paddle_0037 {background-position: -360px -752px}
.paddle_0038 {background-position: -1440px -658px}
.paddle_0039 {background-position: -1080px -658px}
.paddle_0040 {background-position: -720px -658px}
.paddle_0041 {background-position: -360px -658px}
.paddle_0042 {background-position: -1440px -564px}
.paddle_0043 {background-position: -1080px -564px}
.paddle_0044 {background-position: -720px -564px}
.paddle_0045 {background-position: -360px -564px}
.paddle_0046 {background-position: -0px -1880px}
.paddle_0047 {background-position: -0px -1786px}
.paddle_0048 {background-position: -0px -1692px}
.paddle_0049 {background-position: -0px -1598px}
.paddle_0050 {background-position: -0px -1504px}
.paddle_0051 {background-position: -0px -1410px}
.paddle_0052 {background-position: -0px -1316px}
.paddle_0053 {background-position: -0px -1222px}
.paddle_0054 {background-position: -0px -1128px}
.paddle_0055 {background-position: -0px -1034px}
.paddle_0056 {background-position: -0px -940px}
.paddle_0057 {background-position: -0px -846px}
.paddle_0058 {background-position: -0px -752px}
.paddle_0059 {background-position: -0px -658px}
.paddle_0060 {background-position: -0px -564px}
.paddle_0061 {background-position: -1440px -470px}
.paddle_0062 {background-position: -1080px -470px}
.paddle_0063 {background-position: -720px -470px}
.paddle_0064 {background-position: -360px -470px}
.paddle_0065 {background-position: -0px -470px}
.paddle_0066 {background-position: -1440px -376px}
.paddle_0067 {background-position: -1080px -376px}
.paddle_0068 {background-position: -720px -376px}
.paddle_0069 {background-position: -360px -376px}
.paddle_0070 {background-position: -0px -376px}
.paddle_0071 {background-position: -1440px -282px}
.paddle_0072 {background-position: -1080px -282px}
.paddle_0073 {background-position: -720px -282px}
.paddle_0074 {background-position: -360px -282px}
.paddle_0075 {background-position: -0px -282px}
.paddle_0076 {background-position: -1440px -188px}
.paddle_0077 {background-position: -1080px -188px}
.paddle_0078 {background-position: -720px -188px}
.paddle_0079 {background-position: -360px -188px}
.paddle_0080 {background-position: -0px -188px}
.paddle_0081 {background-position: -1440px -94px}
.paddle_0082 {background-position: -1080px -94px}
.paddle_0083 {background-position: -720px -94px}
.paddle_0084 {background-position: -360px -94px}
.paddle_0085 {background-position: -0px -94px}
.paddle_0086 {background-position: -1440px -0px}
.paddle_0087 {background-position: -1080px -0px}
.paddle_0088 {background-position: -720px -0px}
.paddle_0089 {background-position: -360px -0px}
.paddle_0090 {background-position: -0px -0px}
