$w = 768px
$h = 480px

@keyframes extra-icon-pulse
  0%, 100%
    transform translate(0, 0px) scale(.8)
  50%
    transform translate(0, -7px) scale(1)

@keyframes effect-ghostball-pulse
  0%, 100%
    opacity .4
  50%
    opacity .1

@keyframes effect-timebomb-pulse
  0%, 100%
    opacity 1
  50%
    opacity .6

@keyframes effect-screen
  0%
    opacity 0
  15%
    opacity 1
  75%
    opacity 1
  100%
    opacity 0

@keyframes effect-force
  0%
    background-position: -510px -616px
  100%
    background-position: 250px -616px

html.mobile
  #game #canv-2d
    position fixed
    top 20px
    left 0
    z-index 10
    opacity 0.5

  #canv-css
    display block
    width $w
    height $h
    position relative
    top -260px
    left -1 * $w * .5
    transform-origin 50% 55%
    backface-visibility hidden
    .background
      width 1536px
      height 1079px
      z-index 0
      display none
      absolute top -340px left -50%
      background no-repeat center center
      background-size cover
      transform translateZ(0)
      backface-visibility hidden
      transition -webkit-filter 1.5s

      img
        width 100%
        height 100%
        display none

      .screen
        absolute top 390px left 635px
        .hit-player, .hit-cpu
          position absolute
          top 0
          opacity 0
          // transition opacity .4s
          &.active
            opacity 1
            animation effect-screen 2.4s
            transform translateZ(0)
            backface-visibility hidden
          &.hidden
            opacity 0
            // display none

      .bear
        position absolute
        top 390px
        left 679px
        transform translateZ(0)
        backface-visibility hidden
        // > *
        //   transform translateZ(0)
        //   backface-visibility hidden

        .bob
          position absolute
          top 0
          left 166px

      .swipe-instruction
        background transparent url('/images/mobile/swipe-arrows.png') no-repeat
        width 186px
        height 42px
        margin 0 auto
        position absolute
        top 858px
        left 677px
        pointer-events auto

    .game-board
      position absolute
      z-index 2
      width $w
      perspective 640px
      perspective-origin 50% 0%
      backface-visibility hidden

    .arena
      width $w
      // transform rotateX(83.3deg) translateX(0%) translateZ(-223px) translateY(-74%)
      // -moz-transform-style preserve-3d
      // -moz-backface-visibility hidden
      transform-style preserve-3d
      backface-visibility hidden
      absolute top 290px left 94px
      z-index 1

    .shields
      position absolute
      top 0
      letter-spacing 0
      font-size 0
      width 100%
      transform translateZ(1)
      backface-visibility hidden

      .shields-a, .shields-b
        position absolute
        top 0px

      .shield
        position absolute
        display block
        opacity 0
        transform-origin bottom center
        transition-property transform, opacity
        transition-duration .3s
        transition-delay 0s
        transform scaleY(.005) translateZ(0)
        backface-visibility hidden
        &.active
          opacity .5
        &.visible
          transform scaleY(1) translateZ(0)
        &.bulletproof
          opacity 1

      .shields-a
        top 420px
        left 109px
        z-index 4

        .s1-01
          left -1px

        .s2-01
          left 0
        .s2-02
          left 277px

        .s3-01
          left 0
        .s3-02
          left 186px
        .s3-03
          left 366px

        .s6-01
          left 0
        .s6-02
          left 95px
        .s6-03
          left 186px
        .s6-04
          left 276px
        .s6-05
          left 366px
        .s6-06
          left 457px

        .s9-01
          left 0
        .s9-02
          left 62px
        .s9-03
          left 125px
        .s9-04
          left 186px
        .s9-05
          left 246px
        .s9-06
          left 306px
        .s9-07
          left 366px
        .s9-08
          left 427px
        .s9-09
          left 487px

      .shields-b
        top 161px
        left 254px
        z-index 0

        .s1-01
          left 1px

        .s2-01
          left 1px
        .s2-02
          left 132px

        .s3-01
          left 1px
        .s3-02
          left 87px
        .s3-03
          left 172px

        .s6-01
          left 0
        .s6-02
          left 44px
        .s6-03
          left 88px
        .s6-04
          left 132px
        .s6-05
          left 174px
        .s6-06
          left 216px

        .s9-01
          left 0
        .s9-02
          left 30px
        .s9-03
          left 58px
        .s9-04
          left 87px
        .s9-05
          left 115px
        .s9-06
          left 145px
        .s9-07
          left 173px
        .s9-08
          left 201px
        .s9-09
          left 230px

  #expressions
    // transform translateZ(0)
    // backface-visibility hidden
  .angry
    absolute top 8px left 40px
  .blink
    absolute top 37px left 63px
  .jawdrop
    absolute top 54px left 57px
  .flirt
    absolute top 21px left 62px

  .extra
    backface-visibility hidden
    transform-origin 50% 50% 0
    position absolute
    .icon
      background-color transparent
      backface-visibility hidden
      animation extra-icon-pulse 1s infinite

  .puck
    position absolute
    display block
    backface-visibility hidden
    transform-origin 50% 50% 0
    transition -webkit-filter .5s
    z-index 4

    .icon
      position absolute

    &.ghostball
      -webkit-filter grayscale(1)
      // animation effect-ghostball-pulse 2s infinite
      opacity .2
    &.timebomb
      animation effect-timebomb-pulse 1s infinite
      opacity .2

    &.flash
      opacity .6


  .bullet
    width 30px
    height 30px
    background #ffed53
    position absolute
    transform matrix3d(1, 0, 0, 0, 0, 0.116671, 0.993171, 0, 0, -0.993170649538486, 0.11667073709933327, 0, 0, 133.06863596332892, -778.6025754663666, 1) translate3d(514px, 705px, 0px)
    &:before
      display none
      position absolute
      top 30px
      width 30px
      height 30px
      background #ffed53
      content ' '
      opacity .6
    &:after
      display none
      position absolute
      top 60px
      width 30px
      height 30px
      background #ffed53
      content ' '
      opacity .3


  .effect
    &.fog, &.explosion
      pointer-events none
      position absolute
      transition opacity .5s
      transform translateZ(0)
      backface-visibility hidden
      z-index 3
      opacity 0

    &.active
      opacity 1

    &.fog
      top 148px
      left 96px

    &.p1.explosion
      top 242px
      left 105px
    &.p2.explosion
      top 140px
      left 150px

  .force
    opacity 0
    position absolute
    left 38%
    top 98px
    margin-left -126px
    transform translateZ(0) matrix3d(1, 0, 0, 0, 0, 0.11667073709933327, 0.993170649538486, 0, 0, -0.993170649538486, 0.11667073709933327, 0, 0, 133.06863596332892, -778.6025754663666, 1)
    backface-visibility hidden
    pointer-events none
    &.active
      opacity 1
      animation effect-force .5s infinite alternate
      animation-timing-function steps(3)

  .obstacles
    pointer-events none
    .obstacle
      transform translateZ(0)
      backface-visibility hidden
      position absolute
      transition opacity .3s
      opacity 0
      z-index 2
      &.active
        opacity 1
    .triangle-left
      top 210px
      left 188px
    .triangle-right
      top 210px
      left 497px
    .octagon
      top 209px
      left 302px
    .diamond
      top 209px
      left 305px

#p1,
#p2
  display block
  background-repeat no-repeat
  position absolute
  backface-visibility hidden
  transform-origin 50% 50% 0

  .gfx
    transition transform .5s
    transition-property transform, opacity
    position absolute
    z-index 1
    transform-origin-y bottom

  &.fireball
    .gfx
      opacity .8
    &:before
      position absolute
      width 60%
      height 50%
      background yellow
      top 0
      margin 7% 20%
      box-sizing border-box
      opacity 0.8
      z-index 0
      content ' '

#p1
  z-index 5

#p2
  z-index 3