html.mobile
  &.theme-default
    #canv-css
      .background, 
      .extra
        -webkit-filter unquote('hue-rotate(360deg) saturate(100%)')
  &.theme-green
    #canv-css
      .background
        -webkit-filter unquote('hue-rotate(101deg) saturate(42%)')
      .extra
        -webkit-filter unquote('hue-rotate(83deg) saturate(100%)')
  &.theme-purple
    #canv-css
      .background
        -webkit-filter unquote('hue-rotate(245deg) saturate(36%)')
      .extra
        -webkit-filter unquote('hue-rotate(138deg) saturate(100%)')
  &.theme-pastell
    #canv-css
      .background,
      .extra
        -webkit-filter unquote('hue-rotate(360deg) saturate(100%)')
  &.theme-pink
    #canv-css
      .background
        -webkit-filter unquote('hue-rotate(-29deg) saturate(73%)')
      .extra
        -webkit-filter unquote('hue-rotate(349deg) saturate(100%)')
  &.theme-light
    #canv-css
      .background, 
      .obstacles .obstacle
        -webkit-filter unquote('hue-rotate(181deg) saturate(63%)')
      .extra
        -webkit-filter unquote('hue-rotate(112deg) saturate(100%)')
  &.theme-orange
    #canv-css
      .background, .extra
        -webkit-filter unquote('hue-rotate(196deg) saturate(46%)')
  &.theme-forrest
    #canv-css
      .background, .extra
        -webkit-filter unquote('hue-rotate(338deg) saturate(36%)')


  // .theme-blackhorizon
  // .theme-redhorizon