@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/icons\/\*\.png}line{font-family:\0000390}}
.icons-sprite, .icons-cam, .icons-cam__spinner, .icons-computer, .icons-cross-fail, .icons-key-arrow-left, .icons-key-arrow-right, .icons-mouse, .icon-webcam, .icon-quarter-circle, .icon-computer, .icon-arrow-left, .icon-arrow-right, .icon-cross, .icon-mouse {
  background: url('../images/icons-s4e56167bd4.png') no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-cam {
  background-position: 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-cam__spinner {
  background-position: 0 -205px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-computer {
  background-position: 0 -67px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-cross-fail {
  background-position: 0 -161px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-key-arrow-left {
  background-position: 0 -321px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-key-arrow-right {
  background-position: 0 -310px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-mouse {
  background-position: 0 -260px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\0000316}}
.icon-webcam {
  background-position: 0 0;
  height: 65px;
  width: 51px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\0000320}}
.icon-quarter-circle {
  background-position: 0 -205px;
  height: 53px;
  width: 53px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\0000324}}
.icon-computer {
  background-position: 0 -67px;
  height: 92px;
  width: 67px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\0000328}}
.icon-arrow-left {
  background-position: 0 -321px;
  height: 9px;
  width: 9px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\0000332}}
.icon-arrow-right {
  background-position: 0 -310px;
  height: 9px;
  width: 9px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\0000336}}
.icon-cross {
  background-position: 0 -161px;
  height: 42px;
  width: 42px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\0000340}}
.icon-mouse {
  background-position: 0 -260px;
  height: 48px;
  width: 39px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\0000349}}
.dash-white {
  background: #F9F9DA;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\0000350}}
.dash-black {
  background: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\0000352}}
.dash-big {
  width: 30px;
  height: 6px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\0000357}}
.dash-medium {
  width: 14px;
  height: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\0000362}}
.dash-small {
  width: 14px;
  height: 6px;
}

@-webkit-keyframes spinner-rotate {
  /* line 74, ../sass/_instruction.scss */
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 75, ../sass/_instruction.scss */
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-rotate {
  /* line 74, ../sass/_instruction.scss */
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 75, ../sass/_instruction.scss */
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\0000381}}
.webcam-spinner__bg {
  position: absolute;
  margin: 19px 0 0 27px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\0000386}}
.webcam-spinner__quarter {
  -webkit-animation: spinner-rotate 1.5s infinite;
  animation: spinner-rotate 1.5s infinite;
  height: 106px;
  width: 106px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\0000398}}
.cpu-wth-eyes {
  height: 92px;
  width: 67px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003103}}
.cpu-wth-eyes__bg {
  position: absolute;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003107}}
.cpu-wth-eyes__container {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003111}}
.cpu-wth-eyes__eyes {
  position: absolute;
  top: 24px;
  left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003116}}
.cpu-wth-eyes__eyes > div {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003119}}
.cpu-wth-eyes__eyes > div:first-of-type {
  margin-right: 5px;
}

@-webkit-keyframes cpu-blinking {
  /* line 132, ../sass/_instruction.scss */
  20%, 40%, 50% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }

  /* line 133, ../sass/_instruction.scss */
  30%, 45% {
    -webkit-transform: scaleY(0.2);
    -moz-transform: scaleY(0.2);
    -ms-transform: scaleY(0.2);
    -o-transform: scaleY(0.2);
    transform: scaleY(0.2);
  }
}

@keyframes cpu-blinking {
  /* line 132, ../sass/_instruction.scss */
  20%, 40%, 50% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }

  /* line 133, ../sass/_instruction.scss */
  30%, 45% {
    -webkit-transform: scaleY(0.2);
    -moz-transform: scaleY(0.2);
    -ms-transform: scaleY(0.2);
    -o-transform: scaleY(0.2);
    transform: scaleY(0.2);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003136}}
.play-anim .cpu-wth-eyes__eyes > div, .reverse-anim .cpu-wth-eyes__eyes > div {
  -webkit-animation: cpu-blinking 2s;
  animation: cpu-blinking 2s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003140}}
.blinking-eyes-anim-loop {
  -webkit-animation: cpu-blinking 2s infinite;
  animation: cpu-blinking 2s infinite;
}

@-webkit-keyframes cpu-sad-right-eye {
  /* line 147, ../sass/_instruction.scss */
  10%, 30%, 40%, 100% {
    -webkit-transform: scaleY(1) rotate(0deg);
    -moz-transform: scaleY(1) rotate(0deg);
    -ms-transform: scaleY(1) rotate(0deg);
    -o-transform: scaleY(1) rotate(0deg);
    transform: scaleY(1) rotate(0deg);
  }

  /* line 148, ../sass/_instruction.scss */
  20%, 35% {
    -webkit-transform: scaleY(0.2) rotate(0deg);
    -moz-transform: scaleY(0.2) rotate(0deg);
    -ms-transform: scaleY(0.2) rotate(0deg);
    -o-transform: scaleY(0.2) rotate(0deg);
    transform: scaleY(0.2) rotate(0deg);
  }

  /* line 149, ../sass/_instruction.scss */
  60%, 94% {
    -webkit-transform: scaleY(1) rotate(20deg);
    -moz-transform: scaleY(1) rotate(20deg);
    -ms-transform: scaleY(1) rotate(20deg);
    -o-transform: scaleY(1) rotate(20deg);
    transform: scaleY(1) rotate(20deg);
  }
}

@keyframes cpu-sad-right-eye {
  /* line 147, ../sass/_instruction.scss */
  10%, 30%, 40%, 100% {
    -webkit-transform: scaleY(1) rotate(0deg);
    -moz-transform: scaleY(1) rotate(0deg);
    -ms-transform: scaleY(1) rotate(0deg);
    -o-transform: scaleY(1) rotate(0deg);
    transform: scaleY(1) rotate(0deg);
  }

  /* line 148, ../sass/_instruction.scss */
  20%, 35% {
    -webkit-transform: scaleY(0.2) rotate(0deg);
    -moz-transform: scaleY(0.2) rotate(0deg);
    -ms-transform: scaleY(0.2) rotate(0deg);
    -o-transform: scaleY(0.2) rotate(0deg);
    transform: scaleY(0.2) rotate(0deg);
  }

  /* line 149, ../sass/_instruction.scss */
  60%, 94% {
    -webkit-transform: scaleY(1) rotate(20deg);
    -moz-transform: scaleY(1) rotate(20deg);
    -ms-transform: scaleY(1) rotate(20deg);
    -o-transform: scaleY(1) rotate(20deg);
    transform: scaleY(1) rotate(20deg);
  }
}

@-webkit-keyframes cpu-sad-left-eye {
  /* line 153, ../sass/_instruction.scss */
  10%, 30%, 40%, 100% {
    -webkit-transform: scaleY(1) rotate(0deg);
    -moz-transform: scaleY(1) rotate(0deg);
    -ms-transform: scaleY(1) rotate(0deg);
    -o-transform: scaleY(1) rotate(0deg);
    transform: scaleY(1) rotate(0deg);
  }

  /* line 154, ../sass/_instruction.scss */
  20%, 35% {
    -webkit-transform: scaleY(0.2) rotate(0deg);
    -moz-transform: scaleY(0.2) rotate(0deg);
    -ms-transform: scaleY(0.2) rotate(0deg);
    -o-transform: scaleY(0.2) rotate(0deg);
    transform: scaleY(0.2) rotate(0deg);
  }

  /* line 155, ../sass/_instruction.scss */
  60%, 94% {
    -webkit-transform: scaleY(1) rotate(-20deg);
    -moz-transform: scaleY(1) rotate(-20deg);
    -ms-transform: scaleY(1) rotate(-20deg);
    -o-transform: scaleY(1) rotate(-20deg);
    transform: scaleY(1) rotate(-20deg);
  }
}

@keyframes cpu-sad-left-eye {
  /* line 153, ../sass/_instruction.scss */
  10%, 30%, 40%, 100% {
    -webkit-transform: scaleY(1) rotate(0deg);
    -moz-transform: scaleY(1) rotate(0deg);
    -ms-transform: scaleY(1) rotate(0deg);
    -o-transform: scaleY(1) rotate(0deg);
    transform: scaleY(1) rotate(0deg);
  }

  /* line 154, ../sass/_instruction.scss */
  20%, 35% {
    -webkit-transform: scaleY(0.2) rotate(0deg);
    -moz-transform: scaleY(0.2) rotate(0deg);
    -ms-transform: scaleY(0.2) rotate(0deg);
    -o-transform: scaleY(0.2) rotate(0deg);
    transform: scaleY(0.2) rotate(0deg);
  }

  /* line 155, ../sass/_instruction.scss */
  60%, 94% {
    -webkit-transform: scaleY(1) rotate(-20deg);
    -moz-transform: scaleY(1) rotate(-20deg);
    -ms-transform: scaleY(1) rotate(-20deg);
    -o-transform: scaleY(1) rotate(-20deg);
    transform: scaleY(1) rotate(-20deg);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003158}}
.sad-left-eye-anim-loop {
  -webkit-animation: cpu-sad-left-eye 3s infinite;
  animation: cpu-sad-left-eye 3s infinite;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003163}}
.sad-right-eye-anim-loop {
  -webkit-animation: cpu-sad-right-eye 3s infinite;
  animation: cpu-sad-right-eye 3s infinite;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

@-webkit-keyframes up-and-down {
  /* line 171, ../sass/_instruction.scss */
  0%, 20% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }

  /* line 172, ../sass/_instruction.scss */
  10% {
    -webkit-transform: translate(0, -20px);
    -moz-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    -o-transform: translate(0, -20px);
    transform: translate(0, -20px);
  }
}

@keyframes up-and-down {
  /* line 171, ../sass/_instruction.scss */
  0%, 20% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }

  /* line 172, ../sass/_instruction.scss */
  10% {
    -webkit-transform: translate(0, -20px);
    -moz-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    -o-transform: translate(0, -20px);
    transform: translate(0, -20px);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003175}}
.play-anim .dash-anim-line > div, .reverse-anim .dash-anim-line > div {
  -webkit-animation: up-and-down 2s;
  animation: up-and-down 2s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003182}}
.cpu-conn-anim {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003185}}
.cpu-conn-anim > div {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003190}}
.dash-anim-line {
  position: relative;
  vertical-align: top;
  top: 34px;
  margin: 0 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003196}}
.dash-anim-line > div {
  display: inline-block;
  margin-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003200}}
.dash-anim-line > div:last-of-type {
  margin-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003231}}
.play-anim .cpu-wth-eyes:last-of-type .cpu-wth-eyes__eyes > div {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003236}}
.play-anim .dash-anim-line > div:nth-of-type(1) {
  -webkit-animation-delay: 850ms;
  animation-delay: 850ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003236}}
.play-anim .dash-anim-line > div:nth-of-type(2) {
  -webkit-animation-delay: 950ms;
  animation-delay: 950ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003236}}
.play-anim .dash-anim-line > div:nth-of-type(3) {
  -webkit-animation-delay: 1050ms;
  animation-delay: 1050ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003236}}
.play-anim .dash-anim-line > div:nth-of-type(4) {
  -webkit-animation-delay: 1150ms;
  animation-delay: 1150ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003236}}
.play-anim .dash-anim-line > div:nth-of-type(5) {
  -webkit-animation-delay: 1250ms;
  animation-delay: 1250ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003236}}
.play-anim .dash-anim-line > div:nth-of-type(6) {
  -webkit-animation-delay: 1350ms;
  animation-delay: 1350ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003236}}
.play-anim .dash-anim-line > div:nth-of-type(7) {
  -webkit-animation-delay: 1450ms;
  animation-delay: 1450ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003236}}
.play-anim .dash-anim-line > div:nth-of-type(8) {
  -webkit-animation-delay: 1550ms;
  animation-delay: 1550ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003236}}
.play-anim .dash-anim-line > div:nth-of-type(9) {
  -webkit-animation-delay: 1650ms;
  animation-delay: 1650ms;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003243}}
.reverse-anim .cpu-wth-eyes:first-of-type .cpu-wth-eyes__eyes > div {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003249}}
.reverse-anim .dash-anim-line > div:nth-of-type(10) {
  -webkit-animation-delay: 750ms;
  animation-delay: 750ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003249}}
.reverse-anim .dash-anim-line > div:nth-of-type(9) {
  -webkit-animation-delay: 850ms;
  animation-delay: 850ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003249}}
.reverse-anim .dash-anim-line > div:nth-of-type(8) {
  -webkit-animation-delay: 950ms;
  animation-delay: 950ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003249}}
.reverse-anim .dash-anim-line > div:nth-of-type(7) {
  -webkit-animation-delay: 1050ms;
  animation-delay: 1050ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003249}}
.reverse-anim .dash-anim-line > div:nth-of-type(6) {
  -webkit-animation-delay: 1150ms;
  animation-delay: 1150ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003249}}
.reverse-anim .dash-anim-line > div:nth-of-type(5) {
  -webkit-animation-delay: 1250ms;
  animation-delay: 1250ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003249}}
.reverse-anim .dash-anim-line > div:nth-of-type(4) {
  -webkit-animation-delay: 1350ms;
  animation-delay: 1350ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003249}}
.reverse-anim .dash-anim-line > div:nth-of-type(3) {
  -webkit-animation-delay: 1450ms;
  animation-delay: 1450ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003249}}
.reverse-anim .dash-anim-line > div:nth-of-type(2) {
  -webkit-animation-delay: 1550ms;
  animation-delay: 1550ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003249}}
.reverse-anim .dash-anim-line > div:nth-of-type(1) {
  -webkit-animation-delay: 1650ms;
  animation-delay: 1650ms;
}

@-webkit-keyframes cpu-failed-cross {
  /* line 262, ../sass/_instruction.scss */
  from {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }

  /* line 263, ../sass/_instruction.scss */
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes cpu-failed-cross {
  /* line 262, ../sass/_instruction.scss */
  from {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }

  /* line 263, ../sass/_instruction.scss */
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003266}}
.cross-fail-anim {
  -webkit-animation: cpu-failed-cross 500ms;
  animation: cpu-failed-cross 500ms;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003271}}
.cpu-conn-failed-anim > div {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003275}}
.cpu-conn-failed-anim .cross-fail-anim {
  vertical-align: top;
  margin-top: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003280}}
.cpu-conn-failed-anim .dash-anim-line > div {
  -webkit-animation: up-and-down 4s infinite;
  animation: up-and-down 4s infinite;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003285}}
.cpu-conn-failed-anim div:nth-child(2) > div:nth-of-type(1) {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003285}}
.cpu-conn-failed-anim div:nth-child(2) > div:nth-of-type(2) {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003285}}
.cpu-conn-failed-anim div:nth-child(2) > div:nth-of-type(3) {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003292}}
.cpu-conn-failed-anim div:nth-child(4) > div:nth-of-type(3) {
  -webkit-animation-delay: 320ms;
  animation-delay: 320ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003292}}
.cpu-conn-failed-anim div:nth-child(4) > div:nth-of-type(2) {
  -webkit-animation-delay: 420ms;
  animation-delay: 420ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003292}}
.cpu-conn-failed-anim div:nth-child(4) > div:nth-of-type(1) {
  -webkit-animation-delay: 520ms;
  animation-delay: 520ms;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003304}}
.key {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003308}}
.key__label {
  position: absolute;
  font-size: 11px;
  font-family: "Arial";
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003315}}
.key__bg-inner {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  position: absolute;
  border: 1px solid #000;
  border-top: 0;
  margin-left: 3px;
  margin-top: -1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003324}}
.key__bg-outer {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  border: 2px solid #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003330}}
.key--small .key__bg-inner {
  width: 44px;
  height: 43px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003335}}
.key--small .key__bg-outer {
  width: 52px;
  height: 48px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003340}}
.key--small .icon-arrow-left {
  margin: 21px 0 0 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003344}}
.key--small .icon-arrow-right {
  margin: 21px 0 0 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003350}}
.key--big .key__label {
  margin-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003354}}
.key--big .key__bg-inner {
  width: 128px;
  height: 43px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003360}}
.key--big .key__label,
.key--big .key__bg-outer {
  width: 135px;
  height: 46px;
}

@-webkit-keyframes dash-right-to-left-to-right {
  /* line 374, ../sass/_instruction.scss */
  10%, 100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 375, ../sass/_instruction.scss */
  47%, 53% {
    -webkit-transform: translate(80px, 0);
    -moz-transform: translate(80px, 0);
    -ms-transform: translate(80px, 0);
    -o-transform: translate(80px, 0);
    transform: translate(80px, 0);
  }
}

@keyframes dash-right-to-left-to-right {
  /* line 374, ../sass/_instruction.scss */
  10%, 100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 375, ../sass/_instruction.scss */
  47%, 53% {
    -webkit-transform: translate(80px, 0);
    -moz-transform: translate(80px, 0);
    -ms-transform: translate(80px, 0);
    -o-transform: translate(80px, 0);
    transform: translate(80px, 0);
  }
}

@-webkit-keyframes keyleft-fade-in-out {
  /* line 382, ../sass/_instruction.scss */
  10%, 35%, 100% {
    opacity: 1;
  }

  /* line 383, ../sass/_instruction.scss */
  47%, 87% {
    opacity: 0;
  }
}

@keyframes keyleft-fade-in-out {
  /* line 382, ../sass/_instruction.scss */
  10%, 35%, 100% {
    opacity: 1;
  }

  /* line 383, ../sass/_instruction.scss */
  47%, 87% {
    opacity: 0;
  }
}

@-webkit-keyframes keyleft-arrow-up-down {
  /* line 387, ../sass/_instruction.scss */
  10%, 35%, 95% {
    -webkit-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }

  /* line 388, ../sass/_instruction.scss */
  47%, 87% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes keyleft-arrow-up-down {
  /* line 387, ../sass/_instruction.scss */
  10%, 35%, 95% {
    -webkit-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }

  /* line 388, ../sass/_instruction.scss */
  47%, 87% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-webkit-keyframes keyright-fade-out-in {
  /* line 395, ../sass/_instruction.scss */
  10%, 35%, 100% {
    opacity: 0;
  }

  /* line 396, ../sass/_instruction.scss */
  47%, 87% {
    opacity: 1;
  }
}

@keyframes keyright-fade-out-in {
  /* line 395, ../sass/_instruction.scss */
  10%, 35%, 100% {
    opacity: 0;
  }

  /* line 396, ../sass/_instruction.scss */
  47%, 87% {
    opacity: 1;
  }
}

@-webkit-keyframes keyright-arrow-down-up {
  /* line 400, ../sass/_instruction.scss */
  10%, 35%, 98% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 401, ../sass/_instruction.scss */
  47%, 92% {
    -webkit-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }
}

@keyframes keyright-arrow-down-up {
  /* line 400, ../sass/_instruction.scss */
  10%, 35%, 98% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 401, ../sass/_instruction.scss */
  47%, 92% {
    -webkit-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003407}}
.default-key-anim .key__label {
  -webkit-animation: keyleft-arrow-up-down 3s infinite;
  animation: keyleft-arrow-up-down 3s infinite;
  -webkit-transform: translate(0, -2px);
  -moz-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  -o-transform: translate(0, -2px);
  transform: translate(0, -2px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003412}}
.default-key-anim .key__bg-inner {
  -webkit-animation: keyleft-fade-in-out 3s infinite;
  animation: keyleft-fade-in-out 3s infinite;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003417}}
.kb-anim {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003420}}
.kb-anim .dash-big {
  -webkit-animation: dash-right-to-left-to-right 3s infinite;
  animation: dash-right-to-left-to-right 3s infinite;
  margin-left: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003425}}
.kb-anim .key {
  display: inline-block;
  margin: 15px 20px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003432}}
.kb-anim > div:nth-of-type(3) .key__label {
  -webkit-animation: keyright-arrow-down-up 3s infinite;
  animation: keyright-arrow-down-up 3s infinite;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003436}}
.kb-anim > div:nth-of-type(3) .key__bg-inner {
  -webkit-animation: keyright-fade-out-in 3s infinite;
  animation: keyright-fade-out-in 3s infinite;
  opacity: 0;
}

@-webkit-keyframes mouse-move {
  /* line 448, ../sass/_instruction.scss */
  10%, 100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 449, ../sass/_instruction.scss */
  50% {
    -webkit-transform: translate(20px, 0);
    -moz-transform: translate(20px, 0);
    -ms-transform: translate(20px, 0);
    -o-transform: translate(20px, 0);
    transform: translate(20px, 0);
  }
}

@keyframes mouse-move {
  /* line 448, ../sass/_instruction.scss */
  10%, 100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 449, ../sass/_instruction.scss */
  50% {
    -webkit-transform: translate(20px, 0);
    -moz-transform: translate(20px, 0);
    -ms-transform: translate(20px, 0);
    -o-transform: translate(20px, 0);
    transform: translate(20px, 0);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003452}}
.mouse-anim > .dash-big, .mouse-anim > .icon-mouse {
  -webkit-animation: mouse-move 1.6s infinite;
  animation: mouse-move 1.6s infinite;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003457}}
.mouse-anim > .dash-big {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
  margin-left: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_instruction\.scss}line{font-family:\00003463}}
.mouse-anim > .icon-mouse {
  margin-top: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/countdown\/\*\.png}line{font-family:\0000358}}
.countdown-sprite, .countdown-countdown_1, .countdown-countdown_2, .countdown-countdown_3, .countdown__num[data-number="3"], .countdown__num[data-number="2"], .countdown__num[data-number="1"] {
  background: url('../images/countdown-s9fee64d48a.png') no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.countdown-countdown_1 {
  background-position: 0 -1436px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.countdown-countdown_2 {
  background-position: 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.countdown-countdown_3 {
  background-position: 0 -718px;
}

@-webkit-keyframes countdown-transition {
  /* line 18, ../sass/_countdown.scss */
  92% {
    -webkit-transform: scale(1) translate(0, 0);
    -moz-transform: scale(1) translate(0, 0);
    -ms-transform: scale(1) translate(0, 0);
    -o-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    opacity: 1;
  }

  /* line 22, ../sass/_countdown.scss */
  100% {
    -webkit-transform: scale(1.3) translate(0, 0);
    -moz-transform: scale(1.3) translate(0, 0);
    -ms-transform: scale(1.3) translate(0, 0);
    -o-transform: scale(1.3) translate(0, 0);
    transform: scale(1.3) translate(0, 0);
    opacity: 0;
  }
}

@keyframes countdown-transition {
  /* line 18, ../sass/_countdown.scss */
  92% {
    -webkit-transform: scale(1) translate(0, 0);
    -moz-transform: scale(1) translate(0, 0);
    -ms-transform: scale(1) translate(0, 0);
    -o-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    opacity: 1;
  }

  /* line 22, ../sass/_countdown.scss */
  100% {
    -webkit-transform: scale(1.3) translate(0, 0);
    -moz-transform: scale(1.3) translate(0, 0);
    -ms-transform: scale(1.3) translate(0, 0);
    -o-transform: scale(1.3) translate(0, 0);
    transform: scale(1.3) translate(0, 0);
    opacity: 0;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_countdown\.scss}line{font-family:\0000331}}
.countdown {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_countdown\.scss}line{font-family:\0000335}}
.countdown__num {
  -webkit-animation: countdown-transition 1s ease-out normal;
  animation: countdown-transition 1s ease-out normal;
  position: absolute;
  width: 988px;
  height: 716px;
  -webkit-transform: scale(0.3) translate(0, 90px);
  -moz-transform: scale(0.3) translate(0, 90px);
  -ms-transform: scale(0.3) translate(0, 90px);
  -o-transform: scale(0.3) translate(0, 90px);
  transform: scale(0.3) translate(0, 90px);
  opacity: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_countdown\.scss}line{font-family:\0000348}}
.countdown__num[data-number="3"] {
  background-position: 0 -718px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_countdown\.scss}line{font-family:\0000348}}
.countdown__num[data-number="2"] {
  background-position: 0 0;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/_countdown\.scss}line{font-family:\0000348}}
.countdown__num[data-number="1"] {
  background-position: 0 -1436px;
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
