@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/icons\/\*\.png}line{font-family:\0000390}}
.icons-sprite, .icons-cam, .icons-cam__spinner, .icons-computer, .icons-cross-fail, .icons-key-arrow-left, .icons-key-arrow-right, .icons-mouse, .icon-webcam, .icon-quarter-circle, .icon-computer, .icon-arrow-left, .icon-arrow-right, .icon-cross, .icon-mouse {
  background: url('../images/icons-s4e56167bd4.png') no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-cam {
  background-position: 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-cam__spinner {
  background-position: 0 -205px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-computer {
  background-position: 0 -67px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-cross-fail {
  background-position: 0 -161px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-key-arrow-left {
  background-position: 0 -321px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-key-arrow-right {
  background-position: 0 -310px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-mouse {
  background-position: 0 -260px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000316}}
.icon-webcam {
  background-position: 0 0;
  height: 65px;
  width: 51px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000320}}
.icon-quarter-circle {
  background-position: 0 -205px;
  height: 53px;
  width: 53px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000324}}
.icon-computer {
  background-position: 0 -67px;
  height: 92px;
  width: 67px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000328}}
.icon-arrow-left {
  background-position: 0 -321px;
  height: 9px;
  width: 9px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000332}}
.icon-arrow-right {
  background-position: 0 -310px;
  height: 9px;
  width: 9px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000336}}
.icon-cross {
  background-position: 0 -161px;
  height: 42px;
  width: 42px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000340}}
.icon-mouse {
  background-position: 0 -260px;
  height: 48px;
  width: 39px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000349}}
.dash-white {
  background: #F9F9DA;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000350}}
.dash-black {
  background: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000352}}
.dash-big {
  width: 30px;
  height: 6px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000357}}
.dash-medium {
  width: 14px;
  height: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000362}}
.dash-small {
  width: 14px;
  height: 6px;
}

@-webkit-keyframes spinner-rotate {
  /* line 74, ../sass/main.scss */
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 75, ../sass/main.scss */
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-rotate {
  /* line 74, ../sass/main.scss */
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 75, ../sass/main.scss */
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000378}}
.webcam-spinner__quarter {
  -webkit-animation: spinner-rotate 1.5s infinite;
  animation: spinner-rotate 1.5s infinite;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000385}}
.webcam-spinner__bg {
  position: absolute;
  margin: 26.5px 0 0 26.5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000390}}
.webcam-spinner__quarter {
  height: 106px;
  width: 106px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003102}}
.cpu-wth-eyes {
  height: 92px;
  width: 67px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003107}}
.cpu-wth-eyes__bg {
  position: absolute;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003111}}
.cpu-wth-eyes__container {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003115}}
.cpu-wth-eyes__eyes {
  position: absolute;
  top: 24px;
  left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003120}}
.cpu-wth-eyes__eyes > div {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003123}}
.cpu-wth-eyes__eyes > div:first-of-type {
  margin-right: 5px;
}

@-webkit-keyframes cpu-blinking {
  /* line 136, ../sass/main.scss */
  20%, 40%, 50% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }

  /* line 137, ../sass/main.scss */
  30%, 45% {
    -webkit-transform: scaleY(0.2);
    -moz-transform: scaleY(0.2);
    -ms-transform: scaleY(0.2);
    -o-transform: scaleY(0.2);
    transform: scaleY(0.2);
  }
}

@keyframes cpu-blinking {
  /* line 136, ../sass/main.scss */
  20%, 40%, 50% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }

  /* line 137, ../sass/main.scss */
  30%, 45% {
    -webkit-transform: scaleY(0.2);
    -moz-transform: scaleY(0.2);
    -ms-transform: scaleY(0.2);
    -o-transform: scaleY(0.2);
    transform: scaleY(0.2);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003140}}
.play-anim .cpu-wth-eyes__eyes > div, .reverse-anim .cpu-wth-eyes__eyes > div {
  -webkit-animation: cpu-blinking 2s;
  animation: cpu-blinking 2s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003144}}
.blinking-eyes-anim-loop {
  -webkit-animation: cpu-blinking 2s infinite;
  animation: cpu-blinking 2s infinite;
}

@-webkit-keyframes cpu-sad-right-eye {
  /* line 151, ../sass/main.scss */
  10%, 30%, 40%, 100% {
    -webkit-transform: scaleY(1) rotate(0deg);
    -moz-transform: scaleY(1) rotate(0deg);
    -ms-transform: scaleY(1) rotate(0deg);
    -o-transform: scaleY(1) rotate(0deg);
    transform: scaleY(1) rotate(0deg);
  }

  /* line 152, ../sass/main.scss */
  20%, 35% {
    -webkit-transform: scaleY(0.2) rotate(0deg);
    -moz-transform: scaleY(0.2) rotate(0deg);
    -ms-transform: scaleY(0.2) rotate(0deg);
    -o-transform: scaleY(0.2) rotate(0deg);
    transform: scaleY(0.2) rotate(0deg);
  }

  /* line 153, ../sass/main.scss */
  60%, 94% {
    -webkit-transform: scaleY(1) rotate(20deg);
    -moz-transform: scaleY(1) rotate(20deg);
    -ms-transform: scaleY(1) rotate(20deg);
    -o-transform: scaleY(1) rotate(20deg);
    transform: scaleY(1) rotate(20deg);
  }
}

@keyframes cpu-sad-right-eye {
  /* line 151, ../sass/main.scss */
  10%, 30%, 40%, 100% {
    -webkit-transform: scaleY(1) rotate(0deg);
    -moz-transform: scaleY(1) rotate(0deg);
    -ms-transform: scaleY(1) rotate(0deg);
    -o-transform: scaleY(1) rotate(0deg);
    transform: scaleY(1) rotate(0deg);
  }

  /* line 152, ../sass/main.scss */
  20%, 35% {
    -webkit-transform: scaleY(0.2) rotate(0deg);
    -moz-transform: scaleY(0.2) rotate(0deg);
    -ms-transform: scaleY(0.2) rotate(0deg);
    -o-transform: scaleY(0.2) rotate(0deg);
    transform: scaleY(0.2) rotate(0deg);
  }

  /* line 153, ../sass/main.scss */
  60%, 94% {
    -webkit-transform: scaleY(1) rotate(20deg);
    -moz-transform: scaleY(1) rotate(20deg);
    -ms-transform: scaleY(1) rotate(20deg);
    -o-transform: scaleY(1) rotate(20deg);
    transform: scaleY(1) rotate(20deg);
  }
}

@-webkit-keyframes cpu-sad-left-eye {
  /* line 157, ../sass/main.scss */
  10%, 30%, 40%, 100% {
    -webkit-transform: scaleY(1) rotate(0deg);
    -moz-transform: scaleY(1) rotate(0deg);
    -ms-transform: scaleY(1) rotate(0deg);
    -o-transform: scaleY(1) rotate(0deg);
    transform: scaleY(1) rotate(0deg);
  }

  /* line 158, ../sass/main.scss */
  20%, 35% {
    -webkit-transform: scaleY(0.2) rotate(0deg);
    -moz-transform: scaleY(0.2) rotate(0deg);
    -ms-transform: scaleY(0.2) rotate(0deg);
    -o-transform: scaleY(0.2) rotate(0deg);
    transform: scaleY(0.2) rotate(0deg);
  }

  /* line 159, ../sass/main.scss */
  60%, 94% {
    -webkit-transform: scaleY(1) rotate(-20deg);
    -moz-transform: scaleY(1) rotate(-20deg);
    -ms-transform: scaleY(1) rotate(-20deg);
    -o-transform: scaleY(1) rotate(-20deg);
    transform: scaleY(1) rotate(-20deg);
  }
}

@keyframes cpu-sad-left-eye {
  /* line 157, ../sass/main.scss */
  10%, 30%, 40%, 100% {
    -webkit-transform: scaleY(1) rotate(0deg);
    -moz-transform: scaleY(1) rotate(0deg);
    -ms-transform: scaleY(1) rotate(0deg);
    -o-transform: scaleY(1) rotate(0deg);
    transform: scaleY(1) rotate(0deg);
  }

  /* line 158, ../sass/main.scss */
  20%, 35% {
    -webkit-transform: scaleY(0.2) rotate(0deg);
    -moz-transform: scaleY(0.2) rotate(0deg);
    -ms-transform: scaleY(0.2) rotate(0deg);
    -o-transform: scaleY(0.2) rotate(0deg);
    transform: scaleY(0.2) rotate(0deg);
  }

  /* line 159, ../sass/main.scss */
  60%, 94% {
    -webkit-transform: scaleY(1) rotate(-20deg);
    -moz-transform: scaleY(1) rotate(-20deg);
    -ms-transform: scaleY(1) rotate(-20deg);
    -o-transform: scaleY(1) rotate(-20deg);
    transform: scaleY(1) rotate(-20deg);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003162}}
.sad-left-eye-anim-loop {
  -webkit-animation: cpu-sad-left-eye 3s infinite;
  animation: cpu-sad-left-eye 3s infinite;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003167}}
.sad-right-eye-anim-loop {
  -webkit-animation: cpu-sad-right-eye 3s infinite;
  animation: cpu-sad-right-eye 3s infinite;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

@-webkit-keyframes up-and-down {
  /* line 175, ../sass/main.scss */
  0%, 20% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }

  /* line 176, ../sass/main.scss */
  10% {
    -webkit-transform: translate(0, -20px);
    -moz-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    -o-transform: translate(0, -20px);
    transform: translate(0, -20px);
  }
}

@keyframes up-and-down {
  /* line 175, ../sass/main.scss */
  0%, 20% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }

  /* line 176, ../sass/main.scss */
  10% {
    -webkit-transform: translate(0, -20px);
    -moz-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    -o-transform: translate(0, -20px);
    transform: translate(0, -20px);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003179}}
.play-anim .dash-anim-line > div, .reverse-anim .dash-anim-line > div {
  -webkit-animation: up-and-down 2s;
  animation: up-and-down 2s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003186}}
.cpu-conn-anim {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003189}}
.cpu-conn-anim > div {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003194}}
.dash-anim-line {
  position: relative;
  vertical-align: top;
  top: 34px;
  margin: 0 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003200}}
.dash-anim-line > div {
  display: inline-block;
  margin-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003204}}
.dash-anim-line > div:last-of-type {
  margin-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003235}}
.play-anim .cpu-wth-eyes:last-of-type .cpu-wth-eyes__eyes > div {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003240}}
.play-anim .dash-anim-line > div:nth-of-type(1) {
  -webkit-animation-delay: 850ms;
  animation-delay: 850ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003240}}
.play-anim .dash-anim-line > div:nth-of-type(2) {
  -webkit-animation-delay: 950ms;
  animation-delay: 950ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003240}}
.play-anim .dash-anim-line > div:nth-of-type(3) {
  -webkit-animation-delay: 1050ms;
  animation-delay: 1050ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003240}}
.play-anim .dash-anim-line > div:nth-of-type(4) {
  -webkit-animation-delay: 1150ms;
  animation-delay: 1150ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003240}}
.play-anim .dash-anim-line > div:nth-of-type(5) {
  -webkit-animation-delay: 1250ms;
  animation-delay: 1250ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003240}}
.play-anim .dash-anim-line > div:nth-of-type(6) {
  -webkit-animation-delay: 1350ms;
  animation-delay: 1350ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003240}}
.play-anim .dash-anim-line > div:nth-of-type(7) {
  -webkit-animation-delay: 1450ms;
  animation-delay: 1450ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003240}}
.play-anim .dash-anim-line > div:nth-of-type(8) {
  -webkit-animation-delay: 1550ms;
  animation-delay: 1550ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003240}}
.play-anim .dash-anim-line > div:nth-of-type(9) {
  -webkit-animation-delay: 1650ms;
  animation-delay: 1650ms;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003247}}
.reverse-anim .cpu-wth-eyes:first-of-type .cpu-wth-eyes__eyes > div {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003253}}
.reverse-anim .dash-anim-line > div:nth-of-type(10) {
  -webkit-animation-delay: 750ms;
  animation-delay: 750ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003253}}
.reverse-anim .dash-anim-line > div:nth-of-type(9) {
  -webkit-animation-delay: 850ms;
  animation-delay: 850ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003253}}
.reverse-anim .dash-anim-line > div:nth-of-type(8) {
  -webkit-animation-delay: 950ms;
  animation-delay: 950ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003253}}
.reverse-anim .dash-anim-line > div:nth-of-type(7) {
  -webkit-animation-delay: 1050ms;
  animation-delay: 1050ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003253}}
.reverse-anim .dash-anim-line > div:nth-of-type(6) {
  -webkit-animation-delay: 1150ms;
  animation-delay: 1150ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003253}}
.reverse-anim .dash-anim-line > div:nth-of-type(5) {
  -webkit-animation-delay: 1250ms;
  animation-delay: 1250ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003253}}
.reverse-anim .dash-anim-line > div:nth-of-type(4) {
  -webkit-animation-delay: 1350ms;
  animation-delay: 1350ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003253}}
.reverse-anim .dash-anim-line > div:nth-of-type(3) {
  -webkit-animation-delay: 1450ms;
  animation-delay: 1450ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003253}}
.reverse-anim .dash-anim-line > div:nth-of-type(2) {
  -webkit-animation-delay: 1550ms;
  animation-delay: 1550ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003253}}
.reverse-anim .dash-anim-line > div:nth-of-type(1) {
  -webkit-animation-delay: 1650ms;
  animation-delay: 1650ms;
}

@-webkit-keyframes cpu-failed-cross {
  /* line 266, ../sass/main.scss */
  from {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }

  /* line 267, ../sass/main.scss */
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes cpu-failed-cross {
  /* line 266, ../sass/main.scss */
  from {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }

  /* line 267, ../sass/main.scss */
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003270}}
.cross-fail-anim {
  -webkit-animation: cpu-failed-cross 500ms;
  animation: cpu-failed-cross 500ms;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003275}}
.cpu-conn-failed-anim > div {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003279}}
.cpu-conn-failed-anim .cross-fail-anim {
  vertical-align: top;
  margin-top: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003284}}
.cpu-conn-failed-anim .dash-anim-line > div {
  -webkit-animation: up-and-down 4s infinite;
  animation: up-and-down 4s infinite;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003289}}
.cpu-conn-failed-anim div:nth-child(2) > div:nth-of-type(1) {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003289}}
.cpu-conn-failed-anim div:nth-child(2) > div:nth-of-type(2) {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003289}}
.cpu-conn-failed-anim div:nth-child(2) > div:nth-of-type(3) {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003296}}
.cpu-conn-failed-anim div:nth-child(4) > div:nth-of-type(3) {
  -webkit-animation-delay: 320ms;
  animation-delay: 320ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003296}}
.cpu-conn-failed-anim div:nth-child(4) > div:nth-of-type(2) {
  -webkit-animation-delay: 420ms;
  animation-delay: 420ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003296}}
.cpu-conn-failed-anim div:nth-child(4) > div:nth-of-type(1) {
  -webkit-animation-delay: 520ms;
  animation-delay: 520ms;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003308}}
.key {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003312}}
.key__label {
  position: absolute;
  font-size: 11px;
  font-family: "Arial";
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003319}}
.key__bg-inner {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  position: absolute;
  border: 2px solid #000;
  border-top: 0;
  margin-left: 2px;
  margin-top: -1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003328}}
.key__bg-outer {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  border: 3px solid #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003334}}
.key--small .key__bg-inner {
  width: 44px;
  height: 43px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003339}}
.key--small .key__bg-outer {
  width: 52px;
  height: 48px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003344}}
.key--small .icon-arrow-left {
  margin: 21px 0 0 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003348}}
.key--small .icon-arrow-right {
  margin: 21px 0 0 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003354}}
.key--big .key__label {
  margin-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003358}}
.key--big .key__bg-inner {
  width: 128px;
  height: 43px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003364}}
.key--big .key__label,
.key--big .key__bg-outer {
  width: 135px;
  height: 46px;
}

@-webkit-keyframes dash-right-to-left-to-right {
  /* line 378, ../sass/main.scss */
  10%, 100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 379, ../sass/main.scss */
  47%, 53% {
    -webkit-transform: translate(80px, 0);
    -moz-transform: translate(80px, 0);
    -ms-transform: translate(80px, 0);
    -o-transform: translate(80px, 0);
    transform: translate(80px, 0);
  }
}

@keyframes dash-right-to-left-to-right {
  /* line 378, ../sass/main.scss */
  10%, 100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 379, ../sass/main.scss */
  47%, 53% {
    -webkit-transform: translate(80px, 0);
    -moz-transform: translate(80px, 0);
    -ms-transform: translate(80px, 0);
    -o-transform: translate(80px, 0);
    transform: translate(80px, 0);
  }
}

@-webkit-keyframes keyleft-fade-in-out {
  /* line 386, ../sass/main.scss */
  10%, 35%, 100% {
    opacity: 1;
  }

  /* line 387, ../sass/main.scss */
  47%, 87% {
    opacity: 0;
  }
}

@keyframes keyleft-fade-in-out {
  /* line 386, ../sass/main.scss */
  10%, 35%, 100% {
    opacity: 1;
  }

  /* line 387, ../sass/main.scss */
  47%, 87% {
    opacity: 0;
  }
}

@-webkit-keyframes keyleft-arrow-up-down {
  /* line 391, ../sass/main.scss */
  10%, 35%, 95% {
    -webkit-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }

  /* line 392, ../sass/main.scss */
  47%, 87% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes keyleft-arrow-up-down {
  /* line 391, ../sass/main.scss */
  10%, 35%, 95% {
    -webkit-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }

  /* line 392, ../sass/main.scss */
  47%, 87% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-webkit-keyframes keyright-fade-out-in {
  /* line 399, ../sass/main.scss */
  10%, 35%, 100% {
    opacity: 0;
  }

  /* line 400, ../sass/main.scss */
  47%, 87% {
    opacity: 1;
  }
}

@keyframes keyright-fade-out-in {
  /* line 399, ../sass/main.scss */
  10%, 35%, 100% {
    opacity: 0;
  }

  /* line 400, ../sass/main.scss */
  47%, 87% {
    opacity: 1;
  }
}

@-webkit-keyframes keyright-arrow-down-up {
  /* line 404, ../sass/main.scss */
  10%, 35%, 98% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 405, ../sass/main.scss */
  47%, 92% {
    -webkit-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }
}

@keyframes keyright-arrow-down-up {
  /* line 404, ../sass/main.scss */
  10%, 35%, 98% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 405, ../sass/main.scss */
  47%, 92% {
    -webkit-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003411}}
.default-key-anim .key__label {
  -webkit-animation: keyleft-arrow-up-down 3s infinite;
  animation: keyleft-arrow-up-down 3s infinite;
  -webkit-transform: translate(0, -2px);
  -moz-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  -o-transform: translate(0, -2px);
  transform: translate(0, -2px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003416}}
.default-key-anim .key__bg-inner {
  -webkit-animation: keyleft-fade-in-out 3s infinite;
  animation: keyleft-fade-in-out 3s infinite;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003421}}
.kb-anim {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003424}}
.kb-anim .dash-big {
  -webkit-animation: dash-right-to-left-to-right 3s infinite;
  animation: dash-right-to-left-to-right 3s infinite;
  margin-left: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003429}}
.kb-anim .key {
  display: inline-block;
  margin: 15px 20px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003436}}
.kb-anim > div:nth-of-type(3) .key__label {
  -webkit-animation: keyright-arrow-down-up 3s infinite;
  animation: keyright-arrow-down-up 3s infinite;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003440}}
.kb-anim > div:nth-of-type(3) .key__bg-inner {
  -webkit-animation: keyright-fade-out-in 3s infinite;
  animation: keyright-fade-out-in 3s infinite;
  opacity: 0;
}

@-webkit-keyframes mouse-move {
  /* line 452, ../sass/main.scss */
  10%, 100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 453, ../sass/main.scss */
  50% {
    -webkit-transform: translate(20px, 0);
    -moz-transform: translate(20px, 0);
    -ms-transform: translate(20px, 0);
    -o-transform: translate(20px, 0);
    transform: translate(20px, 0);
  }
}

@keyframes mouse-move {
  /* line 452, ../sass/main.scss */
  10%, 100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 453, ../sass/main.scss */
  50% {
    -webkit-transform: translate(20px, 0);
    -moz-transform: translate(20px, 0);
    -ms-transform: translate(20px, 0);
    -o-transform: translate(20px, 0);
    transform: translate(20px, 0);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003456}}
.mouse-anim > .dash-big, .mouse-anim > .icon-mouse {
  -webkit-animation: mouse-move 1.6s infinite;
  animation: mouse-move 1.6s infinite;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003461}}
.mouse-anim > .dash-big {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
  margin-left: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003467}}
.mouse-anim > .icon-mouse {
  margin-top: 15px;
}
