@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/icons\/\*\.png}line{font-family:\0000390}}
.icons-sprite, .icons-cam, .icons-cam__spinner, .icons-computer, .icons-cross-fail, .icons-key-arrow-left, .icons-key-arrow-right, .icons-mouse, .icon-webcam, .icon-quarter-circle, .icon-computer, .icon-arrow-left, .icon-arrow-right, .icon-cross, .icon-mouse {
  background: url('../images/icons-s4e56167bd4.png') no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-cam {
  background-position: 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-cam__spinner {
  background-position: 0 -205px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-computer {
  background-position: 0 -67px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-cross-fail {
  background-position: 0 -161px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-key-arrow-left {
  background-position: 0 -321px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-key-arrow-right {
  background-position: 0 -310px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.icons-mouse {
  background-position: 0 -260px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000313}}
.webcam-spinner__quarter, .blinking-eyes-anim-loop, .sad-left-eye-anim-loop, .sad-right-eye-anim-loop, .cpu-conn-failed-anim .dash-anim-line > div, .kb-anim .dash-big, .default-key-anim .key__bg-inner, .default-key-anim .key__label, .kb-anim > div:nth-of-type(3) .key__bg-inner, .kb-anim > div:nth-of-type(3) .key__label, .mouse-anim > .dash-big, .mouse-anim > .icon-mouse {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000321}}
.icon-webcam {
  background-position: 0 0;
  height: 65px;
  width: 51px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000325}}
.icon-quarter-circle {
  background-position: 0 -205px;
  height: 53px;
  width: 53px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000329}}
.icon-computer {
  background-position: 0 -67px;
  height: 92px;
  width: 67px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000333}}
.icon-arrow-left {
  background-position: 0 -321px;
  height: 9px;
  width: 9px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000337}}
.icon-arrow-right {
  background-position: 0 -310px;
  height: 9px;
  width: 9px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000341}}
.icon-cross {
  background-position: 0 -161px;
  height: 42px;
  width: 42px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000345}}
.icon-mouse {
  background-position: 0 -260px;
  height: 48px;
  width: 39px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000354}}
.dash-white {
  background: #F9F9DA;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000355}}
.dash-black {
  background: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000357}}
.dash-big {
  width: 30px;
  height: 6px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000362}}
.dash-medium {
  width: 14px;
  height: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000367}}
.dash-small {
  width: 14px;
  height: 6px;
}

@-webkit-keyframes spinner-rotate {
  /* line 79, ../sass/main.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 80, ../sass/main.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-rotate {
  /* line 79, ../sass/main.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 80, ../sass/main.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000383}}
.webcam-spinner__quarter {
  -webkit-animation-name: spinner-rotate;
  animation-name: spinner-rotate;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000392}}
.webcam-spinner__bg {
  position: absolute;
  margin: 26.5px 0 0 26.5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\0000397}}
.webcam-spinner__quarter {
  height: 106px;
  width: 106px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003109}}
.cpu-wth-eyes {
  height: 92px;
  width: 67px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003114}}
.cpu-wth-eyes__bg {
  position: absolute;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003118}}
.cpu-wth-eyes__container {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003122}}
.cpu-wth-eyes__eyes {
  position: absolute;
  top: 24px;
  left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003127}}
.cpu-wth-eyes__eyes > div {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003130}}
.cpu-wth-eyes__eyes > div:first-of-type {
  margin-right: 5px;
}

@-webkit-keyframes cpu-blinking {
  /* line 143, ../sass/main.scss */
  20% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }

  /* line 144, ../sass/main.scss */
  30% {
    -webkit-transform: scaleY(0.2);
    -moz-transform: scaleY(0.2);
    -ms-transform: scaleY(0.2);
    -o-transform: scaleY(0.2);
    transform: scaleY(0.2);
  }

  /* line 145, ../sass/main.scss */
  40% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }

  /* line 146, ../sass/main.scss */
  45% {
    -webkit-transform: scaleY(0.2);
    -moz-transform: scaleY(0.2);
    -ms-transform: scaleY(0.2);
    -o-transform: scaleY(0.2);
    transform: scaleY(0.2);
  }

  /* line 147, ../sass/main.scss */
  50% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes cpu-blinking {
  /* line 143, ../sass/main.scss */
  20% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }

  /* line 144, ../sass/main.scss */
  30% {
    -webkit-transform: scaleY(0.2);
    -moz-transform: scaleY(0.2);
    -ms-transform: scaleY(0.2);
    -o-transform: scaleY(0.2);
    transform: scaleY(0.2);
  }

  /* line 145, ../sass/main.scss */
  40% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }

  /* line 146, ../sass/main.scss */
  45% {
    -webkit-transform: scaleY(0.2);
    -moz-transform: scaleY(0.2);
    -ms-transform: scaleY(0.2);
    -o-transform: scaleY(0.2);
    transform: scaleY(0.2);
  }

  /* line 147, ../sass/main.scss */
  50% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003150}}
.blinking-eyes-anim-loop, .play-anim .cpu-wth-eyes__eyes > div, .reverse-anim .cpu-wth-eyes__eyes > div {
  -webkit-animation-name: cpu-blinking;
  animation-name: cpu-blinking;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes cpu-sad-right-eye {
  /* line 164, ../sass/main.scss */
  10% {
    -webkit-transform: scaleY(1) rotate(0deg);
    -moz-transform: scaleY(1) rotate(0deg);
    -ms-transform: scaleY(1) rotate(0deg);
    -o-transform: scaleY(1) rotate(0deg);
    transform: scaleY(1) rotate(0deg);
  }

  /* line 165, ../sass/main.scss */
  20% {
    -webkit-transform: scaleY(0.2) rotate(0deg);
    -moz-transform: scaleY(0.2) rotate(0deg);
    -ms-transform: scaleY(0.2) rotate(0deg);
    -o-transform: scaleY(0.2) rotate(0deg);
    transform: scaleY(0.2) rotate(0deg);
  }

  /* line 166, ../sass/main.scss */
  30% {
    -webkit-transform: scaleY(1) rotate(0deg);
    -moz-transform: scaleY(1) rotate(0deg);
    -ms-transform: scaleY(1) rotate(0deg);
    -o-transform: scaleY(1) rotate(0deg);
    transform: scaleY(1) rotate(0deg);
  }

  /* line 167, ../sass/main.scss */
  35% {
    -webkit-transform: scaleY(0.2) rotate(0deg);
    -moz-transform: scaleY(0.2) rotate(0deg);
    -ms-transform: scaleY(0.2) rotate(0deg);
    -o-transform: scaleY(0.2) rotate(0deg);
    transform: scaleY(0.2) rotate(0deg);
  }

  /* line 168, ../sass/main.scss */
  40% {
    -webkit-transform: scaleY(1) rotate(0deg);
    -moz-transform: scaleY(1) rotate(0deg);
    -ms-transform: scaleY(1) rotate(0deg);
    -o-transform: scaleY(1) rotate(0deg);
    transform: scaleY(1) rotate(0deg);
  }

  /* line 169, ../sass/main.scss */
  60% {
    -webkit-transform: scaleY(1) rotate(20deg);
    -moz-transform: scaleY(1) rotate(20deg);
    -ms-transform: scaleY(1) rotate(20deg);
    -o-transform: scaleY(1) rotate(20deg);
    transform: scaleY(1) rotate(20deg);
  }

  /* line 170, ../sass/main.scss */
  94% {
    -webkit-transform: scaleY(1) rotate(20deg);
    -moz-transform: scaleY(1) rotate(20deg);
    -ms-transform: scaleY(1) rotate(20deg);
    -o-transform: scaleY(1) rotate(20deg);
    transform: scaleY(1) rotate(20deg);
  }

  /* line 171, ../sass/main.scss */
  100% {
    -webkit-transform: scaleY(1) rotate(0deg);
    -moz-transform: scaleY(1) rotate(0deg);
    -ms-transform: scaleY(1) rotate(0deg);
    -o-transform: scaleY(1) rotate(0deg);
    transform: scaleY(1) rotate(0deg);
  }
}

@keyframes cpu-sad-right-eye {
  /* line 164, ../sass/main.scss */
  10% {
    -webkit-transform: scaleY(1) rotate(0deg);
    -moz-transform: scaleY(1) rotate(0deg);
    -ms-transform: scaleY(1) rotate(0deg);
    -o-transform: scaleY(1) rotate(0deg);
    transform: scaleY(1) rotate(0deg);
  }

  /* line 165, ../sass/main.scss */
  20% {
    -webkit-transform: scaleY(0.2) rotate(0deg);
    -moz-transform: scaleY(0.2) rotate(0deg);
    -ms-transform: scaleY(0.2) rotate(0deg);
    -o-transform: scaleY(0.2) rotate(0deg);
    transform: scaleY(0.2) rotate(0deg);
  }

  /* line 166, ../sass/main.scss */
  30% {
    -webkit-transform: scaleY(1) rotate(0deg);
    -moz-transform: scaleY(1) rotate(0deg);
    -ms-transform: scaleY(1) rotate(0deg);
    -o-transform: scaleY(1) rotate(0deg);
    transform: scaleY(1) rotate(0deg);
  }

  /* line 167, ../sass/main.scss */
  35% {
    -webkit-transform: scaleY(0.2) rotate(0deg);
    -moz-transform: scaleY(0.2) rotate(0deg);
    -ms-transform: scaleY(0.2) rotate(0deg);
    -o-transform: scaleY(0.2) rotate(0deg);
    transform: scaleY(0.2) rotate(0deg);
  }

  /* line 168, ../sass/main.scss */
  40% {
    -webkit-transform: scaleY(1) rotate(0deg);
    -moz-transform: scaleY(1) rotate(0deg);
    -ms-transform: scaleY(1) rotate(0deg);
    -o-transform: scaleY(1) rotate(0deg);
    transform: scaleY(1) rotate(0deg);
  }

  /* line 169, ../sass/main.scss */
  60% {
    -webkit-transform: scaleY(1) rotate(20deg);
    -moz-transform: scaleY(1) rotate(20deg);
    -ms-transform: scaleY(1) rotate(20deg);
    -o-transform: scaleY(1) rotate(20deg);
    transform: scaleY(1) rotate(20deg);
  }

  /* line 170, ../sass/main.scss */
  94% {
    -webkit-transform: scaleY(1) rotate(20deg);
    -moz-transform: scaleY(1) rotate(20deg);
    -ms-transform: scaleY(1) rotate(20deg);
    -o-transform: scaleY(1) rotate(20deg);
    transform: scaleY(1) rotate(20deg);
  }

  /* line 171, ../sass/main.scss */
  100% {
    -webkit-transform: scaleY(1) rotate(0deg);
    -moz-transform: scaleY(1) rotate(0deg);
    -ms-transform: scaleY(1) rotate(0deg);
    -o-transform: scaleY(1) rotate(0deg);
    transform: scaleY(1) rotate(0deg);
  }
}

@-webkit-keyframes cpu-sad-left-eye {
  /* line 175, ../sass/main.scss */
  10% {
    -webkit-transform: scaleY(1) rotate(0deg);
    -moz-transform: scaleY(1) rotate(0deg);
    -ms-transform: scaleY(1) rotate(0deg);
    -o-transform: scaleY(1) rotate(0deg);
    transform: scaleY(1) rotate(0deg);
  }

  /* line 176, ../sass/main.scss */
  20% {
    -webkit-transform: scaleY(0.2) rotate(0deg);
    -moz-transform: scaleY(0.2) rotate(0deg);
    -ms-transform: scaleY(0.2) rotate(0deg);
    -o-transform: scaleY(0.2) rotate(0deg);
    transform: scaleY(0.2) rotate(0deg);
  }

  /* line 177, ../sass/main.scss */
  30% {
    -webkit-transform: scaleY(1) rotate(0deg);
    -moz-transform: scaleY(1) rotate(0deg);
    -ms-transform: scaleY(1) rotate(0deg);
    -o-transform: scaleY(1) rotate(0deg);
    transform: scaleY(1) rotate(0deg);
  }

  /* line 178, ../sass/main.scss */
  35% {
    -webkit-transform: scaleY(0.2) rotate(0deg);
    -moz-transform: scaleY(0.2) rotate(0deg);
    -ms-transform: scaleY(0.2) rotate(0deg);
    -o-transform: scaleY(0.2) rotate(0deg);
    transform: scaleY(0.2) rotate(0deg);
  }

  /* line 179, ../sass/main.scss */
  40% {
    -webkit-transform: scaleY(1) rotate(0deg);
    -moz-transform: scaleY(1) rotate(0deg);
    -ms-transform: scaleY(1) rotate(0deg);
    -o-transform: scaleY(1) rotate(0deg);
    transform: scaleY(1) rotate(0deg);
  }

  /* line 180, ../sass/main.scss */
  60% {
    -webkit-transform: scaleY(1) rotate(-20deg);
    -moz-transform: scaleY(1) rotate(-20deg);
    -ms-transform: scaleY(1) rotate(-20deg);
    -o-transform: scaleY(1) rotate(-20deg);
    transform: scaleY(1) rotate(-20deg);
  }

  /* line 181, ../sass/main.scss */
  94% {
    -webkit-transform: scaleY(1) rotate(-20deg);
    -moz-transform: scaleY(1) rotate(-20deg);
    -ms-transform: scaleY(1) rotate(-20deg);
    -o-transform: scaleY(1) rotate(-20deg);
    transform: scaleY(1) rotate(-20deg);
  }

  /* line 182, ../sass/main.scss */
  100% {
    -webkit-transform: scaleY(1) rotate(0deg);
    -moz-transform: scaleY(1) rotate(0deg);
    -ms-transform: scaleY(1) rotate(0deg);
    -o-transform: scaleY(1) rotate(0deg);
    transform: scaleY(1) rotate(0deg);
  }
}

@keyframes cpu-sad-left-eye {
  /* line 175, ../sass/main.scss */
  10% {
    -webkit-transform: scaleY(1) rotate(0deg);
    -moz-transform: scaleY(1) rotate(0deg);
    -ms-transform: scaleY(1) rotate(0deg);
    -o-transform: scaleY(1) rotate(0deg);
    transform: scaleY(1) rotate(0deg);
  }

  /* line 176, ../sass/main.scss */
  20% {
    -webkit-transform: scaleY(0.2) rotate(0deg);
    -moz-transform: scaleY(0.2) rotate(0deg);
    -ms-transform: scaleY(0.2) rotate(0deg);
    -o-transform: scaleY(0.2) rotate(0deg);
    transform: scaleY(0.2) rotate(0deg);
  }

  /* line 177, ../sass/main.scss */
  30% {
    -webkit-transform: scaleY(1) rotate(0deg);
    -moz-transform: scaleY(1) rotate(0deg);
    -ms-transform: scaleY(1) rotate(0deg);
    -o-transform: scaleY(1) rotate(0deg);
    transform: scaleY(1) rotate(0deg);
  }

  /* line 178, ../sass/main.scss */
  35% {
    -webkit-transform: scaleY(0.2) rotate(0deg);
    -moz-transform: scaleY(0.2) rotate(0deg);
    -ms-transform: scaleY(0.2) rotate(0deg);
    -o-transform: scaleY(0.2) rotate(0deg);
    transform: scaleY(0.2) rotate(0deg);
  }

  /* line 179, ../sass/main.scss */
  40% {
    -webkit-transform: scaleY(1) rotate(0deg);
    -moz-transform: scaleY(1) rotate(0deg);
    -ms-transform: scaleY(1) rotate(0deg);
    -o-transform: scaleY(1) rotate(0deg);
    transform: scaleY(1) rotate(0deg);
  }

  /* line 180, ../sass/main.scss */
  60% {
    -webkit-transform: scaleY(1) rotate(-20deg);
    -moz-transform: scaleY(1) rotate(-20deg);
    -ms-transform: scaleY(1) rotate(-20deg);
    -o-transform: scaleY(1) rotate(-20deg);
    transform: scaleY(1) rotate(-20deg);
  }

  /* line 181, ../sass/main.scss */
  94% {
    -webkit-transform: scaleY(1) rotate(-20deg);
    -moz-transform: scaleY(1) rotate(-20deg);
    -ms-transform: scaleY(1) rotate(-20deg);
    -o-transform: scaleY(1) rotate(-20deg);
    transform: scaleY(1) rotate(-20deg);
  }

  /* line 182, ../sass/main.scss */
  100% {
    -webkit-transform: scaleY(1) rotate(0deg);
    -moz-transform: scaleY(1) rotate(0deg);
    -ms-transform: scaleY(1) rotate(0deg);
    -o-transform: scaleY(1) rotate(0deg);
    transform: scaleY(1) rotate(0deg);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003185}}
.sad-left-eye-anim-loop, .sad-right-eye-anim-loop {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003190}}
.sad-left-eye-anim-loop {
  -webkit-animation-name: cpu-sad-left-eye;
  animation-name: cpu-sad-left-eye;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003195}}
.sad-right-eye-anim-loop {
  -webkit-animation-name: cpu-sad-right-eye;
  animation-name: cpu-sad-right-eye;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003200}}
.sad-left-eye-anim-loop {
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003205}}
.sad-right-eye-anim-loop {
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

@-webkit-keyframes up-and-down {
  /* line 213, ../sass/main.scss */
  0% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }

  /* line 214, ../sass/main.scss */
  10% {
    -webkit-transform: translate(0, -20px);
    -moz-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    -o-transform: translate(0, -20px);
    transform: translate(0, -20px);
  }

  /* line 215, ../sass/main.scss */
  20% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
}

@keyframes up-and-down {
  /* line 213, ../sass/main.scss */
  0% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }

  /* line 214, ../sass/main.scss */
  10% {
    -webkit-transform: translate(0, -20px);
    -moz-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    -o-transform: translate(0, -20px);
    transform: translate(0, -20px);
  }

  /* line 215, ../sass/main.scss */
  20% {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003218}}
.play-anim .dash-anim-line > div, .reverse-anim .dash-anim-line > div {
  -webkit-animation-name: up-and-down;
  animation-name: up-and-down;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003226}}
.cpu-conn-anim {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003229}}
.cpu-conn-anim > div {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003234}}
.dash-anim-line {
  position: relative;
  vertical-align: top;
  top: 34px;
  margin: 0 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003240}}
.dash-anim-line > div {
  display: inline-block;
  margin-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003244}}
.dash-anim-line > div:last-of-type {
  margin-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003275}}
.play-anim .cpu-wth-eyes:last-of-type .cpu-wth-eyes__eyes > div {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003280}}
.play-anim .dash-anim-line > div:nth-of-type(1) {
  -webkit-animation-delay: 850ms;
  animation-delay: 850ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003280}}
.play-anim .dash-anim-line > div:nth-of-type(2) {
  -webkit-animation-delay: 950ms;
  animation-delay: 950ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003280}}
.play-anim .dash-anim-line > div:nth-of-type(3) {
  -webkit-animation-delay: 1050ms;
  animation-delay: 1050ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003280}}
.play-anim .dash-anim-line > div:nth-of-type(4) {
  -webkit-animation-delay: 1150ms;
  animation-delay: 1150ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003280}}
.play-anim .dash-anim-line > div:nth-of-type(5) {
  -webkit-animation-delay: 1250ms;
  animation-delay: 1250ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003280}}
.play-anim .dash-anim-line > div:nth-of-type(6) {
  -webkit-animation-delay: 1350ms;
  animation-delay: 1350ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003280}}
.play-anim .dash-anim-line > div:nth-of-type(7) {
  -webkit-animation-delay: 1450ms;
  animation-delay: 1450ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003280}}
.play-anim .dash-anim-line > div:nth-of-type(8) {
  -webkit-animation-delay: 1550ms;
  animation-delay: 1550ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003280}}
.play-anim .dash-anim-line > div:nth-of-type(9) {
  -webkit-animation-delay: 1650ms;
  animation-delay: 1650ms;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003287}}
.reverse-anim .cpu-wth-eyes:first-of-type .cpu-wth-eyes__eyes > div {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003293}}
.reverse-anim .dash-anim-line > div:nth-of-type(10) {
  -webkit-animation-delay: 750ms;
  animation-delay: 750ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003293}}
.reverse-anim .dash-anim-line > div:nth-of-type(9) {
  -webkit-animation-delay: 850ms;
  animation-delay: 850ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003293}}
.reverse-anim .dash-anim-line > div:nth-of-type(8) {
  -webkit-animation-delay: 950ms;
  animation-delay: 950ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003293}}
.reverse-anim .dash-anim-line > div:nth-of-type(7) {
  -webkit-animation-delay: 1050ms;
  animation-delay: 1050ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003293}}
.reverse-anim .dash-anim-line > div:nth-of-type(6) {
  -webkit-animation-delay: 1150ms;
  animation-delay: 1150ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003293}}
.reverse-anim .dash-anim-line > div:nth-of-type(5) {
  -webkit-animation-delay: 1250ms;
  animation-delay: 1250ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003293}}
.reverse-anim .dash-anim-line > div:nth-of-type(4) {
  -webkit-animation-delay: 1350ms;
  animation-delay: 1350ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003293}}
.reverse-anim .dash-anim-line > div:nth-of-type(3) {
  -webkit-animation-delay: 1450ms;
  animation-delay: 1450ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003293}}
.reverse-anim .dash-anim-line > div:nth-of-type(2) {
  -webkit-animation-delay: 1550ms;
  animation-delay: 1550ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003293}}
.reverse-anim .dash-anim-line > div:nth-of-type(1) {
  -webkit-animation-delay: 1650ms;
  animation-delay: 1650ms;
}

@-webkit-keyframes cpu-failed-cross {
  /* line 306, ../sass/main.scss */
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }

  /* line 307, ../sass/main.scss */
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes cpu-failed-cross {
  /* line 306, ../sass/main.scss */
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }

  /* line 307, ../sass/main.scss */
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003310}}
.cross-fail-anim {
  -webkit-animation-name: cpu-failed-cross;
  animation-name: cpu-failed-cross;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003320}}
.cpu-conn-failed-anim > div {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003324}}
.cpu-conn-failed-anim .cross-fail-anim {
  vertical-align: top;
  margin-top: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003329}}
.cpu-conn-failed-anim .dash-anim-line > div {
  -webkit-animation-name: up-and-down;
  animation-name: up-and-down;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003336}}
.cpu-conn-failed-anim div:nth-child(2) > div:nth-of-type(1) {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003336}}
.cpu-conn-failed-anim div:nth-child(2) > div:nth-of-type(2) {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003336}}
.cpu-conn-failed-anim div:nth-child(2) > div:nth-of-type(3) {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003343}}
.cpu-conn-failed-anim div:nth-child(4) > div:nth-of-type(3) {
  -webkit-animation-delay: 320ms;
  animation-delay: 320ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003343}}
.cpu-conn-failed-anim div:nth-child(4) > div:nth-of-type(2) {
  -webkit-animation-delay: 420ms;
  animation-delay: 420ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003343}}
.cpu-conn-failed-anim div:nth-child(4) > div:nth-of-type(1) {
  -webkit-animation-delay: 520ms;
  animation-delay: 520ms;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003355}}
.key {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003359}}
.key__label {
  position: absolute;
  font-size: 11px;
  font-family: "Arial";
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003366}}
.key__bg-inner {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  position: absolute;
  border: 2px solid #000;
  border-top: 0;
  margin-left: 2px;
  margin-top: -1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003375}}
.key__bg-outer {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  border: 3px solid #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003381}}
.key--small .key__bg-inner {
  width: 44px;
  height: 43px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003386}}
.key--small .key__bg-outer {
  width: 52px;
  height: 48px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003391}}
.key--small .icon-arrow-left {
  margin: 21px 0 0 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003395}}
.key--small .icon-arrow-right {
  margin: 21px 0 0 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003401}}
.key--big .key__label {
  margin-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003405}}
.key--big .key__bg-inner {
  width: 128px;
  height: 43px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003411}}
.key--big .key__label,
.key--big .key__bg-outer {
  width: 135px;
  height: 46px;
}

@-webkit-keyframes dash-right-to-left-to-right {
  /* line 425, ../sass/main.scss */
  10% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 426, ../sass/main.scss */
  47% {
    -webkit-transform: translate(80px, 0);
    -moz-transform: translate(80px, 0);
    -ms-transform: translate(80px, 0);
    -o-transform: translate(80px, 0);
    transform: translate(80px, 0);
  }

  /* line 427, ../sass/main.scss */
  53% {
    -webkit-transform: translate(80px, 0);
    -moz-transform: translate(80px, 0);
    -ms-transform: translate(80px, 0);
    -o-transform: translate(80px, 0);
    transform: translate(80px, 0);
  }

  /* line 428, ../sass/main.scss */
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes dash-right-to-left-to-right {
  /* line 425, ../sass/main.scss */
  10% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 426, ../sass/main.scss */
  47% {
    -webkit-transform: translate(80px, 0);
    -moz-transform: translate(80px, 0);
    -ms-transform: translate(80px, 0);
    -o-transform: translate(80px, 0);
    transform: translate(80px, 0);
  }

  /* line 427, ../sass/main.scss */
  53% {
    -webkit-transform: translate(80px, 0);
    -moz-transform: translate(80px, 0);
    -ms-transform: translate(80px, 0);
    -o-transform: translate(80px, 0);
    transform: translate(80px, 0);
  }

  /* line 428, ../sass/main.scss */
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003431}}
.kb-anim .dash-big {
  -webkit-animation-name: dash-right-to-left-to-right;
  animation-name: dash-right-to-left-to-right;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@-webkit-keyframes keyleft-fade-in-out {
  /* line 441, ../sass/main.scss */
  10% {
    opacity: 1;
  }

  /* line 442, ../sass/main.scss */
  35% {
    opacity: 1;
  }

  /* line 443, ../sass/main.scss */
  47% {
    opacity: 0;
  }

  /* line 444, ../sass/main.scss */
  87% {
    opacity: 0;
  }

  /* line 445, ../sass/main.scss */
  100% {
    opacity: 1;
  }
}

@keyframes keyleft-fade-in-out {
  /* line 441, ../sass/main.scss */
  10% {
    opacity: 1;
  }

  /* line 442, ../sass/main.scss */
  35% {
    opacity: 1;
  }

  /* line 443, ../sass/main.scss */
  47% {
    opacity: 0;
  }

  /* line 444, ../sass/main.scss */
  87% {
    opacity: 0;
  }

  /* line 445, ../sass/main.scss */
  100% {
    opacity: 1;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003448}}
.default-key-anim .key__bg-inner {
  -webkit-animation-name: keyleft-fade-in-out;
  animation-name: keyleft-fade-in-out;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@-webkit-keyframes keyleft-arrow-up-down {
  /* line 455, ../sass/main.scss */
  10% {
    -webkit-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }

  /* line 456, ../sass/main.scss */
  35% {
    -webkit-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }

  /* line 457, ../sass/main.scss */
  47% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 458, ../sass/main.scss */
  87% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 459, ../sass/main.scss */
  95% {
    -webkit-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }
}

@keyframes keyleft-arrow-up-down {
  /* line 455, ../sass/main.scss */
  10% {
    -webkit-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }

  /* line 456, ../sass/main.scss */
  35% {
    -webkit-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }

  /* line 457, ../sass/main.scss */
  47% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 458, ../sass/main.scss */
  87% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 459, ../sass/main.scss */
  95% {
    -webkit-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003462}}
.default-key-anim .key__label {
  -webkit-transform: translate(0, -2px);
  -moz-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  -o-transform: translate(0, -2px);
  transform: translate(0, -2px);
  -webkit-animation-name: keyleft-arrow-up-down;
  animation-name: keyleft-arrow-up-down;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@-webkit-keyframes keyright-fade-out-in {
  /* line 473, ../sass/main.scss */
  10% {
    opacity: 0;
  }

  /* line 474, ../sass/main.scss */
  35% {
    opacity: 0;
  }

  /* line 475, ../sass/main.scss */
  47% {
    opacity: 1;
  }

  /* line 476, ../sass/main.scss */
  87% {
    opacity: 1;
  }

  /* line 477, ../sass/main.scss */
  100% {
    opacity: 0;
  }
}

@keyframes keyright-fade-out-in {
  /* line 473, ../sass/main.scss */
  10% {
    opacity: 0;
  }

  /* line 474, ../sass/main.scss */
  35% {
    opacity: 0;
  }

  /* line 475, ../sass/main.scss */
  47% {
    opacity: 1;
  }

  /* line 476, ../sass/main.scss */
  87% {
    opacity: 1;
  }

  /* line 477, ../sass/main.scss */
  100% {
    opacity: 0;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003480}}
.kb-anim > div:nth-of-type(3) .key__bg-inner {
  -webkit-animation-name: keyright-fade-out-in;
  animation-name: keyright-fade-out-in;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@-webkit-keyframes keyright-arrow-down-up {
  /* line 487, ../sass/main.scss */
  10% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 488, ../sass/main.scss */
  35% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 489, ../sass/main.scss */
  47% {
    -webkit-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }

  /* line 490, ../sass/main.scss */
  92% {
    -webkit-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }

  /* line 491, ../sass/main.scss */
  98% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes keyright-arrow-down-up {
  /* line 487, ../sass/main.scss */
  10% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 488, ../sass/main.scss */
  35% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 489, ../sass/main.scss */
  47% {
    -webkit-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }

  /* line 490, ../sass/main.scss */
  92% {
    -webkit-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }

  /* line 491, ../sass/main.scss */
  98% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003494}}
.kb-anim > div:nth-of-type(3) .key__label {
  -webkit-animation-name: keyright-arrow-down-up;
  animation-name: keyright-arrow-down-up;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003512}}
.kb-anim {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003515}}
.kb-anim .dash-big {
  margin-left: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003520}}
.kb-anim .key {
  display: inline-block;
  margin: 15px 20px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003531}}
.kb-anim > div:nth-of-type(3) .key__bg-inner {
  opacity: 0;
}

@-webkit-keyframes mouse-move {
  /* line 543, ../sass/main.scss */
  10% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 544, ../sass/main.scss */
  50% {
    -webkit-transform: translate(20px, 0);
    -moz-transform: translate(20px, 0);
    -ms-transform: translate(20px, 0);
    -o-transform: translate(20px, 0);
    transform: translate(20px, 0);
  }

  /* line 545, ../sass/main.scss */
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes mouse-move {
  /* line 543, ../sass/main.scss */
  10% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 544, ../sass/main.scss */
  50% {
    -webkit-transform: translate(20px, 0);
    -moz-transform: translate(20px, 0);
    -ms-transform: translate(20px, 0);
    -o-transform: translate(20px, 0);
    transform: translate(20px, 0);
  }

  /* line 545, ../sass/main.scss */
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003548}}
.mouse-anim > .dash-big, .mouse-anim > .icon-mouse {
  -webkit-animation-name: mouse-move;
  animation-name: mouse-move;
  -webkit-animation-duration: 1.6s;
  animation-duration: 1.6s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003555}}
.mouse-anim > .dash-big {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
  margin-left: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Antoine\/Sites\/Works\/NK\/Chrome-Pong\/ui\/sass\/main\.scss}line{font-family:\00003561}}
.mouse-anim > .icon-mouse {
  margin-top: 15px;
}
