
@font-face { 
  font-family: 'eboyregalpha';
  src: url('/fonts/eboy-regalpha-webfont.eot');
  src: url('/fonts/eboy-regalpha-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/eboy-regalpha-webfont.woff') format('woff'),
  url('/fonts/eboy-regalpha-webfont.ttf') format('truetype'),
  url('/fonts/eboy-regalpha-webfont.svg#webfont') format('svg');
}


/*
 * All state-spcific elements should be hidden by default:
 */

.state {
  visibility: hidden;
  &.active {
    visibility: visible;
  }
}

/*
 * Single player mode is default
 */

.single {
}
.multi {
  display: none;
}

/*
 * BUTTONS
 */

button, a.button {
  font-family: 'eboyregalpha';
  font-size: 24px;
  line-height: 24px;
  display: inline-block;
  width: auto;
  background: #e2e2c5;
  border-top: 5px solid #f9f9da;
  border-left: 5px solid #f9f9da;
  border-right: 5px solid #a7a793;
  border-bottom: 5px solid #a7a793;
  color: #449744;
  padding: 1px 45px 6px 45px; /* Det ska vara 8px uppe och nere med typsnittet är lite fucked. */
  text-transform: uppercase;
  text-decoration: none;
}
button:hover, a.button:hover {
  background: #c2c2a5;
}

/*
 * DIALOGS
 */

.state .dialog {
  z-index: 500;
      width: 100%;
      height: 33%;
      position: absolute;
      bottom:40px;
      margin: 0;
      padding:0;
      -webkit-perspective: 2000px;
         -moz-perspective: 800px;
           -o-perspective: 800px;
              perspective: 800px;
}
.state .dialog .content {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-filter:brightness(0);
      -webkit-transform-origin: center center;

      -webkit-transition: all 1s;
         -moz-transition: -moz-transform 1s;
           -o-transition: -o-transform 1s;
              transition: transform 1s;

      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;

      background: #e2e2c6;
}
.state.inactive .dialog .content {

      -webkit-transform-origin: center center;

      -webkit-transform: rotateX( 85deg ) translateZ(-400px) translateY(-200px);
         -moz-transform: rotateX( 65deg );
           -o-transform: rotateX( 65deg );
              transform: rotateX( 65deg );

      -webkit-filter:brightness(-0.5);
}



/*
 * STRUCTURE
 */

body {
  overflow: hidden;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  background: #000;

  font-family: 'Varela', sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;

  #wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;

    #headBar {

      top: -40px;
      -webkit-transition: top 0.5s;
         -moz-transition: -moz-transform 0.5s;
           -o-transition: -o-transform 0.5s;
              transition: transform 0.5s;
      visibility: visible;
      &.active {
        top: 0px;
      }

      z-index: 50000000;
      background: #faf9db;
      width: 100%;
      height: 40px;
      position: absolute;
      text-align: right;

      .userName {
        color: #e83028;
        margin: 0px 19px 0px 0px;
      }

      button, a.button {
        font-family: 'Varela', sans-serif;
        font-size: 12px;
        line-height: 12px;

        color: #e83028;
        border: 1px solid #e83028;
        background: #faf9db;
        padding: 7px 39px 7px 39px;
        margin: 6px 6px 0px 0px;
        text-decoration: none;
      }
      button:hover, a.button:hover {
        background: #e83028;
        color: #faf9db;
      }

    }

    #content {

       /*
        * MAIN MENU:
        */

      #chromeTechLink {
        min-height: 44px;
        color: #ffffff;
        position: absolute;
        bottom: 63px;
        right: 20px;
        z-index: 200;
        text-align: right;
        padding: 0px 80px 0px 0px;
        background-image: url('/images/minipong.png');
        background-repeat: no-repeat;
        background-position: right center;
        font-size: 11px;
        text-decoration: none;
        display: block;
        small {
          display: inline-block;
          padding: 4px 0px 3px 0px;
          font-size: 9px;
        }
      }

      #chromeExperimentLink {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        text-transform: none;
        min-height: 44px;
        color: #ffffff;
        position: absolute;
        bottom: 63px;
        left: 30px;
        z-index: 200;
        font-size: 24px;
        margin: 0;
        padding: 0;
        line-height: 106%;
        text-decoration: none;
        display: block;
        small {
          display: block;
          font-size: 11px;
          line-height: 11px;
          margin: 0;
          padding: 0;
        }
        p {
          display: block;
          margin: 3px 0px 0px 0px;
          padding: 0;
        }
      }

      #mainmenu {
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100%;
        top: 0px;
        text-align: center;

        color: #f8fadb;

        #title {

          padding: 75px 0px 30px 0px;

          h1 {
            padding: 0px 0px 0px 0px;
            width: 680px;
            height: 105px;
            background-image: url('/images/logo.png');
            margin: 0px auto 0px auto;
            span {
              display: none;
            }
          }

        }

        p {
          margin: 0;
          padding: 0;
        }
        
        .buttonWrapper {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
        }

        button {
          bottom: 92px;
          position: absolute;
        }

      }

      /*
       * PADDLE SETUP:
       */

      #cameraRequestAttention {
        border-top: 10px solid #fd306f;
        width: 100%;
        height: 200px;
        position: absolute;
        top: 0px;
        left: 0px;
        display: none;
        text-align: center;
        z-index: 100;

        img {
          margin: -170px auto 0px auto;
        }
      }

      #paddleSelection {
        position: absolute;
        margin: 0px auto 0px auto;
        bottom: 150px;
        z-index: 500;
        width: 100%;
        text-align: center;
      }

      #game {
        display: block;

        canvas {
          position: absolute;
          top: 0;
        }

        #canv-2d {
          background: rgba(1,1,1,.3);
          display: none;
        }

      }

      /*
       * COUNTDOWN
       */

      #gamestartCountdown {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 150px;
        color: #00ff00;
        z-index:50000;
      }

      /*
       * FOOTER
       */

      #footer {
        display: block;
        overflow: hidden;
        height: 40px;
        background: #000;
        position: absolute;
        z-index: 10000000;
        bottom: 0px;
        left: 0px;
        width: 100%;

        #socials {

          position: absolute;
          display: inline-block;
          width: 150px;

          margin-left: 30px;

          div {
            width: 20px;
            height: 20px;
            margin-top: 9px;
            margin-right: 5px;
            display: inline-block;

            &.googleplus { background-image: url('/images/socials_googleplus.png'); }
            &.facebook { background-image: url('/images/socials_facebook.png'); }
            &.twitter { background-image: url('/images/socials_twitter.png'); }
            &.something { background-image: url('/images/socials_something.png'); }

            span {
              display: none;
            }

          }

        }

        #footMenu {
          display: block;
          text-align: right;
          font-size: 9px;

          ul {
            list-style: none;
            margin: 0 0 0 0;
            padding: 14px 0 0 0;
            li {
              text-transform: uppercase;
              list-style: none;
              margin: 0 0 0 0;
              padding: 0 0 0 0;
              display: inline-block;
              margin-left: 20px;
              a {
                color: #e8e8ca;
                text-decoration:none;
                &:hover {
                  text-decoration: underline;
                }

                &.soundSwitch {
                  margin-right: 30px;
                }
              }
            }
          }

        }

      }

      /*
       * DEBUGING
       */

      .info {
        position: absolute;
        bottom: -100px; /* Hidden, make positive to show. */
        left: 20px;
        background: rgba(127,127,127,0.5);
      }

      .info li {
        &.hidden {
          display: none;
        }
      }

      .info video {
        border: 1px dashed red;
      }

    }

  }

}

/* FOR DEBUGGING: */

#settingsGUIContainer {
  display: none;
}

.renderer-2d ul {
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
}

#colorSelectContainer {
  z-index:1000;
  display:none;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-240px;
  margin-left:-320px;
  width: 640px;
    height:480px;
}

#colorSelectArea {
  position:absolute;
  width:100px;
  height:100px;
  left: 450px;
  top:80px;
  border: 10px solid red;
  z-index:30;
}

#colorSelectCenter {
  position:absolute;
  display: block;
  left:50%;
  top:50%;
  margin-left:-5px;
  margin-top:-5px;
  width:10px;
  height:10px;
  border: 1px solid black;
  border-radius: 5px 5px 5px 5px;
  z-index:31;
}

#marker {
  position:absolute;
  width:20px;
  height:20px;
  top:350px;
  background-color: #ff0000;
  border-radius: 10px 10px 10px 10px;
  z-index:390;
}

#videoInput {
  /*display:none;
*/

    left:5px;
    margin-top: 15px;
    -webkit-transform: scale(-1,1);
    width: 640px;
    height:480px;
    border-radius: 8px 8px 8px 8px;

}

#settingsGUIContainer {
  position:absolute;
  left:20px;
  z-index:4000;
}


