@font-face {
  font-family: 'eboyregalpha';
  src: url('/fonts/eboy-regalpha-webfont.eot');
  src: url('/fonts/eboy-regalpha-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/eboy-regalpha-webfont.woff') format('woff'),
  url('/fonts/eboy-regalpha-webfont.ttf') format('truetype'),
  url('/fonts/eboy-regalpha-webfont.svg#webfont') format('svg');
}

/*
 * All state-spcific elements should be hidden by default:
 */

.state {
  visibility: hidden;
  &.active {
    visibility: visible;
  }
}

/*
 * Single player mode is default
 */

.singleplayer {
}
.multiplayer, .full {
  display: none;
}

/*
 * Slave is default (which is a bit stupid)
 */

.host {
 display: none;
}
.slave {
}

/*
* Alert
*/

.alert-icon {
  border-radius: 14px;
  width:28px;
  height:28px;
  display:block;
  margin: 7px 15px 7px 30px;
  float:left;
}

.red {
  background: #f52c1f;
}

.alert-info {
  float:left;
  color: #f52c1f;
  line-height:45px;
}

/*
 * BUTTONS
 */



button, a.button {
  cursor: pointer;
  font-family: 'Varela', sans-serif;
  font-size: 14px;
  line-height: 14px;
  width: auto;
  border-top: 5px solid #f9f9da;
  border-left: 5px solid #f9f9da;
  border-right: 5px solid #a7a793;
  border-bottom: 5px solid #a7a793;
  color: #449744;
  background: #e2e2c5;
  padding: 10px 50px 10px 50px; /* Det ska vara 8px uppe och nere med typsnittet är lite fucked. */
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;

  &.green {
    color: #f9f9da;
    background: #4daf4d;
    border-top: 5px solid #58c458;
    border-left: 5px solid  #58c458;
    border-bottom: 5px solid #398239;
    border-right: 5px solid  #398239;
    outline: solid 2px #4daf4d;
  }

   &.blue {
    color: #f9f9da;
    background: #5194d6;
    border-top: 5px solid #62a5e7;
    border-left: 5px solid  #62a5e7;
    border-bottom: 5px solid #2e71b3;
    border-right: 5px solid  #2e71b3;
    outline: solid 2px #5194d6;
  }

  &.alternative {
    font-family: 'Varela', sans-serif;
    font-size: 12px;
    line-height: 12px;
    background: none;

    color: #e83028;
    border: 1px solid #e83028;
    padding: 5px 12px 6px 12px;
    margin: 0px 4px 0px 3px;
    text-decoration: none;

    &.green {
      background: none;
      color: #4daf4d;
      border: 1px solid #4daf4d;
    }

  }

  &:disabled,
  &.disabled,
  &:disabled:hover {
    color: #577da3;
    background: #31669a !important;
    border: 5px solid #2c5f91;
    outline: solid 2px #3e7dbc;
  }

}
button:hover,
a.button:hover {
  background: #d2d2b5;
  &.green {
    background: #40a040;
  }
  &.blue {
    background: #4376a7;
  }
  &.alternative {
    background: #e83028;
    color: #faf9db;
    &.green {
      background: #4daf4d;
    }
  }
}



/*
 * DIALOGS
 */

.state .dialog {
  z-index: 50000;
      width: 100%;
      height: 33%;
      position: absolute;
      bottom: 40px;
      margin: 0;
      padding:0;
      -webkit-perspective: 2000px;
         -moz-perspective: 800px;
           -o-perspective: 800px;
              perspective: 800px;
  &.top {
    top: 0;
    height:45px;
    text-align:left;

    

  }
  &.middle {
    bottom: 33%;
    min-height:266px;
  }
}
.state .dialog .content {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-filter:brightness(0);
    -webkit-transform-origin: center center;

    -webkit-transition: all 0.6s ;
       -moz-transition: -moz-transform 0.6s;
         -o-transition: -o-transform 0.6s;
            transition: transform 0.6s;

    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
         -o-transform-style: preserve-3d;
            transform-style: preserve-3d;

    background: #f9f9db;

    display:table;

}

.state .dialog .content .verticalCenter {
  display:table-cell;
  vertical-align:middle;
}

.state.inactive .dialog .content {

      -webkit-transform-origin: center center;

      -webkit-transform: rotateX( 85deg ) translateZ(-400px) translateY(-200px);
         -moz-transform: rotateX( 65deg );
           -o-transform: rotateX( 65deg );
              transform: rotateX( 65deg );

      -webkit-filter:brightness(-0.5);

}

.state.inactive .dialog.top .content {

    text-align: left;

      -webkit-transform-origin: center center;

      -webkit-transform: rotateX( -85deg ) translateZ(-400px) translateY(50px);
         -moz-transform: rotateX( -65deg );
           -o-transform: rotateX( -65deg );
              transform: rotateX( -65deg );

      -webkit-filter:brightness(-0.5);
}

.state.inactive .dialog.middle .content {

    -webkit-transform-origin: center center;

    -webkit-transform: rotateX( -90deg );
       -moz-transform: rotateX( -90deg );
         -o-transform: rotateX( -90deg );
            transform: rotateX( -90deg );

    -webkit-filter:brightness(-0.5);

}

.dialog {

  text-align: center;

  h2 {
    font-family: 'Varela', sans-serif;
    color: #e83028;
    font-weight: normal;
    margin: 0;
    font-size: 14x;
    line-height: 25px;
    padding: 0px 0px 10px 0px;
  }
  p {
    color: #e83028;
    font-family: 'Varela', sans-serif;
    span {
      &.green {
        color: #2aa52a;
      }
    }
  }

}

.centerContent {

  display:-moz-box;
  -moz-box-orient:horizontal;
  -moz-box-pack:center;
  -moz-box-align:center;
  display:-webkit-box;
  -webkit-box-orient:horizontal;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  display:box;
  box-orient:horizontal;
  box-pack:center;
  box-align:center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;

}


/*
 * HEAD BAR
 */

body.MainMenu {
  #headBar {
    &.loginInfo {
      top: 0px;

      /* Correct content at right time: */
      &.loginInfo .headBarContent.loginInfo {
        display: block;
      }

    }
  }
}
body.Play, body.Pause {
  #headBar {
    &.shareLink, &.opponentPaddle, &.opponentReady, &.friendArrived {
      top: 0px;
      &.playingmulti { /* No headBar during the game when playing multi-player */
        /*top: -40px;*/
      }

      /* Correct content at right time: */
      &.shareLink .headBarContent.shareLink,
      &.opponentPaddle .headBarContent.opponentPaddle,
      &.opponentReady .headBarContent.opponentReady,
      &.friendArrived .headBarContent.friendArrived {
        display: block;
      }


    }
  }
}


/*
 * STRUCTURE
 */
html {
  overflow: hidden;
}

body {
  overflow: hidden;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  background: #000;

  font-family: 'Varela', sans-serif;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  font-weight:bold;
  text-transform: uppercase;

  #wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;

    #content {

      /*
       * LOADING
       */

      .state.Loading {
        width: 100%;
        height: 100%;
        background: #fff;
        position: absolute;
        z-index: 100000000;
        display: block;
        visibility: visible;
      }

      /*
       * MAIN MENU:
       */

      #chromeTechLink {
        min-height: 44px;
        color: #ffffff;
        position: absolute;
        bottom: 63px;
        right: 20px;
        z-index: 200;
        text-align: right;
        padding: 0px 80px 0px 0px;
        background-image: url('/images/minipong.png');
        background-repeat: no-repeat;
        background-position: right center;
        font-size: 12px;
        font-weight:bold;
        text-decoration: none;
        line-height:15px;
        letter-spacing:2px;
        display: block;
        small {
          margin-top:-13px;
          padding: 0px 0px 4px 0px;
          font-size: 8px;
          line-height:14px;
        }
      }

      #chromeExperimentLink {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        text-transform: none;
        font-size: 24px;
        line-height: 106%;
        text-decoration: none;

        width:107px;
        height:56px;
        color: #ffffff;
        position: absolute;
        bottom: 63px;
        left: 30px;
        z-index: 200;

        margin: 0;
        padding: 0;

        display: block;
        background-image:url("/images/chrome-experiment.png");

        small {
          display: block;
          font-size: 11px;
          line-height: 11px;
          margin: 0;
          padding: 0;
        }
        p {
          display: block;
          margin: 3px 0px 0px 0px;
          padding: 0;
        }
      }

      #mainmenu {
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100%;
        top: 0px;
        text-align: center;

        color: #f8fadb;

        #title {

          overflow:hidden;
          padding: 50px 0px 0px 0px;

          h1 {
            padding: 0px 0px 0px 0px;
            span {
              display: none;
            }
          }

          h2 {
            font-size: 12px;
          }

          img {
            width: 70%;
            height: auto;
            margin-bottom:0;
          }

        }

        p {
          margin: 0;
          padding: 0;
          line-height: 145%;
        }


        .buttonWrapper {
          display: block;
          position:absolute;
          text-align: center;

          bottom:100px;
          width:100%;

        }

        button.playComputer {
          margin-left:20px;
        }

        .bubble {
          display:block;
          position:absolute;
          width: 56px;
          height: 56px;
          background-image: url("/images/bubbles.png");
          background-repeat: no-repeat;

          &.red {
            background-position: 0px 0px;
          }
        }
      }

      /*
       * WEBCAM ACTIVATION
       */

      

      .state.WebcamActivation {
        .dialog {
        }
        
      }
      /*
       * WEBCAM INFORMATION
       */

      .state.WebcamInformation {
        .dialog {
          button {
            margin: 10px 0px 20px 0px;
          }
        }
        
        #activateCamera {
          color: #40a040;
          text-decoration: underline;
          text-transform: uppercase;
          float:left;
            
          line-height:45px;
        }

      }

      /*
       * PADDLE SETUP:
       */

      #cameraRequestAttention {
        border-top: 10px solid #e83028;
        width: 100%;
        height: 200px;
        position: absolute;
        top: 0px;
        left: 0px;
        display: none;
        text-align: center;
        z-index: 100;

        img {
          margin: -170px auto 0px auto;
        }
      }

      #game {
        display: block;

        canvas {
          position: absolute;
          top: 0;
        }

        #canv-2d {
          background: rgba(255,255,255,.3);
          top: 50px;
          display: none;
        }

        #remoteInput {
          display: none;
          position: absolute;
          z-index: 10000;
          background: red;
        }

        #countdown-cover {
          display:none;
          opacity:0;
          position:fixed;
          z-index:100;
          width:100%;
          height:100%;
          background:#000;

        }
      }

      /*
       * COUNTDOWN
       */

       state.GameInstructions,
      .state.GameStart {
        display:-moz-box;
        -moz-box-orient:horizontal;
        -moz-box-pack:center;
        -moz-box-align:center;
        display:-webkit-box;
        -webkit-box-orient:horizontal;
        -webkit-box-pack:center;
        -webkit-box-align:center;
        display:box;
        box-orient:horizontal;
        box-pack:center;
        box-align:center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 500;
        -webkit-perspective: 2000px;
          -moz-perspective: 2000px;
            -o-perspective: 2000px;
                perspective: 2000px;
      }

      #gameInstructions {


        -webkit-filter:brightness(0);
        -webkit-transform-origin: center center;

        -webkit-transition: all 0.5s;
          -moz-transition: -moz-transform 0.5s;
            -o-transition: -o-transform 0.5s;
                transition: transform 0.5s;

        -webkit-transform-style: preserve-3d;
          -moz-transform-style: preserve-3d;
            -o-transform-style: preserve-3d;
                transform-style: preserve-3d;

        background: #e2e2c6;
        width: 100%;
        height: 300px;
        text-align: center;
          -webkit-transform: rotateX( 0deg );
            -moz-transform: rotateX( 0deg );
              -o-transform: rotateX( 0deg );
                  transform: rotateX( 0deg );

          -webkit-filter:brightness(-0);
         opacity: 1;
        &.inactive {
          visibility: hidden;

          -webkit-transform-origin: center center;

          -webkit-transform: rotateX( -90deg ) translateZ(0px);
            -moz-transform: rotateX( -90deg );
              -o-transform: rotateX( -90deg );
                  transform: rotateX( -90deg );

          -webkit-filter:brightness(-0.5);
          opacity: 0;
        }
      }

      #gamestartCountdown {
         display:block;
         width:300px;
         height:220px;
         background-image:url("/images/countdown.png");
         background-position:0px -440px;
         /*-webkit-animation-iteration-count: 3;
         -webkit-animation: scaleIn 1s; */

      }


      #controlsInstructions {
        width: 100%;
        margin: 25px 0 28px;

        &>p,
        &>div {
          display: inline-block;
        }

        &>p {
          vertical-align: top;
          margin: 42px 7px 0;
        }

        // img {
        //   padding:0 10px 0 10px;
        //   vertical-align:middle;
        // }
      }

      .state.WaitForFriend .dialog {

        h2 {
          font-size:14px;
          padding-top: 10px;
        }
        p {
         font-size:11px;
        }
      }

      .state.WaitingFriend .dialog {

        h2 {
          font-size:14px;
          padding-top: 10px;
        }
        p {
         font-size:11px;
        }
      }

      .state.WaitingFriendAccept .dialog {

        h2 {
          font-size:14px;
          padding-top: 10px;
        }
        p {
         font-size:11px;
        }
      }

      .state.FriendArrived .dialog {

        h2 {
          font-size:14px;
          padding-top: 10px;
        }
        p {
           font-size:11px;
        }
      }

      .state.InviteFriend {
        
        h2 {
          font-size:14px;
          padding-top: 20px;
        }
        p {
           margin-top: 20px;
           font-size:11px;
        }

        #inviteBox {
          border: #2aa52a 1px solid;
          display: inline-block;
          font-family: 'Varela', sans-serif;
          font-size: 11px;
          cursor: pointer;
        }

        input[type="button"] {
          display:inline;
          background: #2aa52a;
          padding-left:20px;
          padding-right:20px;
          line-height: 21px;
          margin: 0;
          border:none;
          color: #f9f9da;
          text-transform: uppercase;
        }

        input[type="button"]:hover {
          background: #207f20;
        }

        input[type="text"] {
          background: #f9f9da;
          color: #2aa52a;
          width:303px;
          height:22px;
          //text-transform: lowercase;
          border: 2px #f9f9da solid;
          padding:0 5px 0 5px;
        }

        input[type="text"]:focus {
          outline: none;
        }

        

        a.backFromInvite {
          color:#501f8f;
          text-transform: uppercase;
          text-decoration: underline;
          cursor: pointer;
        }
        
      }

      /*
       * GAME STUFF
       */

      #gameScores {
        color: #f9f9da;
        position: absolute;
        z-index: 499;
        top: 100px;
        left: 70px;
        line-height:15px;

        img {
          margin-bottom: 6px;
        }
        &.inactive {
          display: none;
        }
        .score {
          font-family: 'eboyregalpha';
          font-size: 60px;
          font-weight:normal;
          line-height:51px;
        }
      }

      #level {
        &.inactive {
          display: none;
        }
      }

      #scoresRunning {
        &.inactive {
          display: none;
        }
      }


      /*
       * PAUSED
       */

      .state.Pause {

        .dialog {
          height: 266px;
        }
        h2 {
          padding-top: 40px;
          padding-bottom: 20px;
        }
        p {
          padding-bottom: 25px;
        }
      }

      /*
       * GAME OVER
       */

      #bautaGameOver {
        font-size: 200px;
        text-align: center;
        color: #fdeb3e;
        position: absolute;
        width: 100%;
        top: 21%;
        font-family: 'eboyregalpha';
        z-index: 500;
        line-height: 80px;

        img {
          width:60%;
          height: auto;
        }
      }

      #gameOverDialog {

        text-align: center;

        .dialog {
          height: 266px;
        }
        h2 {
          font-family: 'Varela', sans-serif;
          font-size: 14px;
          padding-top: 15px;
        }

        h3 {
          font-family: 'Varela', sans-serif;
          font-size: 12px;
        }

        p {
          padding-bottom: 25px;
        }

        .scoreboard {
          color: #e83129;
           display:-moz-box;
          -moz-box-orient:horizontal;
          -moz-box-pack:center;
          -moz-box-align:center;
          display:-webkit-box;
          -webkit-box-orient:horizontal;
          -webkit-box-pack:center;
          -webkit-box-align:center;
          display:box;
          box-orient:horizontal;
          box-pack:center;
          box-align:center;

          padding: 20px 0px 40px 0px;

          &.multiplayer {
            padding: 0px 0px 20px 0px;
          }

          div {
            margin-right:20px;
          }

          div:last-child {
            margin-right:0px;
          }

          div.highscoreDigit {

            color: #f9f9da;
            font-size:24px;
            background: #e83129;

            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            overflow: hidden;
            padding: 0;
            border-radius: 25px;
            -webkit-border-radius: 25px;
            -o-border-radius: 25px;
          }
        }
      }

      /*
       * YOUR FRIEND LEFT THE GAME
       */

      .state.OpponentLeft .dialog {
        height: 266px;
        h2 {
          padding-bottom: 20px;
        }
        p {
          line-height: 150%;
          span {
            color: #4daf4d;
            display: block;
          }
          padding-bottom: 25px;
        }
      }



      /*
       * FOOTER
       */

      #footer {
        display: block;
        overflow: hidden;
        height: 40px;
        background: #000;
        position: absolute;
        z-index: 10000000;
        bottom: 0px;
        left: 0px;
        width: 100%;

        #socials {

          position: absolute;
          display: inline-block;
          width: 150px;

          margin-left: 30px;

          div {
            width: 20px;
            height: 20px;
            margin-top: 9px;
            margin-right: 5px;
            display: inline-block;

            &.googleplus { background-image: url('/images/socials_googleplus.png'); }
            &.facebook { background-image: url('/images/socials_facebook.png'); }
            &.twitter { background-image: url('/images/socials_twitter.png'); }
            &.something { background-image: url('/images/socials_something.png'); }

            span {
              display: none;
            }

          }

        }

        #footMenu {
          display: block;
          text-align: right;
          font-size: 9px;

          ul {
            right: 0px;
            position: absolute;
            list-style: none;
            margin: 0 0 0 0;
            padding: 14px 0 0 0;
            li {
              text-transform: uppercase;
              list-style: none;
              margin: 0 0 0 0;
              padding: 0 0 0 0;
              display: inline-block;
              margin-right: 20px;
              a {
                color: #e8e8ca;
                text-decoration:none;
                &:hover {
                  text-decoration: underline;
                }

                &.soundSwitch {

                }
              }
            }
          }

          .soundSwitch {
            .on, .off {
              display: none;
            }
            &.on .on, &.off .off {
              display: inline;
            }
          }



        }

      }


    }

  }

}

/* FOR DEBUGGING: */

#settingsGUIContainer {
  display: block;
  position:absolute;
  left:20px;
  z-index:60000000;
}

#settingsDataGUI {
    position:absolute;
}

#settingsLevelsGUI {
  left:400px;
  position:absolute;
}

#statsDebug {
  height:auto;
  width:auto;
  float:right;
}

.ui_video {
  height:121px !important;
  float:left;
}

.closed .ui_video {
  height: 0px !important;
}

.videoLabel {
  width:300px;
  text-align: center;
  font-family: verdana;
  font-size:11px;
  color: #999999;
  margin: 0px 0 5px 0;
  clear:both;
}

.renderer-2d ul {
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
}

#colorSelectContainer {
  z-index:1000;
  display:none;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-240px;
  margin-left:-320px;
  width: 640px;
    height:480px;
}

#colorSelectArea {
  position:absolute;
  width:100px;
  height:100px;
  left: 450px;
  top:80px;
  border: 10px solid red;
  z-index:30;
}

#colorSelectCenter {
  position:absolute;
  display: block;
  left:50%;
  top:50%;
  margin-left:-5px;
  margin-top:-5px;
  width:10px;
  height:10px;
  border: 1px solid black;
  border-radius: 5px 5px 5px 5px;
  z-index:31;
}

#marker {
  position:absolute;
  width:20px;
  height:20px;
  top:350px;
  background-color: #ff0000;
  border-radius: 10px 10px 10px 10px;
  z-index:390;
}

#videoInput {
  display:none;

    left:5px;
    margin-top: 15px;
    -webkit-transform: scale(-1,1);
    width: 640px;
    height:480px;
    border-radius: 8px 8px 8px 8px;

}

#uiTopContent {
  position:relative;
}

#monitorFinalBlobs {
  position:absolute;
  z-index:3;
}


#debug-info {
  // display:none;
  position: absolute;
  z-index: 100000;
  right: 0;
  top: 80px;
  height: 50%;
  width: 150px;
  background: rgba(0,0,0,0.2);
  padding: 10px;
  margin-right: -150px;
  list-style: none;
  overflow: scroll;
  letter-spacing: 0;

  /*
  <li class='data-channel'><span class='label'>{label}</span> {id1} -> {id2}</li>
  <li class='state-history {source}'>{state}</li>
  <li class='host-status {status}'>{status}</li>
  */
  time, .debug-type {
    text-indent: -10000px;
    width: 0;
    position: absolute;
    left: -1000px;
  }
  .host-status { background: grey; }
  .host-status.host { color: blue; }
  .host-status.guest { color: red; }
  .data-channel { color: green; background: lightgrey; }
  .state-history { color: white; }
  .state-history.local { background: darkblue; }
  .state-history.local-invite { background: lightblue; }
  .state-history.remote { background: darkred; }
  li {
    margin-bottom: 1px;
    white-space: pre;
  }

  &:hover {
    margin-right: 0;
  }
}

@-webkit-keyframes scaleIn {

  from {
    -webkit-transform: scale( 0.3 );
    -moz-transform: scale( 0.3 );
      -o-transform: scale( 0.3 );
          transform: scale( 0.3 );
  }

  to {
    -webkit-transform: scale( 1 );
    -moz-transform: scale( 1 );
      -o-transform: scale( 1 );
          transform: scale( 1 );
  }
}


// ==========================================================================
// CONTROLS INSTRUCTIONS ANIMATIONS
// ==========================================================================

// ICONS
// ==========================================================================
.icons-sprite, .icons-cam, .icons-cam__spinner, .icons-computer, .icons-cross-fail, .icons-key-arrow-left, .icons-key-arrow-right, .icons-mouse, .icon-webcam, .icon-quarter-circle, .icon-computer, .icon-arrow-left, .icon-arrow-right, .icon-cross, .icon-mouse {
  background: url('../images/icons-s4e56167bd4.png') no-repeat;
}

.icons-cam {
  background-position: 0 0;
}

.icons-cam__spinner {
  background-position: 0 -205px;
}

.icons-computer {
  background-position: 0 -67px;
}

.icons-cross-fail {
  background-position: 0 -161px;
}

.icons-key-arrow-left {
  background-position: 0 -321px;
}

.icons-key-arrow-right {
  background-position: 0 -310px;
}

.icons-mouse {
  background-position: 0 -260px;
}

.icon-webcam {
  background-position: 0 0;
  height: 65px;
  width: 51px;
}

.icon-quarter-circle {
  background-position: 0 -205px;
  height: 53px;
  width: 53px;
}

.icon-computer {
  background-position: 0 -67px;
  height: 92px;
  width: 67px;
}

.icon-arrow-left {
  background-position: 0 -321px;
  height: 9px;
  width: 9px;
}

.icon-arrow-right {
  background-position: 0 -310px;
  height: 9px;
  width: 9px;
}

.icon-cross {
  background-position: 0 -161px;
  height: 42px;
  width: 42px;
}

.icon-mouse {
  background-position: 0 -260px;
  height: 48px;
  width: 39px;
}


// DASHES
// Differents size and colors
// ==========================================================================

.dash-white {
  background: #F9F9DA;
}

.dash-black {
  background: #000;
}

.dash-big {
  width: 30px;
  height: 6px;
}

.dash-medium {
  width: 14px;
  height: 4px;
}

.dash-small {
  width: 14px;
  height: 6px;
}

// WEBCAM SPINNER
// ==========================================================================

// Spiner animation
//
@-webkit-keyframes spinner-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.webcam-spinner {
  position: relative;
  left: 50%;
  margin-left: -50px;
}

.webcam-spinner__bg {
  position: absolute;
  margin: 19px 0 0 27px;
}

.webcam-spinner__quarter {
  -webkit-animation: spinner-rotate 1.5s infinite;
  animation: spinner-rotate 1.5s infinite;
  height: 106px;
  width: 106px;
}

/* COMPUTER WITH EYES
// ========================================================================== */

/*
Just a computer with eyes whithout any anim.
*/
.cpu-wth-eyes {
  position: relative;
  left: 50%;
  margin-left: -34px;
  height: 92px;
  width: 67px;
  margin-bottom: 20px;
}

.cpu-wth-eyes__bg {
  position: absolute;
}

.cpu-wth-eyes__container {
  position: relative;
}

.cpu-wth-eyes__eyes {
  position: absolute;
  top: 24px;
  left: 15px;

  &> {
    div:first-of-type {
      margin-right: 5px;
    }
    div {
      display: inline-block;
    }
  }
}

// COMPUTER CONNECTION LOOP ANIMATION
// ==========================================================================

// Eyes blinking animation.
//
@-webkit-keyframes cpu-blinking {
  20%, 40%, 50% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  30%, 45% {
    -webkit-transform: scaleY(0.2);
    transform: scaleY(0.2);
  }
}

@keyframes cpu-blinking {
  20%, 40%, 50% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  30%, 45% {
    -webkit-transform: scaleY(0.2);
    transform: scaleY(0.2);
  }
}

.play-anim .cpu-wth-eyes__eyes > div,
.reverse-anim .cpu-wth-eyes__eyes > div {
  -webkit-animation: cpu-blinking 2s;
  animation: cpu-blinking 2s;
}

.blinking-eyes-anim-loop {
  -webkit-animation: cpu-blinking 2s infinite;
  animation: cpu-blinking 2s infinite;
}

// Sad eyes animation.
//
@-webkit-keyframes cpu-sad-right-eye {
  10%, 30%, 40%, 100% {
    -webkit-transform: scaleY(1) rotate(0deg);
    transform: scaleY(1) rotate(0deg);
  }

  20%, 35% {
    -webkit-transform: scaleY(0.2) rotate(0deg);
    transform: scaleY(0.2) rotate(0deg);
  }

  60%, 94% {
    -webkit-transform: scaleY(1) rotate(20deg);
    transform: scaleY(1) rotate(20deg);
  }
}

@keyframes cpu-sad-right-eye {
  10%, 30%, 40%, 100% {
    -webkit-transform: scaleY(1) rotate(0deg);
    transform: scaleY(1) rotate(0deg);
  }

  20%, 35% {
    -webkit-transform: scaleY(0.2) rotate(0deg);
    transform: scaleY(0.2) rotate(0deg);
  }

  60%, 94% {
    -webkit-transform: scaleY(1) rotate(20deg);
    transform: scaleY(1) rotate(20deg);
  }
}

@-webkit-keyframes cpu-sad-left-eye {
  10%, 30%, 40%, 100% {
    -webkit-transform: scaleY(1) rotate(0deg);
    transform: scaleY(1) rotate(0deg);
  }

  20%, 35% {
    -webkit-transform: scaleY(0.2) rotate(0deg);
    transform: scaleY(0.2) rotate(0deg);
  }

  60%, 94% {
    -webkit-transform: scaleY(1) rotate(-20deg);
    transform: scaleY(1) rotate(-20deg);
  }
}

@keyframes cpu-sad-left-eye {
  10%, 30%, 40%, 100% {
    -webkit-transform: scaleY(1) rotate(0deg);
    transform: scaleY(1) rotate(0deg);
  }

  20%, 35% {
    -webkit-transform: scaleY(0.2) rotate(0deg);
    transform: scaleY(0.2) rotate(0deg);
  }

  60%, 94% {
    -webkit-transform: scaleY(1) rotate(-20deg);
    transform: scaleY(1) rotate(-20deg);
  }
}

.sad-left-eye-anim-loop {
  -webkit-animation: cpu-sad-left-eye 3s infinite;
  animation: cpu-sad-left-eye 3s infinite;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.sad-right-eye-anim-loop {
  -webkit-animation: cpu-sad-right-eye 3s infinite;
  animation: cpu-sad-right-eye 3s infinite;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

// Dashes animation for the wave effect.
//
@-webkit-keyframes up-and-down {
  0%, 20% {
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }

  10% {
    -webkit-transform: translate(0, -20px);
    transform: translate(0, -20px);
  }
}

@keyframes up-and-down {
  0%, 20% {
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }

  10% {
    -webkit-transform: translate(0, -20px);
    transform: translate(0, -20px);
  }
}

.play-anim .dash-anim-line > div,
.reverse-anim .dash-anim-line > div {
  -webkit-animation: up-and-down 2s;
  animation: up-and-down 2s;
}

// Computers connection animation.
// Linked by a dash lines which have a wave effect.
// ==========================================================================
.cpu-conn-anim {
  position: relative;
}
.cpu-conn-anim > div {
  display: inline-block;
}

.dash-anim-line {
  position: relative;
  vertical-align: top;
  top: 34px;
  margin: 0 10px;

  &>div:last-of-type {
    margin-right: 0;
  }

  &>div {
    display: inline-block;
    margin-right: 5px;
  }
}

/*
Two states managed from a js script:
- play:
 > the computer on the left blink eyes
 > wave on dashes from left to right
 > the computer on the right blink eyes
- reverse:
 > the computer on the right blink eyes
 > wave on dashes from right to left
 > the computer on the left blink eyes

It was too tricky to have a perfect sync without using
a JS script.
*/
.play-anim .cpu-wth-eyes:last-of-type .cpu-wth-eyes__eyes > div {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.play-anim .dash-anim-line > div:nth-of-type(1) {
  -webkit-animation-delay: 850ms;
  animation-delay: 850ms;
}
.play-anim .dash-anim-line > div:nth-of-type(2) {
  -webkit-animation-delay: 950ms;
  animation-delay: 950ms;
}
.play-anim .dash-anim-line > div:nth-of-type(3) {
  -webkit-animation-delay: 1050ms;
  animation-delay: 1050ms;
}
.play-anim .dash-anim-line > div:nth-of-type(4) {
  -webkit-animation-delay: 1150ms;
  animation-delay: 1150ms;
}
.play-anim .dash-anim-line > div:nth-of-type(5) {
  -webkit-animation-delay: 1250ms;
  animation-delay: 1250ms;
}
.play-anim .dash-anim-line > div:nth-of-type(6) {
  -webkit-animation-delay: 1350ms;
  animation-delay: 1350ms;
}
.play-anim .dash-anim-line > div:nth-of-type(7) {
  -webkit-animation-delay: 1450ms;
  animation-delay: 1450ms;
}
.play-anim .dash-anim-line > div:nth-of-type(8) {
  -webkit-animation-delay: 1550ms;
  animation-delay: 1550ms;
}
.play-anim .dash-anim-line > div:nth-of-type(9) {
  -webkit-animation-delay: 1650ms;
  animation-delay: 1650ms;
}

.reverse-anim .cpu-wth-eyes:first-of-type .cpu-wth-eyes__eyes > div {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.reverse-anim .dash-anim-line > div:nth-of-type(10) {
  -webkit-animation-delay: 750ms;
  animation-delay: 750ms;
}
.reverse-anim .dash-anim-line > div:nth-of-type(9) {
  -webkit-animation-delay: 850ms;
  animation-delay: 850ms;
}
.reverse-anim .dash-anim-line > div:nth-of-type(8) {
  -webkit-animation-delay: 950ms;
  animation-delay: 950ms;
}
.reverse-anim .dash-anim-line > div:nth-of-type(7) {
  -webkit-animation-delay: 1050ms;
  animation-delay: 1050ms;
}
.reverse-anim .dash-anim-line > div:nth-of-type(6) {
  -webkit-animation-delay: 1150ms;
  animation-delay: 1150ms;
}
.reverse-anim .dash-anim-line > div:nth-of-type(5) {
  -webkit-animation-delay: 1250ms;
  animation-delay: 1250ms;
}
.reverse-anim .dash-anim-line > div:nth-of-type(4) {
  -webkit-animation-delay: 1350ms;
  animation-delay: 1350ms;
}
.reverse-anim .dash-anim-line > div:nth-of-type(3) {
  -webkit-animation-delay: 1450ms;
  animation-delay: 1450ms;
}
.reverse-anim .dash-anim-line > div:nth-of-type(2) {
  -webkit-animation-delay: 1550ms;
  animation-delay: 1550ms;
}
.reverse-anim .dash-anim-line > div:nth-of-type(1) {
  -webkit-animation-delay: 1650ms;
  animation-delay: 1650ms;
}

/* Computer connection failed animaiton
// ========================================================================== */
@-webkit-keyframes cpu-failed-cross {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes cpu-failed-cross {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.cross-fail-anim {
  -webkit-animation: cpu-failed-cross 500ms;
  animation: cpu-failed-cross 500ms;
}

.cpu-conn-failed-anim > div {
  display: inline-block;
}
.cpu-conn-failed-anim .cross-fail-anim {
  vertical-align: top;
  margin-top: 24px;
}
.cpu-conn-failed-anim .dash-anim-line > div {
  -webkit-animation: up-and-down 4s infinite;
  animation: up-and-down 4s infinite;
}
.cpu-conn-failed-anim div:nth-child(2) > div:nth-of-type(1) {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}
.cpu-conn-failed-anim div:nth-child(2) > div:nth-of-type(2) {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}
.cpu-conn-failed-anim div:nth-child(2) > div:nth-of-type(3) {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}
.cpu-conn-failed-anim div:nth-child(4) > div:nth-of-type(3) {
  -webkit-animation-delay: 320ms;
  animation-delay: 320ms;
}
.cpu-conn-failed-anim div:nth-child(4) > div:nth-of-type(2) {
  -webkit-animation-delay: 420ms;
  animation-delay: 420ms;
}
.cpu-conn-failed-anim div:nth-child(4) > div:nth-of-type(1) {
  -webkit-animation-delay: 520ms;
  animation-delay: 520ms;
}

/* KEY
// ========================================================================== */
.key {
  position: relative;
}

.key__label {
  position: absolute;
  font-size: 11px;
  text-align: center;
}

.key__bg-inner {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  position: absolute;
  border: 1px solid #000;
  border-top: 0;
  margin-left: 3px;
  margin-top: -1px;
}

.key__bg-outer {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 2px solid #000;
}

.key--small {
  .icon-arrow-right {
    margin: 21px 0 0 24px;
  }
  .key__bg-inner {
    width: 44px;
    height: 43px;
  }
  .key__bg-outer {
    width: 52px;
    height: 48px;
  }
  .icon-arrow-left {
    margin: 21px 0 0 24px;
  }
}

.key--big {
  .key__label,
  .key__bg-outer {
    width: 135px;
    height: 46px;
  }

  .key__bg-inner {
    width: 128px;
    height: 43px;
  }
  .key__label {
    margin-top: 20px;
  }
}

// Keyboard animation
// ==========================================================================

// Dash animation. Move from right to left.
//
@-webkit-keyframes dash-right-to-left-to-right {
  10%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  47%, 53% {
    -webkit-transform: translate(70px, 0);
    transform: translate(70px, 0);
  }
}

@keyframes dash-right-to-left-to-right {
  10%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  47%, 53% {
    -webkit-transform: translate(80px, 0);
    transform: translate(80px, 0);
  }
}

// Key left animation.
// Fade on the inner border + move the arrow
//
@-webkit-keyframes keyleft-fade-in-out {
  10%, 35%, 100% {
    opacity: 1;
  }

  47%, 87% {
    opacity: 0;
  }
}

@keyframes keyleft-fade-in-out {
  10%, 35%, 100% {
    opacity: 1;
  }

  47%, 87% {
    opacity: 0;
  }
}

// Key left animation.
// Fade on the inner border + move the arrow
//
@-webkit-keyframes keyleft-arrow-up-down {
  10%, 35%, 95% {
    -webkit-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }

  47%, 87% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes keyleft-arrow-up-down {
  10%, 35%, 95% {
    -webkit-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }

  47%, 87% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

// Key right animation.
// Fade on the inner border + move the arrow
//
@-webkit-keyframes keyright-fade-out-in {
  10%, 35%, 100% {
    opacity: 0;
  }

  47%, 87% {
    opacity: 1;
  }
}

@keyframes keyright-fade-out-in {
  10%, 35%, 100% {
    opacity: 0;
  }

  47%, 87% {
    opacity: 1;
  }
}

@-webkit-keyframes keyright-arrow-down-up {
  10%, 35%, 98% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  47%, 92% {
    -webkit-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }
}

@keyframes keyright-arrow-down-up {
  10%, 35%, 98% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  47%, 92% {
    -webkit-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }
}

// Key animations
//
.default-key-anim .key__label {
  -webkit-animation: keyleft-arrow-up-down 3s infinite;
  animation: keyleft-arrow-up-down 3s infinite;
  -webkit-transform: translate(0, -2px);
  transform: translate(0, -2px);
}
.default-key-anim .key__bg-inner {
  -webkit-animation: keyleft-fade-in-out 3s infinite;
  animation: keyleft-fade-in-out 3s infinite;
}

.kb-anim {
  position: relative;

  .key {
    display: inline-block;
    margin: 15px 7px 0 0;
  }

  .dash-big {
    -webkit-animation: dash-right-to-left-to-right 3s infinite;
    animation: dash-right-to-left-to-right 3s infinite;
    margin-left: 14px;
  }
}

// right key
.kb-anim > div:nth-of-type(3) {
  .key__label {
    -webkit-animation: keyright-arrow-down-up 3s infinite;
    animation: keyright-arrow-down-up 3s infinite;
  }

  .key__bg-inner {
    -webkit-animation: keyright-fade-out-in 3s infinite;
    animation: keyright-fade-out-in 3s infinite;
    opacity: 0;
  }
}


// Mouse Animation
// ==========================================================================
@-webkit-keyframes mouse-move {
  10%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(20px, 0);
    transform: translate(20px, 0);
  }
}

@keyframes mouse-move {
  10%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(20px, 0);
    transform: translate(20px, 0);
  }
}

.mouse-anim {
  width: 60px;
}

.mouse-anim > .dash-big,
.mouse-anim > .icon-mouse {
  -webkit-animation: mouse-move 1.6s infinite;
  animation: mouse-move 1.6s infinite;
}

.mouse-anim > .dash-big {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
  margin-left: 5px;
}

.mouse-anim > .icon-mouse {
  margin-top: 15px;
}

// Countdown
// ==========================================================================


.countdown-sprite, .countdown-countdown_1, .countdown-countdown_2, .countdown-countdown_3, .countdown__num[data-number="3"], .countdown__num[data-number="2"], .countdown__num[data-number="1"] {
  background: url('/images/countdown-s9fee64d48a.png') no-repeat;
}

.countdown-countdown_1 {
  background-position: 0 -1436px;
}


.countdown-countdown_2 {
  background-position: 0 0;
}

.countdown-countdown_3 {
  background-position: 0 -718px;
}

@-webkit-keyframes countdown-transition {
  92% {
    -webkit-transform: scale(0.5) translate(0, 0);
    -moz-transform: scale(0.3) translate(0, 0);
    -ms-transform: scale(0.3) translate(0, 0);
    -o-transform: scale(0.3) translate(0, 0);
    transform: scale(0.3) translate(0, 0);
    opacity: 1;
  }

  100% {
  
    opacity: 0;
  }
}

@keyframes countdown-transition {
  100% {
    -webkit-transform: scale(0.5) translate(0, 0);
    -moz-transform: scale(0.3) translate(0, 0);
    -ms-transform: scale(0.3) translate(0, 0);
    -o-transform: scale(0.3) translate(0, 0);
    transform: scale(0.3) translate(0, 0);
    opacity: 1;
  }

  100% {
  
    opacity: 0;
  }
}

.countdown {
  display:block;
  position:relative;
  width: 988px;
  height: 716px;
}

.countdown__num {
  -webkit-animation: countdown-transition 1s ease-out normal;
  animation: countdown-transition 1s ease-out normal;
  position: absolute;
  width: 988px;
  height: 716px;
  -webkit-transform: scale(0.1) translate(0, 90px);
  -moz-transform: scale(0.1) translate(0, 90px);
  -ms-transform: scale(0.1) translate(0, 90px);
  -o-transform: scale(0.1) translate(0, 90px);
  transform: scale(0.1) translate(0, 90px);
  opacity: 0;
}

.countdown__num[data-number="3"] {
  background-position: 0 -718px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.countdown__num[data-number="2"] {
  background-position: 0 0;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.countdown__num[data-number="1"] {
  background-position: 0 -1436px;
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
